RewriteEngine on
RewriteBase /

##首页
RewriteRule ^(\/)?$ /index.php
RewriteRule index.html /index.php
##一级页面
RewriteRule ^([[0-9a-zA-Z]+)/([[0-9a-zA-Z|\-]+)+(\/)?([0-9a-zA-Z|\-]+)?+(.html)?$ /index.php?enname=$1&action=$2&key=$4
###详情页
RewriteRule ^([0-9a-zA-Z]+)+(\/)?([0-9]+)?$ /index.php?enname=$1&id=$3
##搜索组合页面
##RewriteRule ^([0-9a-zA-Z]+)+(\/)?([0-9a-zA-Z|\-]+)?(\/)?([0-9a-zA-Z]+)?(\/)?([0-9a-zA-Z]+)?(\/)?([0-9]+)?$ /index.php?enname=$1&match=$3&order=$5&orderby=$7&page=$9
##静态页面
RewriteRule ^([0-9a-zA-Z]+)+(.html)?+$ /index.php?enname=$1

ErrorDocument 401 /error.html
ErrorDocument 400 /error.html
ErrorDocument 403 /error.html
ErrorDocument 500 /error.html
ErrorDocument 404 /error.html
