/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
.icon_t {
  width: 18px;
  height: 15px;
  background: url("../../images/icon1.png") no-repeat;
  background-size: 790px 513px;
  background-position: -308px -328px;
  display: inline-block;
}
.T_N_title {
  display: inline-block;
  *float: left;
  *width: 60px;
  font-size: 14px;
  line-height: 40px;
  margin-right: 22px;
}
.t_n_ie {
  *width: 100px;
}
.order_title span {
  font-size: 12px;
  margin-right: 10px;
  color: #999;
}
[TourName] .t_title {
  padding: 10px 20px 20px ;
  height: 84px;
}
[TourName] .t_name {
  line-height: 60px;
  font-size: 18px;
}
[TourName] .t_detail {
  font-size: 12px;
  color: #999;
  line-height: 24px;
}
[TourName] .t_detail span {
  margin-right: 10px;
}
[TourDetial] .hotel_title {
  padding: 10px 20px 20px ;
}
[TourDetial] .hotel_name {
  line-height: 60px;
  font-size: 18px;
}
[TourDetial] .h_score {
  font-size: 14px;
  line-height: 36px;
  color: #666;
}
[TourDetial] .h_score strong {
  color: #8ace00;
  font-size: 18px;
}
[TourDetial] .h_score span {
  margin-right: 20px;
}
[TourDetial] .h_order {
  line-height: 34px;
  font-size: 14px;
  color: #666;
}
[TourDetial] .h_order span {
  margin-right: 10px;
}
[TourDetial] .h_detail {
  line-height: 34px;
  font-size: 14px;
  color: #666;
}
[TourDetial] .h_detail span {
  margin-right: 10px;
}
[TourDetial] .h_num {
  font-size: 12px;
  line-height: 24px;
  color: #999;
}
[TourDetial] .icon_park {
  background-position: -278px -324px;
  margin-left: 10px;
  height: 18px;
}
[bottom] {
  margin-top: 90px;
}
