/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[pay_success] .pay_center {
  width: 200px;
  margin: 158px auto 200px;
  padding-left: 100px;
  position: relative;
}
[pay_success] .icon_success {
  width: 86px;
  height: 86px;
  background: url("../../../resources/images/icon1.png") no-repeat;
  background-position: -586px -234px;
  background-size: 790px 513px;
  position: absolute;
  top: 0;
  left: 0;
}
[pay_success] .icon_fail {
  width: 86px;
  height: 86px;
  background: url("../../../resources/images/icon1.png") no-repeat;
  background-position: -690px -234px;
  background-size: 790px 513px;
  position: absolute;
  top: 0;
  left: 0;
}
[pay_success] .pay_center p {
  font-size: 20px;
  padding-bottom: 16px;
  line-height: 20px;
}
[pay_success] .pay_center a {
  color: #53b2fe;
  font-size: 16px;
  display: block;
  position: relative;
}
[pay_success] .pay_ad {
  height: 180px;
  margin-bottom: 88px;
}
[pay_success] .pay_ad img {
  height: 100%;
  width: 100%;
}
[pay_success] .icon_next {
  width: 10px;
  height: 12px;
  background: url("../../../resources/images/icon1.png") no-repeat;
  background-position: -512px -22px;
  background-size: 790px 513px;
  position: absolute;
  top: 10px;
}
[pay_success] .icon_next1 {
  right: 72px;
}
[pay_success] .icon_next2 {
  right: 88px;
}
[pay_success] .icon_next3 {
  right: 120px;
}
/*适配*/
@media (max-width: 1200px) {
  [pay_success] .pay_ad {
    height: 120px;
  }
  [pay_success] .pay_center {
    margin: 100px auto 120px;
  }
  [pay_success] .pay_ad {
    margin-bottom: 50px;
  }
}
@media all and (orientation: portrait) {
  [pay_success] .pay_ad {
    height: 100px;
  }
}
