/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[nav_boxs] {
  border-bottom: 1px solid #e5edf0;
}
[payment] .nav_box {
  margin-top: 20px;
  background: #f9fcf1;
  border: 1px solid #e5edf0;
  padding: 0 20px;
}
[payment] .span_first {
  width: 80%;
}
[payment] .price_num {
  border-bottom: 1px solid #e5edf0;
}
[payment] .price_num span {
  font-size: 20px;
  font-weight: 500 ;
  line-height: 58px;
}
[payment] .price {
  color: #fb7530;
}
[payment] .flight_information {
  margin: auto 0;
  padding: 15px 0 26px 0;
}
[payment] .flight_information p {
  font-size: 14px;
  line-height: 34px;
}
[payment] .warn {
  margin: 18px 0;
}
[payment] .white_paddng {
  height: 50px;
}
[payment] [payMethod] .tabs {
  height: 43px;
  background: #fff;
  border-bottom: 1px solid #e5edf0;
}
[payment] [payMethod] .tabs li {
  float: left;
  width: 180px;
  height: 42px;
  background: #f5f8f9;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #e5edf0;
  cursor: pointer;
  color: #999;
}
[payment] [payMethod] .tabs li.cur {
  height: 43px;
  color: #333;
  background: #fff;
  border-bottom: #fff;
  border-top: 1px solid #7dc400;
}
[payment] [payMethod] .tabsConten {
  padding-bottom: 54px;
  margin-bottom: 54px;
  min-height: 600px;
}
[payment] [payMethod] [wechat-module] .wechat {
  height: 610px;
  border-left: 1px solid #e5edf0;
  border-right: 1px solid #e5edf0;
  border-bottom: 1px solid #e5edf0;
}
[payment] [payMethod] [wechat-module] .prompt {
  width: 233px;
  margin: 125px 68px 0 195px;
  display: inline-block;
}
[payment] [payMethod] [wechat-module] .quickMark {
  width: 313px;
  height: 373px;
  margin-top: 68px;
  display: inline-block;
  margin-bottom: 54px;
}
[payment] [payMethod] [wechat-module] .quickMark img {
  width: 100%;
  height: 100%;
}
[payment] [payMethod] [wechat-module] .prompt img {
  width: 100%;
  height: 100%;
}
[payment] [payMethod] [wechat-module] .prompt p {
  font-size: 12px;
  color: #999;
}
[payment] [payMethod] [wechat-module] .next {
  margin: 0 auto;
}
[payment] [payMethod] [alipay-module] {
  border-bottom: 1px solid #e5edf0;
  border-left: 1px solid #e5edf0;
  border-right: 1px solid #e5edf0;
}
[payment] [payMethod] [alipay-module] .prompt {
  width: 233px;
  margin: 125px 68px 0 195px;
  display: inline-block;
}
[payment] [payMethod] [alipay-module] .quickMark {
  width: 313px;
  height: 373px;
  margin-top: 68px;
  display: inline-block;
  margin-bottom: 54px;
}
[payment] [payMethod] [alipay-module] .quickMark img {
  width: 100%;
  height: 100%;
}
[payment] [payMethod] [alipay-module] .prompt img {
  width: 100%;
  height: 100%;
}
[payment] [payMethod] [alipay-module] .prompt p {
  font-size: 12px;
  color: #999;
}
[payment] [payMethod] [alipay-module] .next {
  margin: 0 auto;
}
[payment] [payMethod] [alipay-module] .alipayPay {
  padding-bottom: 166px;
}
[payment] [payMethod] [alipay-module] .alipay {
  width: 396px;
  height: 133px;
  margin: 0 auto;
  padding: 252px 0 320px;
}
[payment] [payMethod] [alipay-module] .alipay img {
  width: 100%;
  height: 100%;
}
[payment] [payMethod] [credit-module] .select_btn {
  padding: 2px;
}
[payment] [payMethod] [credit-module] .btnSubmit {
  border: 0;
  cursor: pointer;
  overflow: visible;
  padding: 0;
  color: #fff;
  display: inline-block;
  text-align: center;
  outline: 0 none;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: #8ace00;
}
[payment] [payMethod] [credit-module] .btnSubmit_cur {
  background: #7b7f8d;
}
[payment] [payMethod] [credit-module] .btnSubmit:hover {
  background: #7cb700;
}
[payment] [payMethod] [credit-module] .countrylist {
  width: 438px;
  text-align: left;
}
[payment] [payMethod] [credit-module] .select_uni {
  width: 96px;
  vertical-align: top;
}
[payment] [payMethod] [credit-module] .type {
  position: relative;
}
[payment] [payMethod] [credit-module] .icon_pay {
  width: 56px;
  height: 34px;
  background: url("../../images/icon1.png") no-repeat;
  background-size: 790px 513px;
  position: absolute;
  top: 10px;
}
[payment] [payMethod] [credit-module] .type_w {
  display: inline-block;
  width: 106px;
}
[payment] [payMethod] [credit-module] .type_more {
  margin-left: 106px;
  color: #53b2fe;
  display: inline-block;
  cursor: pointer;
}
[payment] [payMethod] [credit-module] .icon_visa {
  width: 80px;
  background-position: -620px -174px;
  left: 148px;
}
[payment] [payMethod] [credit-module] .icon_wans {
  background-position: -460px -172px;
  left: 38px;
}
[payment] [payMethod] [credit-module] .credit {
  height: 930px;
  border-bottom: 1px solid #e5edf0;
  border-left: 1px solid #e5edf0;
  border-right: 1px solid #e5edf0;
}
[payment] [payMethod] [credit-module] .credit .row {
  height: 40px;
  margin: 20px 0;
}
[payment] [payMethod] [credit-module] .credit li.content_first {
  padding-top: 20px;
  margin: 0px;
}
[payment] [payMethod] [credit-module] .btn_ok {
  margin-left: 4px;
  margin-top: 32px;
}
[payment] [payMethod] [credit-module] .demo {
  color: #999;
}
[payment] [payMethod] [credit-module] .content_title {
  height: 40px;
  width: 144px;
  text-align: right;
  font-size: 14px;
  line-height: 40px;
  margin-right: 20px;
  vertical-align: top;
}
[payment] [payMethod] [credit-module] .content_text {
  width: auto;
}
[payment] [payMethod] [credit-module] .credit li div {
  display: inline-block;
  *float: left;
}
[payment] [payMethod] [credit-module] .credit li input {
  width: 418px;
}
[payment] [payMethod] [credit-module] input.bank_name::-webkit-input-placeholder {
  color: #333;
}
[payment] [payMethod] [credit-module] input.bank_name:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333;
}
[payment] [payMethod] [credit-module] input.bank_name::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333;
}
[payment] [payMethod] [credit-module] input.bank_name:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #333;
}
[payment] [payMethod] [credit-module] input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
[payment] [payMethod] [credit-module] input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
[payment] [payMethod] [credit-module] input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
[payment] [payMethod] [credit-module] input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
[payment] [payMethod] [credit-module] .credit_visa {
  position: relative;
  padding-left: 26px;
  font-size: 20px;
  line-height: 40px;
}
[payment] [payMethod] [credit-module] .contury {
  width: 96px;
}
[payment] [payMethod] [credit-module] .credit li input.nation {
  width: 296px;
}
[payment] [payMethod] [credit-module] .icon_label {
  width: 24px;
  height: 24px;
  background: url("../../images/demo/icon1.png") no-repeat;
  background-position: -280px -90px;
  background-size: 790px 513px;
  position: absolute;
  top: 0;
  left: 0;
}
[payment] [payMethod] [credit-module] li.service_agreement {
  margin-left: 168px;
  font-size: 14px;
  height: 64px;
  position: relative;
}
[payment] [payMethod] [credit-module] .service_agreement span {
  color: #53b2fe;
}
[payment] [payMethod] [credit-module] .credit li input.validDate {
  width: 185px;
  margin-right: 8px;
}
[payment] [payMethod] [credit-module] .service_icon {
  width: 24px;
  height: 24px;
  background: url("../../images/demo/icon1.png") no-repeat;
  background-position: -576px -90px;
  background-size: 790px 513px;
  position: absolute;
  top: 10px;
  left: 0;
}
[payment] [payMethod] [credit-module] .service_sure {
  padding-left: 28px;
  line-height: 40px;
}
[payment] [payMethod] [credit-module] .service_agreement p:last-child {
  font-size: 12px;
  line-height: 20px;
}
[payment] [payMethod] [credit-module] .next {
  margin-left: 164px;
}
[payment] [payMethod] [credit-module] .btn_mar {
  margin-top: 32px;
}
[payment] [checkbox-icon] {
  display: inline-block;
  position: relative;
  top: 2px;
}
@media (max-width: 1200px) {
  [payment][payMethod] .tabs li {
    width: 16%;
  }
  [payment] [payMethod] [wechat-module] .prompt {
    margin: 65px 20px 0 80px;
  }
  [payment] [payMethod] [credit-module] .credit li input {
    width: 418px;
  }
  [payment] [payMethod] [credit-module] .credit li input.valid {
    width: 187px;
  }
  [payment] [payMethod] [credit-module] .countrylist {
    width: 435px;
  }
}
@media all and (orientation: portrait) {
  [payment] [payMethod] .tabs li {
    width: 16%;
  }
  [payment] [payMethod] [wechat-module] .prompt {
    margin: 65px 20px 0 80px;
  }
  [payment] [payMethod] [credit-module] .credit li input {
    width: 300px;
  }
  [payment] [payMethod] [credit-module] .credit li input.valid {
    width: 128px;
  }
  [payment] [payMethod] [credit-module] .credit li input.nation {
    width: 210px;
  }
  [payment] [payMethod] [credit-module] .countrylist {
    width: 316px;
  }
  [payment] [payMethod] [credit-module] .select_uni {
    width: 74px;
    margin-right: 10px;
    vertical-align: top;
  }
  [payment] [payMethod] [credit-module] .content_title {
    width: 124px;
    vertical-align: top;
  }
}
