
/*background:#59c895  主色        #4fb77c  选中色*/
body,html{ height:100%}
.about_box{ margin-top:35px;z-index:0;}
.about_left{width:19%; border:#dfdfdf 1px solid; background:#fdfbfc; color:#333; float:left;}
.about_left li{ height:60px; line-height:60px; padding-left:15px; font-size:18px; cursor:pointer; overflow:hidden; position:relative}
.about_left li span{ display:block; position:absolute; width:10px; height:10px; top:50%; margin-top:-5px; right:-10px; background:url(../images/index_icon.png) no-repeat 0 -359px}
.about_left .al_li{ color:#fff; background:#59c895; overflow:visible;}
.about_left .al_li a{color:#fff;}
.about_right{ width:79%; float:right; font-size:14px;color:#333; padding-bottom:80px;}
.about_right ul{ display:none; line-height:150%}
.about_right .al_ul{ display:block;}
.about_right ul .abr_title{ width:100%; font-size:20px; height:40px; line-height:40px; color:#59c895; border-bottom:#dfdfdf 1px dashed; margin-bottom:15px; font-weight:bold}
.a
.about_right ul li .abr_hd{ font-size:16px; padding:10px 0 15px 0;}
.about_right ul .abr_tel,.about_right ul .abr_email,.about_right ul .abr_time,.about_right ul .abr_address{ height:38px; padding-left:60px; background:url(../images/about_us.png) no-repeat;margin-left:10px;  line-height:38px; font-size:16px;margin-top:70px;}
.about_right ul .abr_tel{ margin-top:30px;}
.about_right ul .abr_tel span{ padding-right:80px}
.about_right ul .abr_email span{ padding-right:30px}
.about_right ul .abr_address span{ padding-right:50px}
.about_right ul .abr_email{ background-position:0 -42px}
.about_right ul .abr_time{ background-position:0 -84px}
.about_right ul .abr_address{ background-position:0 -127px}
.about_right .abr_right_hd{ height:32px; width:100%;}
.about_right .abr_right_hd p{height:32px; width:20%; background:#fdcc65 url(../images/about_us.png) no-repeat right -170px; float:left; color:#fff; line-height:32px; text-align:center}
.about_right .abr_right_hd .last_hd{background:#fdcc65}
.abr_table_hd{ margin-top:20px; border:#dfdfdf 1px solid}
.abr_table_hd td{ line-height:35px; padding:0 10px;}
.abr_table_hd td div{ padding:10px;border-bottom:#dfdfdf 1px solid}
.abr_table_hd td .last_hd{ border-bottom:0}
.abr_table_hd  .tab_title{border-right:#dfdfdf 1px solid; width:15%; font-size:18px;line-height:65px;}

