/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
/*tooltip提示框效果*/
[input-prompt] .tips_wrap {
  position: relative;
  width: 300px;
  border-radius: 2px;
}
[input-prompt] input.public {
  width: 280px;
  padding: 10px 10px;
  font-family: "microsoft yahei", Arial, sans-serif;
  font-size: 14px;
}
[input-prompt] input.error {
  border: 1px solid #f98647;
}
[input-prompt] label.error {
  line-height: 18px;
  font-size: 12px;
  color: #fdb194;
  display: block;
  background: url("../images/plugin/error.png") no-repeat 0 -1px;
  margin: 12px 7px 0 4px;
  padding-left: 23px;
}
[input-prompt] label.error_inline {
  display: inline-block;
}
[input-prompt] label.success {
  color: #a1d833;
}
[input-prompt] .input_error input {
  border: 1px solid #f98647;
}
[input-prompt] input:focus,
[input-prompt] .input_focus input {
  border: 1px solid #a1d833;
}
[input-prompt] .tips_message {
  max-width: 80%;
  line-height: 20px;
  color: #535353;
  border: 1px solid #f98647;
  background-color: #f98647;
  position: absolute;
  bottom: 32px;
  left: 10px;
  z-index: 10;
  -webkit-animation: orangetips .8s;
  animation: orangetips .8s;
}
[input-prompt] .tips_content {
  -webkit-box-shadow: 2px 2px 5px #d9d9d9;
  box-shadow: 2px 2px 5px #d9d9d9;
  padding: 5px 8px;
  color: #fff;
}
[input-prompt] .tip_top {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  left: 16px;
  border-width: 6px;
  border-style: solid dashed dashed;
  border-color: #f98647 transparent transparent transparent;
  bottom: -11px;
}
/*btn*/
[btn-default] .btn,
[btn-default] .search,
[btn-default] .next,
[btn-default] .people {
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
}
[btn-default] .btn {
  width: 118px;
  height: 30px;
  line-height: 30px;
  color: #8ace00;
  border: 1px solid #e5edf0;
  background: #fff;
}
[btn-default] .btn:hover {
  cursor: pointer;
}
[btn-default] .search {
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #7b7f8d;
}
[btn-default] .s_index {
  width: 100px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #8ace00;
}
[btn-default] .cur {
  color: #fff;
  border: 1px solid #8ace00;
  background: #8ace00;
}
[btn-default] .order {
  color: #fff;
  border: 1px solid #8ace00;
  background: #8ace00;
  border-bottom: 1px solid #7dc400;
}
[btn-default] .next,
[btn-default] .people {
  width: 280px;
  height: 48px;
  line-height: 48px;
  color: #fff;
  background: #8ace00;
}
[btn-default] .people {
  width: 50px;
  height: 24px;
  line-height: 24px;
}
[btn-default] .btn1_hover,
[btn-default] .btn2_hover {
  cursor: pointer;
}
[btn-default] .btn1_hover:hover {
  background: #7cb700;
}
[btn-default] .btn2_hover:hover {
  background: #eaf1f3;
}
/*checkbox*/
[checkbox-icon] .checkbox_icon {
  width: 14px;
  height: 14px;
  background: url("../../resources/images/icon1.png") no-repeat;
  background-position: -576px -92px;
  display: block;
  position: relative;
}
[checkbox-icon] .checkbox_cur {
  background-position: -518px -92px;
}
[checkbox-icon] .checkbox_icon input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
[search-index] .type {
  padding: 15px 0 17px;
  *padding: 17px 0 15px;
  margin-top: -2px;
  zoom: 1;
  /*ie7*/
}
[search-index] .type i {
  width: 18px;
  height: 16px;
  display: inline-block;
  background: url("../../resources/images/icon1.png") no-repeat;
  background-position: -300px -177px;
  position: relative;
  top: 3px;
  left: 0;
  *top: -1px;
  margin: 0 3px 0 12px;
}
[search-index] .type i:hover {
  cursor: pointer;
}
[search-index] .type .curs,
[search-index] .type .cur i {
  background: url("../../resources/images/icon1.png") no-repeat;
  background-position: -252px -177px;
}
/*select*/
[select-div] .select_unit {
  width: 70px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
  position: relative;
  cursor: pointer;
}
[select-div] .select_btn {
  line-height: 34px;
  position: relative;
  text-indent: 14px;
}
[select-div] .select_btn i {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 15px;
  *top: 6px;
  right: 12px;
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: #999 transparent transparent transparent;
}
[select-div] .select_ul {
  left: -1px;
  background: #fff;
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-top: -1px;
  text-align: center;
  z-index: 999;
  max-height: 500px;
  overflow-y: auto;
}
[select-div] .select_ul li {
  line-height: 34px;
  width: 100%;
  text-align: left;
  text-indent: 14px;
}
[select-div] .select_ul li:hover {
  color: #fff;
  background: #8ace00;
}
[select-div] .select_last .select_ul {
  width: 100%;
  z-index: 999;
}
/*select*/
[select2-div] .select_unit {
  width: 70px;
  margin-right: 20px;
  border: 1px solid #eaeaea;
  position: relative;
  cursor: pointer;
}
[select2-div] .select_btn {
  line-height: 34px;
  position: relative;
  text-indent: 14px;
}
[select2-div] .select_btn .up:hover {
  border-color: transparent transparent #8ace00;
}
[select2-div] .select_btn .up {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 6px;
  right: 12px;
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: transparent transparent #999;
}
[select2-div] .select_btn .down:hover {
  border-color: #8ace00 transparent transparent transparent;
}
[select2-div] .select_btn .down {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 20px;
  *top: 6px;
  right: 12px;
  border-width: 5px;
  border-style: solid dashed dashed;
  border-color: #999 transparent transparent transparent;
}
[select2-div] .select_btn .unit {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 14px;
}
[select2-div] .select_ul {
  left: -1px;
  background: #fff;
  display: none;
  position: absolute;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-top: -1px;
  text-align: center;
  z-index: 999;
  max-height: 500px;
  overflow-y: auto;
}
[select2-div] .select_ul li {
  line-height: 34px;
  width: 100%;
  text-align: left;
  text-indent: 14px;
}
[select2-div] .select_ul li:hover {
  color: #fff;
  background: #8ace00;
}
[select2-div] .select_last .select_ul {
  width: 100%;
  z-index: 999;
}
.warn_ie {
  *position: relative;
}
/*icon_help*/
[icon_help] .help {
  width: 22px;
  height: 22px;
  background: url(../../resources/images/icon1.png) no-repeat -139px -91px;
  display: block;
}
[tip] .help_tip_box {
  position: relative;
  z-index: 10;
}
[tip] .order_help_tip_box {
  position: absolute;
  right: -38px;
  z-index: 10;
  top: 0;
}
[tip] .tip_box {
  position: absolute;
  top: 39px;
  left: -6px;
  width: 256px;
  padding-top: 3px;
  z-index: 100;
  display: none;
}
[tip] .tip_child {
  top: 41px;
  left: -12px;
}
[tip] .tip_icon {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  left: 24px;
  z-index: 10;
  background: url(../../resources/images/icon1.png) no-repeat -126px -274px;
}
[tip] .tip_word {
  color: #333;
  background: #fff;
  line-height: 18px;
  padding: 12px;
  border: 1px solid #dcf0b2;
  text-align: justify;
  font-size: 12px;
  box-shadow: 1px 1px 1px #d9d9d9;
}
[Warn] {
  position: relative;
}
[Warn] .warn {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 0;
  color: #fb7530;
  padding-left: 52px;
  border: 1px solid #ffece6;
  *height: 20px;
}
[Warn] .icon_warn {
  position: absolute;
  top: 6px;
  left: 18px;
  width: 25px;
  height: 25px;
  background: url("../../resources/images/icon1.png") no-repeat;
  background-position: -186px -90px;
  background-size: 790px 513px;
}
[info] .order_title {
  background: #f9fdf2;
  font-size: 14px;
  line-height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #dce6ea;
}
/*弹窗*/
[bombBox] .pop_box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
[bombBox] .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
[bombBox] .pop_font {
  width: 418px;
  height: 230px;
  background: #fff;
  border: 1px solid #8ace00;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -115px 0 0 -209px;
}
[bombBox] .pop_title {
  height: 38px;
  line-height: 38px;
  padding: 0 24px;
  background: #8ace00;
  font-size: 14px;
  color: #fff;
}
[bombBox] .pop_title a {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 14px;
  right: 24px;
  background: url(../../resources/images/icon1.png);
  background-position: -332px -273px;
}
[bombBox] .word {
  padding: 24px;
}
[bombBox] .button {
  bottom: 30px;
  left: 50%;
  margin-left: -60px;
}
[bombBox] .btn_two {
  width: 280px;
  margin-left: -140px;
}
/*验证码*/
img.verify_img:hover {
  cursor: pointer;
}
[page] {
  /******************** page **************************/
}
[page] a,
[page] span {
  float: left;
}
[page] .pg_pre,
[page] .pg_next,
[page] .pg_pre {
  border: 1px solid #ccc;
  margin: 0 3px;
  background: url("../../resources/images/icon1.png") no-repeat;
}
[page] .pg_pre {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #999999;
  margin-right: 4px;
  border: 1px solid #dedede;
  background-position: -529px -259px;
}
[page] .pg_next {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #999999;
  margin-right: 4px;
  border: 1px solid #dedede;
  background-position: -545px -259px;
}
[page] .pg_link {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 0 3px;
  border: 1px solid #ccc;
  line-height: 26px;
  text-align: center;
}
[page] .pg_link:hover,
[page] a.pg_next:hover,
[page] a.pg_pre:hover {
  border: 1px solid #8ace00;
  color: #8ace00;
}
[page] .pg_curr {
  display: inline-block;
  margin: 0 3px;
  color: #ffffff;
  background: #8ace00;
  border: 1px solid #ffffff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
[page] .pg_select {
  border: 1px solid #ccc;
  padding: 2px;
  margin: 0 5px;
}
/*模拟加载百分数样式*/
.simulation {
  padding: 10px;
  border: 1px dashed orange;
}
.simulation h4 {
  margin: 30px 0;
}
.simulation h4 .num_plass {
  color: #333333;
  font-size: 18px;
}
.simulation h4 .num_plass strong {
  color: #fd7530;
}
.simulation h4 .price_loading {
  left: 20px;
  width: 55px;
  margin-top: 8px;
  font-style: normal;
  font-size: 18px;
  height: 20px;
  display: block;
  float: left;
  color: #fd7530;
  text-align: right;
  line-height: 14px;
  background: url(../images/price_loading.gif) no-repeat;
}
.simulation h4 .total_number {
  font-size: 18px;
}
.simulation input {
  padding: 6px 24px;
  background: white;
  color: green;
  border: 1px solid green;
  margin-right: 48px;
  border-radius: 3px;
}
[loading] #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  z-index: 99999999;
}
[loading] #status {
  z-index: 99999999;
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading.gif);
  background-size: 64px 64px;
  background-repeat: no-repeat;
  background-position: center;
  margin: -125px 0 0 -125px;
}
/*适配*/
@media (max-width: 1200px) {
  [input-prompt] input.public {
    padding: 10px 8px;
  }
  [btn-default] .next {
    width: 204px;
    height: 36px;
    line-height: 36px;
  }
}
@media all and (orientation: portrait) {
  [Warn] .icon_warn {
    top: 16px;
  }
}
.expect {
  width: 636px;
  height: 206px;
  margin: 22% auto 26%;
}
