@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
/*重置*/
html,
body,
div,
form,
th,
td,
input,
button,
textarea,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  font: 14px/1.6 "microsoft yahei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  color: #333;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  outline: none;
  color: #333;
}
a:hover {
  color: #333;
}
a:focus {
  outline: none;
}
a img {
  border: none;
}
li {
  list-style: none;
}
input {
  webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border-radius: 1px;
  outline: none;
  border: 1px solid #eaeaea;
  color: #333;
  -webkit-padding: 0;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
input,
button,
textarea,
select {
  font-family: inherit;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.clearfix:after {
  content: '.';
  display: block;
  /*加入的这个元素转换为块级元素。*/
  clear: both;
  /*清除左右两边浮动。*/
  visibility: hidden;
  /*可见度设为隐藏。仍然占据空间，只是看不到；*/
  line-height: 0;
  /*行高为0；*/
  height: 0;
}
/*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。*/
.clearfix {
  zoom: 1;
}
/*公共样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
.all {
  min-width: 1200px;
  overflow-x: hidden;
}
.contents {
  max-width: 1200px;
  margin: 0 auto;
}
.sub_contents {
  max-width: 1200px;
  height: 672px;
  margin: 0 auto;
}
.sub_contents p {
  text-align: center;
  margin: 142px auto;
}
.shdow_circle {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 222;
}
.shdow_circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
/*topper  以其他页面为默认样式*/
[top-box] {
  width: 100%;
  line-height: 30px;
  top: 0;
  left: 0;
  z-index: 300;
  border-bottom: 1px solid #e5e5e5;
  /*右侧*/
}
[top-box] .top_left span.pdr0 {
  padding-right: 0;
}
[top-box] .bg0 {
  height: 30px;
  background: #f8f8f8;
}
[top-box] .topper {
  width: 1200px;
  margin-left: -600px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 11;
  font-size: 12px;
}
[top-box] .top_left i,
[top-box] .top_left span,
[top-box] .top_left a {
  float: left;
}
[top-box] .top_left i {
  height: 8px;
  line-height: 8px;
  overflow: hidden;
  margin-top: 11px;
  padding: 0 9px;
  color: #e5e5e5;
}
[top-box] .top_left span {
  padding-right: 15px;
}
[top-box] .logo {
  padding-right: 62px;
}
[top-box] .top_right dl {
  float: left;
  width: 84px;
}
[top-box] .order_center:hover,
[top-box] .top_app:hover {
  background: #fff;
  box-shadow: 0px 0px 3px #f1f1f1;
}
[top-box] .order_center:hover {
  padding-bottom: 7px;
}
[top-box] .top_right dt {
  height: 30px;
  text-indent: 12px;
  cursor: pointer;
  position: relative;
}
[top-box] .top_icon {
  width: 10px;
  height: 6px;
  background-image: url(../../resources/images/icon1.png);
  background-position: -486px -26px;
  position: absolute;
  top: 14px;
  right: 8px;
  transition: all 0.2s;
}
[top-box] .order_center:hover .top_icon,
[top-box] .top_app:hover .top_icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  background-position: -474px -26px\9;
}
[top-box] .top_right dd {
  text-align: center;
  line-height: 24px;
  display: none;
}
[top-box] .top_app dd {
  width: 136px;
  height: 210px;
  box-shadow: 1px 2px 3px #f1f1f1;
}
[top-box] .code_close {
  width: 30px;
  height: 26px;
  top: 53px;
  right: 22px;
  cursor: pointer;
}
[top-box] .top_right p:hover {
  color: #8ace00;
  cursor: pointer;
}
[top-box] .top_right .center_wx {
  width: 84px;
}
/*首页头部 topper*/
[top-index] {
  border-bottom: 0;
  color: #fff;
}
[top-index] .bg0 {
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
[top-index] .cl_green {
  color: #8ace00;
}
[top-index] .topper a {
  color: #fff;
}
[top-index] .top_right dl.order_center:hover,
[top-index] .top_right dl.top_app:hover {
  color: #333;
}
/*导航 非首页样式为默认*/
[nav_boxs] {
  /*电话*/
}
[nav_boxs] .logo {
  width: 155px;
  height: 48px;
  margin-right: 60px;
  background: url(../../resources/images/logo_green.png) no-repeat left top;
}
[nav_boxs] .logo_bd {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -100000px;
}
[nav_boxs] .nav dd {
  float: left;
  font-size: 18px;
  position: relative;
}
[nav_boxs] .nav dd a {
  display: block;
  width: 100%;
}
[nav_boxs] .nav dd.cur .a_index,
[nav_boxs] .nav dd:hover .a_index {
  color: #8ace00;
}
[nav_boxs] .a_index i {
  position: absolute;
  left: 78px;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid dashed dashed;
  border-color: #999999 transparent transparent transparent;
  transition: all 0.2s;
}
[nav_boxs] .a_index .depart {
  left: 95px;
}
[nav_boxs] .nav dd:hover .a_index i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  border-color: #8ace00 transparent transparent transparent;
  border-width: 7px\9;
  border-style: dashed dashed  solid\9;
  border-color: transparent transparent #8ace00 transparent\9;
}
[nav_boxs] .photo_top {
  background: url(../../resources/images/photo_top.gif) no-repeat;
  padding: 18px 0 0 30px;
  margin: 31px 20px 0 0;
  color: #999;
}
/*导航  other*/
[nav_other] {
  padding-bottom: 30px;
}
[nav_other] .logo {
  margin-top: 36px;
}
[nav_other] .nav {
  height: 84px;
  padding-top: 46px;
  position: relative;
  z-index: 20;
}
[nav_other] .bg {
  background: #8ace00;
  position: absolute;
  top: 131px;
  left: 0;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #7dc400;
  z-index: 10;
}
[nav_other] .drop {
  width: 210px;
  height: 40px;
  font-size: 14px;
  padding-top: 24px;
  margin-left: -14px;
  display: none;
  position: absolute;
  left: 0;
}
[nav_other] .header_drop .drop {
  display: none;
}
[nav_other] .cur .drop {
  display: block;
}
[nav_other] .drop a {
  color: #fff;
  line-height: 39px;
}
[nav_other] .icon {
  width: 0;
  height: 0;
  position: absolute;
  top: 42px;
  left: 54px;
  border-width: 6px;
  border-style: dashed dashed solid ;
  border-color: transparent transparent #8ace00 transparent;
  display: none;
}
[nav_other] .nav dd {
  text-align: center;
  padding: 0 34px;
}
[nav_other] .nav li {
  height: 32px;
  float: left;
  margin: 2px 10px 0;
}
[nav_other] .nav li:hover {
  border-bottom: 1px solid #fff;
}
[nav_other] .a_index i {
  top: 12px;
  top: 13px\9;
}
[nav_other] .nav dd:hover .a_index i,
[nav_other] .nav dd.cur .a_index i {
  top: 7px;
  top: 6px\9;
}
[nav_other] .nav dd.cur .a_index i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  border-color: #8ace00 transparent transparent transparent;
  border-width: 7px\9;
  border-style: dashed dashed  solid\9;
  border-color: transparent transparent #8ace00 transparent\9;
}
/*导航 首页*/
[nav_index] {
  width: 100%;
  top: 30px;
  left: 0;
  z-index: 200;
}
[nav_index] .logo {
  width: 127px;
  height: 42px;
  background: url(../../resources/images/logo_white.png) no-repeat left top;
  margin-top: 20px;
}
[nav_index] .nav dd {
  border-top: 3px solid transparent;
  width: 120px;
}
[nav_index] .nav dd a {
  text-align: center;
}
[nav_index] .nav dd a.a_hotel,
[nav_index] .nav dd a.a_flight {
  text-align: left;
  text-indent: 32px;
}
[nav_index] .nav dd ol {
  text-align: center;
}
[nav_index] .nav {
  padding-top: 0px;
}
[nav_index] .nav dd.cur .a_index {
  color: #fff;
}
[nav_index] .a_index {
  color: #fff;
  line-height: 62px;
  position: relative;
}
[nav_index] .a_index i {
  top: 29px;
  right: 29px;
  border-color: #fff transparent transparent transparent;
}
[nav_index] .nav dd:hover {
  background: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-top: 3px solid #8ace00;
}
[nav_index] .nav dd.cur {
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-top: 3px solid #8ace00;
}
[nav_index] .nav ol {
  padding-bottom: 12px;
  display: none;
}
[nav_index] .nav li {
  line-height: 32px;
  font-size: 14px;
}
[nav_index] .nav li:hover {
  background: #e1e1e1;
}
[nav_index] .nav dd:hover .a_index {
  color: #8ace00;
}
[nav_index] .nav dd:hover .a_index i {
  top: 24px;
  top: 22px\9;
}
/*导航 下拉隐藏式*/
[nav_hide] {
  box-shadow: 0px 0 10px #ebebeb;
  background: url(../../resources/images/user/nav_bg_shaow.gif) repeat-x left bottom\9;
  padding-bottom: 0;
  margin-bottom: 40px;
}
[nav_hide] .bg {
  display: none;
}
[nav_hide] .nav {
  height: 53px;
  height: 60px\9;
}
/*只有logo*/
[nav_empty] {
  padding-bottom: 26px;
}
[nav_empty] .logo {
  margin-top: 26px;
}
/*面包屑导航*/
.nav_bread a,
.nav_bread span {
  color: #999;
}
/*底部*/
[bottom] {
  height: 160px;
  background: url("../../resources/images/demo/bottom_bg.jpg") no-repeat center bottom;
  background-size: cover;
}
[bottom] .bottom_box {
  padding-top: 38px;
}
[bottom] .bottom_logo {
  width: 105px;
  height: 35px;
  background: url("../../resources/images/demo/logo_white.png") no-repeat;
  background-size: 105px 35px;
}
[bottom] .bottom_logo a {
  font-size: 0;
}
[bottom] .bottom_nav {
  padding-top: 13px;
}
[bottom] .bottom_nav {
  font-size: 14px;
  color: #e0e0e0;
}
[bottom] .bottom_nav a {
  color: #e0e0e0;
}
[bottom] .bottom_nav i {
  height: 8px;
  line-height: 8px;
  display: inline-block;
  overflow: hidden;
  color: #5c5c5c;
  margin: 0 10px;
}
[bottom] .bottom_copyright {
  padding-top: 7px;
  font-size: 12px;
  color: #838383;
}
[bottom] .bottom_phone {
  font-size: 24px;
  font-family: Arial;
  right: 0;
  top: 66px;
}
[bottom] .bottom_phone span {
  display: inline-block;
  line-height: 32px;
  color: #e0e0e0;
}
[bottom] .bottom_phone i {
  width: 32px;
  height: 32px;
  background-image: url("../../resources/images/icon1.png");
  background-position: -141px -16px;
  margin-right: 8px;
}
/*登录注册  底部*/
[bottom_login] {
  background: none;
  height: auto;
}
[bottom_login] .bottom_box {
  padding-top: 131px;
  padding-bottom: 44px;
}
[bottom_login] .bottom_nav a {
  color: #333;
}
[bottom_login] .bottom_nav i {
  color: #ebebeb;
}
[bottom_login] .bottom_phone i {
  background-position: -356px -329px;
}
[bottom_login] .bottom_phone span {
  color: #6e6e6e;
}
[bottom_login] .bottom_phone {
  top: 138px;
}
/*适配*/
@media (max-width: 1200px) {
  .all {
    min-width: 880px;
  }
  .contents {
    max-width: 880px;
  }
  /*头部 */
  [top-box] {
    min-width: 880px;
  }
  [top-box] .topper {
    width: 880px;
    margin-left: -440px;
  }
  [top-box] .a_index i {
    right: 8px;
    border-width: 3px;
  }
  [top-other] {
    border-bottom: 1px solid #e5e5e5;
  }
  [nav_boxs] {
    /*电话*/
  }
  [nav_boxs] .nav dd {
    font-size: 14px;
  }
  [nav_boxs] .a_index i {
    border-width: 5px;
  }
  [nav_boxs] .photo_top {
    margin: 14px 20px 0 0;
  }
  [nav_boxs] .a_index .depart {
    left: 70px;
  }
  [nav_index] {
    min-width: 880px;
  }
  [nav_index] .logo {
    width: 100px;
    height: 33px;
    background-size: 100% 100%;
    margin-right: 50px;
  }
  [nav_index] .a_index i {
    left: 60px;
  }
  [nav_index] .nav dd {
    width: 88px;
  }
  [nav_index] .nav dd a.a_hotel,
  [nav_index] .nav dd a.a_flight {
    text-indent: 25px;
  }
  [nav_other] {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  [nav_other] .logo {
    width: 116px;
    height: 38px;
    background-size: 100% 100%;
    margin-top: 19px;
  }
  [nav_other] .bg {
    min-width: 880px;
    height: 33px;
    top: 103px;
  }
  [nav_other] .nav {
    padding-top: 29px;
  }
  [nav_other] .drop {
    margin-left: -30px;
    padding-top: 14px;
  }
  [nav_other] .icon {
    left: 38px;
    top: 27px;
  }
  [nav_other] .a_index i {
    top: 9px;
    left: 60px;
  }
  [nav_other] .nav dd {
    padding: 0 26px;
  }
  [nav_other] .nav dd.cur .a_index i {
    top: 5px;
  }
  /*没有下拉样式*/
  [nav_hide] {
    padding-bottom: 0;
  }
  [nav_hide] .nav {
    height: 37px;
  }
  [nav_hide] .logo {
    margin-right: 10px;
  }
  /*底部*/
  [bottom] .bottom_logo {
    height: 26px;
    background-size: 77px 26px;
  }
  [bottom] .bottom_nav i {
    margin: 0px;
  }
  [bottom] .bottom_phone {
    font-size: 18px;
  }
  [bottom] .bottom_phone i {
    width: 24px;
    height: 24px;
    background-position: -189px -16px;
  }
  [bottom] .bottom_phone span {
    line-height: 28px;
  }
}
@media all and (orientation: portrait) {
  .all {
    min-width: 680px;
  }
  .contents {
    max-width: 680px;
  }
  /*头部  begin*/
  [top-box] {
    min-width: 680px;
  }
  [top-box] .topper {
    width: 680px;
    margin-left: -340px;
  }
  [top-box] .top_left i {
    padding: 0 5px;
  }
  [top-box] .top_left span {
    padding-right: 10px;
  }
  [nav_boxs] {
    /*电话*/
  }
  [nav_boxs] .nav dd {
    font-size: 13px;
  }
  [nav_boxs] .photo_top {
    margin: 14px 0 0 0;
    background-size: 80px 20px;
    font-size: 12px;
    padding: 15px 0 0 17px;
  }
  [nav_boxs] .a_index .depart {
    left: 56px;
  }
  [nav_other] .logo {
    margin-right: 38px;
  }
  [nav_other] .bg {
    min-width: 680px;
  }
  [nav_other] .icon {
    left: 29px;
  }
  [nav_other] .nav dd {
    padding: 0 16px;
  }
  [nav_other] .nav dd .a_index i {
    top: 8px;
    left: 46px;
  }
  [nav_other] .nav dd.cur .a_index i {
    top: 2px;
    right: 9px;
  }
  [nav_index] {
    min-width: 680px;
  }
  [nav_index] .a_index i {
    left: 44px;
  }
  [nav_index] .nav dd {
    width: 70px;
  }
  [nav_index] .nav dd a.a_hotel,
  [nav_index] .nav dd a.a_flight {
    text-indent: 16px;
  }
  [nav_hide] .logo {
    margin-right: 20px;
  }
  /*底部*/
  [bottom] .bottom_logo {
    height: 26px;
    background-size: 77px 26px;
  }
  [bottom] .bottom_nav {
    font-size: 11px;
  }
  [bottom] .bottom_copyright {
    font-size: 10px;
  }
  [bottom] .bottom_phone {
    font-size: 16px;
  }
  [bottom] .bottom_phone i {
    width: 24px;
    height: 24px;
    background-position: -189px -16px;
  }
}
