@charset "utf-8";
/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[gloabl] {
  font-family: "microsoft yahei", Arial, sans-serif;
}
[gloabl] .cat_icon {
  display: inline-block;
  width: 34px;
  height: 21px;
  margin: 0 4px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: -440px -21px;
  position: relative;
  top: 2px;
}
[gloabl] .star_icons {
  display: inline-block;
  width: 72px;
  height: 16px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: 750px 340px;
  position: absolute;
  top: 20px;
  left: 125px;
  z-index: 0;
}
[gloabl] .star_icon1 {
  background-position: -195px -68px;
}
[gloabl] .star_icon2 {
  background-position: -195px -95px;
}
[gloabl] .address_icon {
  display: inline-block;
  width: 12px;
  height: 15px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: -16px -21px;
  position: relative;
  margin: 0 2px;
  top: 2px;
}
[gloabl] .breakfast_icon {
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: -325px -22px;
  position: relative;
  margin-right: 12px;
  top: 2px;
}
[gloabl] .park_icon {
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: -366px -21px;
  position: relative;
  margin-right: 12px;
  top: 2px;
}
[gloabl] .wifi_icon {
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: -404px -21px;
  position: relative;
  top: 2px;
}
[gloabl] #map {
  width: 1116px;
  height: 492px;
}
[gloabl] .page_wrap {
  padding: 88px 0;
}
[gloabl] .bg_big {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
[gloabl] .bg_big img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-right: -16px;
  z-index: 10000;
}
.service_items {
  margin: 30px auto;
  margin-bottom: 88px;
}
[name_slider] h2 {
  font-size: 18px;
}
[name_slider] h2 span {
  font-size: 15px;
  color: #999;
  font-weight: normal;
}
[name_slider] .score {
  color: #999;
  position: relative;
}
[name_slider] .score strong {
  font-size: 28px;
  color: #fb7530;
}
[name_slider] .address {
  font-size: 14px;
  color: #999;
}
[service_items] {
  font-size: 14px;
}
[service_items] .fixTab {
  z-index: 18;
  position: fixed;
  top: 0;
}
[service_items] .hotel_tabs_box {
  width: 1200px;
  background: #fff;
  border-bottom: 1px solid #ededed;
}
[service_items] .pos_a {
  position: relative;
  top: -72px;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
[service_items] .nav_ul {
  position: relative;
  top: 1px;
}
[service_items] .nav_ul li {
  float: left;
  border: 1px solid #e5edf0;
  margin-right: -1px;
  border-bottom: 0;
  background: #f5f8f9;
  text-align: center;
  border-radius: 2px;
}
[service_items] .nav_ul li a {
  display: inline-block;
  line-height: 60px;
  width: 248px;
  height: 60px;
  color: #666;
  font-size: 18px;
}
[service_items] .nav_ul li.cur {
  background: #fff;
  border-top: 2px solid #8ace00;
  height: 59px;
}
[service_items] .nav_ul li.cur a {
  color: #8ace00;
  height: 59px;
}
[service_items] .detail_part_wrap {
  padding: 0 32px;
  margin-bottom: 90px;
  border: 1px solid #e5edf0;
  border-top: 0;
}
[service_items] .detail_part_wrap .detail_part {
  padding-top: 40px;
}
[service_items] .detail_part_wrap .detail_part h3 {
  font-size: 18px;
  padding-bottom: 38px;
  color: #8ace00;
}
[service_items] .detail_part_wrap .detail_part h3.no_pb {
  padding-bottom: 0 !important;
}
[service_items] .detail_part_wrap .detail_part .v_line {
  display: inline-block;
  width: 4px;
  height: 18px;
  margin-right: 14px;
  background: #8ace00;
  position: relative;
  top: 2px;
}
[service_items] .data_div {
  display: inline-block;
}
[service_items] .data_div > input {
  width: 76px;
  padding: 0 4px;
  cursor: pointer;
}
[service_items] .live_in_time {
  color: #999;
}
[service_items] .live_in_time .time_info {
  color: #333;
  width: 76px;
  padding: 0 4px;
}
[service_items] .live_in_time .sub_title {
  margin-right: 0px;
}
[service_items] .live_in_time .info_two {
  margin-left: 20px;
}
[service_items] .change_num {
  margin-left: 20px;
  color: #53b2fe;
  display: inline-block;
  cursor: pointer;
}
[service_items] .room_num {
  display: inline-block;
  cursor: pointer;
}
[service_items] .detail_sub_part .hotel_sub_wrap {
  position: relative;
  width: 100%;
  padding: 32px 0;
  border-bottom: 1px solid #dce6ea;
}
[service_items] #mapInfo {
  display: none;
}
[service_items] .detail_sub_part ul.detail_word li {
  margin: 30px 0;
}
[service_items] .detail_sub_part ul.detail_word li h4 {
  padding-bottom: 24px;
}
[service_items] .detail_sub_part ul.detail_word li p {
  line-height: 30px;
}
[service_items] .detail_sub_part .hotel_sub_wrap .hotel_img {
  position: absolute;
  width: 168px;
  height: 120px;
}
[service_items] .detail_sub_part .hotel_sub_wrap .hotel_img img {
  width: 100%;
  height: 100%;
}
[service_items] .detail_sub_part .hotel_sub_wrap .rooms_type {
  margin-left: 194px;
  font-size: 14px;
  position: relative;
  width: 932px;
}
[service_items] .detail_sub_part .hotel_sub_wrap .rooms_type .room_items_out {
  display: none;
}
[service_items] .detail_sub_part .rooms_type p {
  color: #999;
  margin-bottom: 12px;
}
[service_items] .detail_sub_part .rooms_type p .check_room_type {
  color: #53b2fe;
  margin-bottom: 12px;
  cursor: pointer;
  display: inline-block;
}
[service_items] .detail_sub_part .rooms_type p .check_room_type i {
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 8px;
  background-image: url(../../../resources/images/icon1.png);
  background-position: -423px -25px;
  position: relative;
  top: -2px;
}
[service_items] .detail_sub_part .rooms_type p .check_room_type.open i {
  background-position: -405px -25px;
}
[service_items] .detail_sub_part .rooms_type .room_word {
  margin-top: 12px;
  margin-bottom: 0;
}
[service_items] .detail_sub_part .rooms_type h2 {
  font-size: 18px;
}
[service_items] .detail_sub_part .rooms_type .discount {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../../../resources/images/hotel/icon.png) no-repeat;
  background-position: -15px -49px;
  position: relative;
  margin-right: 12px;
  top: 6px;
}
[service_items] .detail_sub_part .rooms_type .price_num {
  color: #fb7530;
  position: absolute;
  right: 0;
  top: 68px;
}
[service_items] .detail_sub_part .rooms_type .price_num strong {
  font-size: 24px;
}
[service_items] .detail_sub_part .title_commit {
  color: #000;
  padding-bottom: 14px;
  border-bottom: 2px solid #8ace00;
}
[service_items] .detail_sub_part .title_commit span {
  color: #8ace00;
  font-weight: 500;
}
[service_items] .detail_sub_part .title_commit i {
  margin-left: 26px;
}
[service_items] .commit_ul li {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: -1px;
  padding-top: 32px;
}
[service_items] .commit_ul li .portrait {
  width: 164px;
  height: 154px;
  margin-right: 6px;
  text-align: center;
}
[service_items] .commit_ul li .portrait p {
  line-height: 20px;
  color: #999;
}
[service_items] .commit_ul li .portrait .name_user {
  line-height: 20px;
  color: #333;
}
[service_items] .commit_ul li .portrait .img_wrap {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 52px;
  margin-bottom: 12px;
  overflow: hidden;
}
[service_items] .commit_ul li .comment_wrap {
  width: 932px;
  color: #999;
  padding-right: 25px;
}
[service_items] .commit_ul li .comment_wrap .score_line {
  position: relative;
  padding: 18px 0;
}
[service_items] .commit_ul li .comment_wrap .score_line strong {
  color: #fb7530;
  font-size: 28px;
}
[service_items] .commit_ul li .comment_wrap .score_line .star_icon {
  margin-left: 8px;
  top: 2px;
}
[service_items] .commit_ul li .comment_wrap .score_line .s_word {
  color: #000;
  font-size: 18px;
}
[service_items] .commit_ul .commit_content {
  margin-bottom: 48px;
}
[service_items] .commit_ul .commit_date {
  text-align: right;
  padding-bottom: 16px;
}
[service_items] .commit_ul .commit_date .c_date {
  margin-right: 12px;
}
[service_items] .icon_div {
  width: 72px;
  display: inline-block;
  position: relative;
  margin-right: 4px;
}
[service_items] .star_c {
  top: -14px;
  left: 0px;
}
[rooms_type] .line_div {
  color: #333;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}
[rooms_type] .title_div {
  height: 40px;
  line-height: 40px;
  color: #999;
  border: 1px solid #eaf1f3;
  background: #f5f8f9;
}
[rooms_type] .line_div div {
  float: left;
}
[rooms_type] ._type {
  margin-left: 22px;
  width: 142px;
  cursor: pointer;
}
[rooms_type] ._type i {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -531px -332px;
  margin-top: 25px;
}
[rooms_type] ._type.ex i {
  background-position: -531px -332px;
}
[rooms_type] ._type .up {
  background-position: -555px -332px;
}
[rooms_type] ._bed {
  width: 190px;
}
[rooms_type] ._breakfast {
  width: 132px;
}
[rooms_type] ._change_rule {
  width: 194px;
}
[rooms_type] ._price {
  color: #fb7530;
  width: 132px;
}
[rooms_type] .title_div ._price {
  color: #999;
}
[rooms_type] ._order {
  width: 104px;
}
[rooms_type] ._order a {
  padding: 8px 18px;
  border: 1px solid #8ace00;
  color: #8ace00;
  border-radius: 2px;
}
[rooms_type] .room_img {
  padding: 14px 15px 10px;
  background: #f5f8f9;
  border-top: 0;
  float: none;
  display: none;
}
[rooms_type] .room_img li {
  float: left;
  width: 130px;
  height: 84px;
  background: #f4f4f4 url(../../../resources/images/ico_loading.gif) no-repeat center center;
  margin-right: 14px;
  display: inline;
  overflow: hidden;
}
[rooms_type] .room_img li img {
  display: inline-block;
  width: 100%;
}
[rooms_type] p {
  margin-top: 0;
}
@media (max-width: 1200px) {
  [gloabl] #map {
    width: 814px;
    height: 360px;
  }
  [gloabl] .page_wrap {
    padding: 46px 0;
  }
  [service_items] .hotel_tabs_box {
    width: 880px;
    height: 44px;
  }
  [service_items] .pos_a {
    top: -54px;
  }
  [service_items] .nav_ul li a {
    display: inline-block;
    line-height: 40px;
    width: 178px;
    height: 40px;
    font-size: 16px;
  }
  [service_items] .nav_ul li.cur {
    height: 40px;
  }
  [service_items] .nav_ul li.cur a {
    height: 40px;
  }
  [service_items] .detail_part_wrap {
    padding: 0 22px;
  }
  [service_items] .detail_part_wrap .detail_part {
    padding-top: 32px;
  }
  [service_items] .live_in_time .sub_title {
    margin-right: 16px;
  }
  [service_items] .live_in_time .info_two {
    margin-left: 16px;
  }
  [service_items] .detail_sub_part ul.detail_word li {
    margin: 30px 0;
  }
  [service_items] .detail_sub_part ul.detail_word li h4 {
    padding-bottom: 20px;
  }
  [service_items] .detail_sub_part ul.detail_word li p {
    line-height: 30px;
  }
  [service_items] .detail_sub_part .hotel_sub_wrap .hotel_img {
    width: 122px;
  }
  [service_items] .detail_sub_part .hotel_sub_wrap .rooms_type {
    margin-left: 146px;
    width: 492px;
  }
  [service_items] .commit_ul li {
    position: relative;
    border-bottom: 1px solid #eaeaea;
  }
  [service_items] .commit_ul li .portrait {
    width: 164px;
    height: 154px;
    margin-right: 6px;
  }
  [service_items] .commit_ul li .comment_wrap {
    width: 646px;
    padding-right: 18px;
  }
  [rooms_type] ._type {
    margin-left: 16px;
    width: 134px;
  }
  [rooms_type] ._type .room_info {
    margin-top: 25px;
  }
  [rooms_type] ._type .up {
    background-position: -555px -332px;
  }
  [rooms_type] ._bed {
    width: 128px;
  }
  [rooms_type] ._breakfast {
    width: 90px;
  }
  [rooms_type] ._change_rule {
    width: 128px;
  }
  [rooms_type] ._price {
    width: 108px;
  }
  [rooms_type] ._order {
    width: 76px;
  }
  [rooms_type] ._order a {
    padding: 6px 16px;
  }
  [rooms_type] .room_img {
    padding: 12px;
  }
  [rooms_type] .room_img li {
    width: 96px;
    height: 64px;
    margin-right: 12px;
  }
}
@media all and (orientation: portrait) {
  [gloabl] #map {
    width: 642px;
    height: 284px;
  }
  [gloabl] .page_wrap {
    padding: 22px 0;
  }
  [name_slider] h2 {
    font-size: 16px;
  }
  [name_slider] h2 span {
    font-size: 14px;
  }
  [name_slider] .score strong {
    font-size: 16px;
  }
  [name_slider] .address {
    font-size: 12px;
  }
  [service_items] {
    font-size: 12px;
  }
  [service_items] .hotel_tabs_box {
    width: 680px;
    height: 43px;
  }
  [service_items] .pos_a {
    top: -42px;
  }
  [service_items] .nav_ul li a {
    line-height: 40px;
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
  [service_items] .nav_ul li.cur {
    height: 40px;
  }
  [service_items] .nav_ul li.cur a {
    height: 40px;
  }
  [service_items] .detail_part_wrap {
    padding: 0 22px;
  }
  [service_items] .detail_part_wrap .detail_part {
    padding-top: 32px;
  }
  [service_items] .detail_part_wrap .detail_part h3 {
    font-size: 16px;
    padding-bottom: 36px;
  }
  [service_items] .detail_part_wrap .detail_part .v_line {
    width: 2px;
    height: 12px;
    margin-right: 8px;
    top: 2px;
  }
  [service_items] .live_in_time .sub_title {
    margin-right: 12px;
  }
  [service_items] .live_in_time .info_two {
    margin-left: 12px;
  }
  [service_items] .detail_sub_part ul.detail_word li {
    margin: 22px 0;
  }
  [service_items] .detail_sub_part ul.detail_word li h4 {
    padding-bottom: 16px;
  }
  [service_items] .detail_sub_part ul.detail_word li p {
    line-height: 22px;
  }
  [service_items] .detail_sub_part .hotel_sub_wrap .hotel_img {
    width: 108px;
  }
  [service_items] .detail_sub_part .hotel_sub_wrap .rooms_type {
    margin-left: 116px;
    font-size: 12px;
    width: 464px;
  }
  [service_items] .detail_sub_part .rooms_type p {
    margin-bottom: 10px;
  }
  [service_items] .detail_sub_part .rooms_type .room_word {
    margin-top: 10px;
  }
  [service_items] .detail_sub_part .rooms_type h2 {
    font-size: 16px;
  }
  [service_items] .detail_sub_part .rooms_type .discount {
    top: 6px;
  }
  [service_items] .detail_sub_part .rooms_type .price_num {
    top: 68px;
  }
  [service_items] .detail_sub_part .rooms_type .price_num strong {
    font-size: 14px;
  }
  [service_items] .detail_sub_part .title_commit {
    padding-bottom: 8px;
    border-bottom: 2px solid #8ace00;
  }
  [service_items] .detail_sub_part .title_commit i {
    margin-left: 22px;
  }
  [service_items] .commit_ul li {
    padding-top: 24px;
  }
  [service_items] .commit_ul li .portrait {
    width: 164px;
    height: 154px;
    margin-right: 6px;
  }
  [service_items] .commit_ul li .portrait p {
    line-height: 20px;
  }
  [service_items] .commit_ul li .portrait .name_user {
    line-height: 20px;
  }
  [service_items] .commit_ul li .comment_wrap {
    width: 450px;
    padding-right: 14px;
  }
  [service_items] .commit_ul li .comment_wrap .score_line {
    padding: 14px 0;
  }
  [service_items] .commit_ul li .comment_wrap .score_line strong {
    font-size: 16px;
  }
  [service_items] .commit_ul li .comment_wrap .score_line .star_icon {
    margin-left: 8px;
    top: 2px;
  }
  [service_items] .commit_ul li .comment_wrap .score_line .s_word {
    font-size: 16px;
  }
  [service_items] .commit_ul .commit_content {
    margin-bottom: 48px;
  }
  [service_items] .commit_ul .commit_date {
    padding-bottom: 10px;
  }
  [service_items] .commit_ul .commit_date .c_date {
    margin-right: 12px;
  }
  .service_items {
    margin: 22px auto;
    margin-bottom: 68px;
  }
  [rooms_type] .line_div {
    height: 56px;
    line-height: 56px;
  }
  [rooms_type] .title_div {
    height: 24px;
    line-height: 24px;
  }
  [rooms_type] ._type {
    margin-left: 12px;
    width: 130px;
  }
  [rooms_type] ._type .room_info {
    margin-top: 25px;
  }
  [rooms_type] ._type .up {
    background-position: -555px -332px;
  }
  [rooms_type] ._bed {
    width: 96px;
  }
  [rooms_type] ._breakfast {
    width: 72px;
  }
  [rooms_type] ._change_rule {
    width: 66px;
  }
  [rooms_type] ._price {
    width: 76px;
  }
  [rooms_type] ._order {
    width: 60px;
  }
  [rooms_type] ._order a {
    padding: 6px 14px;
  }
  [rooms_type] .room_img {
    padding: 8px;
  }
  [rooms_type] .room_img li {
    width: 76px;
    height: 50px;
    margin-right: 8px;
  }
}
