/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[index_banner] .banner {
  height: 600px;
  background-size: cover;
}
[index_banner] .banner .menu_bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 298px;
  background: url("../../../resources/images/banner_bg.png") repeat-x top;
}
[index_banner] .search_card {
  position: absolute;
  width: 1200px;
  top: 142px;
  left: 50%;
  margin-left: -600px;
}
[index_banner] .search_card .tab_content {
  position: relative;
}
[index_banner] .search_card .tab_content .checkin_city {
  width: 364px;
}
[index_banner] .search_card .tab_content .search_hotel_btn_wrap {
  position: absolute;
  right: 0;
  bottom: 0;
}
[index_banner] .search_card .search_input {
  width: 340px;
  margin-top: 20px;
  margin-bottom: 10px;
}
[index_banner] .search_card .search_input input {
  font-size: 12px;
  width: 100%;
}
[index_banner] .search_card [input-prompt] {
  padding-top: 22px;
  margin-bottom: 14px;
}
[index_banner] .search_card [input-prompt] > input {
  display: none;
}
[index_banner] .search_card [input-prompt] > input.cur {
  display: block;
}
[index_banner] .search_card #ui-datepicker input:focus {
  border: 1px solid #8ace00;
}
[index_banner] .search_card #startdate {
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  width: 183px;
  margin-right: 20px;
  margin-bottom: 7px;
}
[index_banner] .search_card #enddate {
  box-sizing: border-box;
  padding: 10px 0 10px 25px;
  margin-bottom: 7px;
  width: 183px;
}
[index_banner] .search_card .checkIn_sumary {
  padding-top: 10px;
}
[index_banner] .search_card .checkIn_sumary .select_unit {
  margin-top: 10px;
}
.geo_inp {
  margin-top: 20px;
}
[inter_hot_dest] .inter_one_img {
  width: 100%;
  height: 100%;
}
[inter_hot_dest] .dest_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  display: none;
}
[inter_hot_dest] span {
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 8px;
  font-size: 32px;
}
[inter_hot_dest] h3 {
  margin-bottom: 20px;
}
[inter_hot_dest] .inter_one {
  width: 278px;
  height: 187px;
  margin-bottom: 24px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}
[inter_hot_dest] .inter_two {
  width: 580px;
  height: 399px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}
[inter_hot_dest] .inter_one:hover .dest_mask,
[inter_hot_dest] .inter_two:hover .dest_mask {
  display: block;
}
[inter_hot_dest] .hot_dest_top .left {
  width: 278px;
  margin-right: 24px;
}
[inter_hot_dest] .hot_dest_top .right {
  width: 278px;
}
[inter_hot_dest] .hot_dest_bot {
  *margin-top: 30px;
}
[inter_hot_dest] .hot_dest_bot .left.inter_two {
  margin-right: 0;
}
[inter_hot_dest] .hot_dest_bot .right {
  width: 612px;
}
[inter_hot_dest] .hot_dest_bot .right .inter_one {
  margin-right: 0;
}
[inter_hot_dest] .hot_dest_bot .right .hot_dest_bot_wrap {
  width: 278px;
  margin-left: 24px;
  *margin-bottom: 24px;
}
[inter_hot_hotel],
[package],
[inter_hot_dest] {
  margin-top: 40px;
}
[inter_hot_hotel] .city_title,
[package] .city_title,
[inter_hot_dest] .city_title {
  padding-right: 20px;
}
[inter_hot_hotel] .city_title h3,
[package] .city_title h3,
[inter_hot_dest] .city_title h3 {
  float: left;
  font-size: 22px;
}
[inter_hot_hotel] .city_title ul,
[package] .city_title ul,
[inter_hot_dest] .city_title ul {
  float: right;
}
[inter_hot_hotel] .city_title ul li,
[package] .city_title ul li,
[inter_hot_dest] .city_title ul li {
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 25px;
}
[inter_hot_hotel] .city_title ul .selected,
[package] .city_title ul .selected,
[inter_hot_dest] .city_title ul .selected {
  color: #8ace00;
  border-bottom: solid 3px #8ace00;
}
[inter_hot_hotel] .city_list,
[package] .city_list,
[inter_hot_dest] .city_list {
  height: 645px;
}
[inter_hot_hotel] .city_list.hotel_oneline,
[package] .city_list.hotel_oneline,
[inter_hot_dest] .city_list.hotel_oneline {
  height: 330px;
}
[inter_hot_hotel] .city_list .city li,
[package] .city_list .city li,
[inter_hot_dest] .city_list .city li {
  float: left;
  margin-right: 18px;
  margin-top: 30px;
  border: solid 1px #e5edf0;
  cursor: pointer;
}
[inter_hot_hotel] .city_list .city li .city_img,
[package] .city_list .city li .city_img,
[inter_hot_dest] .city_list .city li .city_img {
  width: 280px;
  height: 190px;
  position: relative;
}
[inter_hot_hotel] .city_list .city li .city_img img,
[package] .city_list .city li .city_img img,
[inter_hot_dest] .city_list .city li .city_img img {
  width: 100%;
  height: 100%;
}
[inter_hot_hotel] .city_list .city li .city_img .hover_div,
[package] .city_list .city li .city_img .hover_div,
[inter_hot_dest] .city_list .city li .city_img .hover_div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
[inter_hot_hotel] .city_list .city li .city_img .hover_div:hover,
[package] .city_list .city li .city_img .hover_div:hover,
[inter_hot_dest] .city_list .city li .city_img .hover_div:hover {
  background: rgba(255, 255, 255, 0.14);
}
[inter_hot_hotel] .city_list .city li .city_img_big,
[package] .city_list .city li .city_img_big,
[inter_hot_dest] .city_list .city li .city_img_big {
  width: 580px;
  height: 276px;
}
[inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note,
[package] .city_list .city li .city_img_big .city_img_big_note,
[inter_hot_dest] .city_list .city li .city_img_big .city_img_big_note {
  position: absolute;
  color: #fff;
  padding: 10px;
  bottom: 0px;
  left: 0px;
  width: 560px;
  background-image: url('../../../resources/images/hotel_ticket/shadow_img.png');
}
[inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .note,
[package] .city_list .city li .city_img_big .city_img_big_note .note,
[inter_hot_dest] .city_list .city li .city_img_big .city_img_big_note .note {
  width: 420px;
}
[inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .price,
[package] .city_list .city li .city_img_big .city_img_big_note .price,
[inter_hot_dest] .city_list .city li .city_img_big .city_img_big_note .price {
  color: #fb7530;
  margin-top: 20px;
}
[inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .price > span,
[package] .city_list .city li .city_img_big .city_img_big_note .price > span,
[inter_hot_dest] .city_list .city li .city_img_big .city_img_big_note .price > span {
  font-size: 18px;
}
[inter_hot_hotel] .city_list .city li .city_note,
[package] .city_list .city li .city_note,
[inter_hot_dest] .city_list .city li .city_note {
  width: 260px;
  padding: 10px;
  height: 66px;
}
[inter_hot_hotel] .city_list .city li .city_note .price,
[package] .city_list .city li .city_note .price,
[inter_hot_dest] .city_list .city li .city_note .price {
  color: #fb7530;
}
[inter_hot_hotel] .city_list .city li .city_note .price > span,
[package] .city_list .city li .city_note .price > span,
[inter_hot_dest] .city_list .city li .city_note .price > span {
  font-size: 18px;
}
[inter_hot_hotel] .city_list .city li .city_note .market_price,
[package] .city_list .city li .city_note .market_price,
[inter_hot_dest] .city_list .city li .city_note .market_price {
  text-decoration: line-through;
  margin-left: 15px;
  font-size: 12px;
  color: #999;
}
[package] {
  padding-bottom: 90px;
}
@media (max-width: 1200px) {
  [index_banner] .banner {
    height: 438px;
  }
  [index_banner] .banner .menu_bg {
    top: 0px;
    width: 100%;
    height: 298px;
  }
  [index_banner] .search_card {
    width: 880px;
    margin-left: -440px;
    top: 100px;
  }
  [index_banner] .search_card .tab_content .checkin_city {
    width: 300px;
  }
  [index_banner] .search_card .tab_content #ui-datepicker > input {
    width: 148px;
  }
  [inter_hot_dest] {
    max-width: 880px;
  }
  [inter_hot_dest] .inter_two {
    width: 421px;
    height: 317px;
    margin-right: 17px;
  }
  [inter_hot_dest] .inter_one {
    width: 202px;
    height: 150px;
    margin-right: 17px;
    margin-bottom: 17px;
  }
  [inter_hot_dest] .hot_dest_top .left,
  [inter_hot_dest] .hot_dest_top .right {
    width: 202px;
    margin-right: 17px;
  }
  [inter_hot_dest] .hot_dest_bot .left {
    width: 421px;
  }
  [inter_hot_dest] .hot_dest_bot .right {
    width: 438px;
  }
  [inter_hot_dest] .hot_dest_bot .right .hot_dest_bot_wrap {
    width: 202px;
    margin-left: 17px;
  }
  [inter_hot_hotel] .city_list,
  [package] .city_list {
    height: 516px;
  }
  [inter_hot_hotel] .city_list .city li,
  [package] .city_list .city li {
    font-size: 12px;
    margin-right: 13px;
    margin-top: 21px;
  }
  [inter_hot_hotel] .city_list .city li .city_img,
  [package] .city_list .city li .city_img {
    width: 204px;
    height: 138px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big,
  [package] .city_list .city li .city_img_big {
    width: 423px;
    height: 224px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note,
  [package] .city_list .city li .city_img_big .city_img_big_note {
    padding: 10px;
    width: 403px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .note,
  [package] .city_list .city li .city_img_big .city_img_big_note .note {
    width: 260px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .price,
  [package] .city_list .city li .city_img_big .city_img_big_note .price {
    margin-top: 20px;
  }
  [inter_hot_hotel] .city_list .city li .city_note,
  [package] .city_list .city li .city_note {
    font-size: 12px;
    width: 184px;
    height: 66px;
    padding: 10px;
  }
}
@media all and (orientation: portrait) {
  [index_banner] .banner {
    height: 380px;
  }
  [index_banner] .search_card {
    width: 680px;
    margin-left: -340px;
  }
  [index_banner] .search_card .tab_content .checkin_city {
    width: 280px;
  }
  [index_banner] .search_card .tab_content #ui-datepicker > input {
    width: 139px;
  }
  [index_banner] .search_card .search_card_content .city_list ul {
    width: 240px;
  }
  [inter_hot_dest] {
    max-width: 675px;
    min-width: 675px;
  }
  [inter_hot_dest] .inter_two {
    width: 330px;
    height: 232px;
    margin-right: 12px;
  }
  [inter_hot_dest] .inter_one {
    width: 156px;
    height: 110px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  [inter_hot_dest] .hot_dest_top .left {
    width: 156px;
    margin-right: 12px;
  }
  [inter_hot_dest] .hot_dest_top .right {
    width: 156px;
    margin-right: 0;
  }
  [inter_hot_dest] .hot_dest_top .middle {
    max-width: 327px;
    margin-right: 15px;
  }
  [inter_hot_dest] .hot_dest_bot .left {
    width: 328px;
  }
  [inter_hot_dest] .hot_dest_bot .right {
    width: 342px;
  }
  [inter_hot_dest] .hot_dest_bot .right .hot_dest_bot_wrap {
    width: 155px;
    margin-left: 15px;
  }
  [inter_hot_hotel] .city_list .city li,
  [package] .city_list .city li {
    margin-right: 8px;
    margin-top: 21px;
  }
  [inter_hot_hotel] .city_list .city li .city_img,
  [package] .city_list .city li .city_img {
    width: 160px;
    height: 118px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big,
  [package] .city_list .city li .city_img_big {
    width: 330px;
    height: 194px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note,
  [package] .city_list .city li .city_img_big .city_img_big_note {
    padding: 10px;
    width: 310px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .note,
  [package] .city_list .city li .city_img_big .city_img_big_note .note {
    width: 260px;
  }
  [inter_hot_hotel] .city_list .city li .city_img_big .city_img_big_note .price,
  [package] .city_list .city li .city_img_big .city_img_big_note .price {
    margin-top: 20px;
  }
  [inter_hot_hotel] .city_list .city li .city_note,
  [package] .city_list .city li .city_note {
    width: 145px;
    padding: 5px;
  }
}
