<{include file="admin_tpl_log.html"}>
<table cellspacing=1 cellpadding=4 class=table>
	<tr><th colspan=2><{$tit}>管理</th></tr>
	<tr><td align=center colspan=2 height=30>
	<table border=0>
	<tr>
	<td><a href='?action=list&types=0'>线路列表</a></td>
	<td width=10></td>
	<td><a href='?action=list&types=1'>产品列表</a></td>
	</tr>
	</table>
	</td></tr>
	<tr><td align=center>
	<table border=0 cellspacing=0 cellpadding=2>
	<form action='?action=list' method=get>
	<input type=hidden name=types value='<{$types}>'>
	<tr>
	<td>搜索（<{$tit}>列表） 关键字：</td>
	<td><input type=text name=keyword value='<{$keyword}>' size=15 maxlength=20></td>
	<td><input type=submit value='搜索'></td>
	</tr>
	</form>
	</table>
	</td></tr>
</table>
		<{if $action eq 'list'}>
		<table cellspacing=1 cellpadding=4 class=table>
			<form name=sel_form action='?action=delete' method=post>
				<tr>
					<th>ID</th>
					<th>产品名称</th>
					<th>价格</th>
					<th>操作人</th>
					<th>管理</th>
				</tr>
				<{foreach from=$comments item=web}>
				<tr align=center>
					<td><{$web.id}></td>
					<td align="left"><{$web.title}> <font color="#FF0000">[当前<{if $web.status eq 1}>在线<{else}>下线<{/if}>]</font></td>
					<td><{$web.price2}></td>
					<td><{$web.op_user}></td>
					<td><{if $web.status eq 0}><a href='?action=handle&types=<{$types}>&page=<{$page}>&id=<{$web.id}>&status=1'>通过</a><{else}><a href='?action=handle&types=<{$types}>&page=<{$page}>&id=<{$web.id}>&status=0'>下线</a><{/if}></td>
				</tr>
				<{/foreach}>
				<tr class=tr1>
					<td colspan=8><{$multipage}></td>
				</tr>
			</form>
		</table>
		<table width='90%' height=2>
			<tr class=bg>
				<td></td>
			</tr>
		</table>
		<{else}>
		<table cellspacing=1 cellpadding=4 class=table>
			<tr>
				<td class=td colspan=2>添加信息</td>
			</tr>
			<form name=add_frm action='?action=handle' method=post
				enctype="multipart/form-data">
				<input type=hidden name=id value='<{$info.id}>'>
				<tr>
					<td><{$tit}>：</td>
					<td><input type=text name=title size=60
						value='<{$info.title}>'>&nbsp;<font class=red>*</font></td>
				</tr>
				<tr>
					<td>英文名称：</td>
					<td><input type=text name=names size=60
						value='<{$info.names}>'>&nbsp;<font class=red>*</font></td>
				</tr>
				<tr>
					<td>三位码：</td>
					<td><input type=text name=code size=60
						value='<{$info.code}>'>&nbsp;<font class=red>*</font></td>
				</tr>
			<tr>
				<td></td>
				<td height=30><input type=submit value='提交添加'> <input
					type=reset value='重新填写'> <input type=button name=go_back
					value='返回列表' onClick="javascript:location.href='?types=<{$types}>';"></td>
			</tr>
			</form>
		</table>

		<{/if}>

		<script language=javascript>
			function del_nsort() {
				var cf = window.confirm("是否确定该操作？");
				return cf;
			}
		</script>
<{include file="admin_tpl_foot.html"}>