<body topmargin=0 leftmargin=0>
	<center>
		<{if $action eq 'list'}>
		<table cellspacing=1 cellpadding=4 class=table>
			<form name=sel_form action='?action=delete' method=post>
				<tr>
					<th>ID</th>
					<th><{$tit}>图片</th>
					<th><{$tit}>名称</th>
					<th><{$tit}>链接</th>
					<th>类型</th>
					<th>尺寸</th>
					<th>管理</th>
				</tr>
				<{foreach from=$comments item=web}>
				<tr align=center>
					<td><{$web.id}></td>
					<td><img src="<{$web.url}>" width="210" height="120" border="0"></td>
					<td><{$web.title}></td>
					<td><{$web.mypath}></td>
					<td><{$web.mid}></td>
					<td><{$web.mywidth}>×<{$web.myheight}></td>
					<td><a href='?action=edit&id=<{$web.id}>'>编辑</a> <a
						href="?action=delete&types=<{$contact.types}>&id=<{$web.id}>"
						onclick="javascript:return del_nsort();">删除</a></td>
				</tr>
				<{/foreach}>
				<tr class=tr1>
					<td colspan=9><{$multipage}></td>
				</tr>
			</form>
		</table>
		<table width='90%' height=2>
			<tr class=bg>
				<td></td>
			</tr>
		</table>
		<{else}>
		<table cellspacing=1 cellpadding=4 class=table>
			<tr>
				<td class=td colspan=2>添加<{$tit}></td>
			</tr>
			<form name=add_frm action='?action=handle' method=post
				enctype="multipart/form-data">
				<input type=hidden name=id value='<{$info.id}>'>
				<tr>
					<td width="14%" align="right"><{$tit}>名称：</td>
					<td width="86%"><input name="title" type="text" class="INPUT"
						id="title" value="<{$info.title}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right"><{$tit}>位置：</td>
					<td><select name="mid" id="mid"><option value="<{$info.mid}>">测试</option></select></td>
				</tr>
				<tr>
					<td align="right"><{$tit}>网址：</td>
					<td><input name="mypath" type="text" class="INPUT" id="mypath"
						value="<{$info.mypath}>" size="40" maxlength="40"></td>
				</tr>
				<tr>
					<td align="right"><{$tit}>尺寸：</td>
					<td>宽：<input name="mywidth" type="text" class="INPUT"
						id="mywidth" value="<{$info.mywidth}>" size="20" maxlength="20">×高：<input name="myheight" type="text" class="INPUT"
						id="myheight" value="<{$info.myheight}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right">图片上传：</td>
					<td><input type=file name=pic size=40><input
						type=hidden name=url value="<{$info.url}>"></td>
				</tr>
				<tr>
					<td align="right">位置控制：</td>
					<td><input name="hots" type="text" class="INPUT" id="hots"
						value="<{$info.hots}>" size="20" maxlength="10"
						onKeyUp='this.value=this.value.replace(/\D/gi,"")'></td>
				</tr>
				<tr>
					<td align="right">备注说明：</td>
					<td><textarea name="content" cols="60" rows="4" class="INPUT"
							id="content"><{$info.content}></textarea></td>
				</tr>
			<tr>
				<td></td>
				<td height=30><input type=submit value='提交添加'> <input
					type=reset value='重新填写'> <input type=button name=go_back
					value='返回上一页' onClick="javascript:location.href='?c_id=0';"></td>
			</tr>
			</form>
		</table>

		<{/if}>

		<script language=javascript>
			function del_nsort() {
				var cf = window.confirm("是否确定该操作？");
				return cf;
			}
		</script>
	</center>
</body>