<body topmargin=0 leftmargin=0>
	<center>
		<{if $action eq 'list'}>
		<table cellspacing=1 cellpadding=4 class=table>
			<form name=sel_form action='?action=delete' method=post>
				<tr>
					<th>ID</th>
					<th>机构名称</th>
					<th>联系人</th>
					<th>联系信息</th>
					<th>地区</th>
					<th>类型</th>
					<th>管理</th>
				</tr>
				<{foreach from=$comments item=web}>
				<tr align=center>
					<td><{$web.id}></td>
					<td><{$web.title}></td>
					<td><{$web.names}></td>
					<td>电话：<{$web.tel}><br>传真：<{$web.fax}><br>手机：<{$web.mobile}>
					</td>
					<td><{$area[$web.cid]}>-<{$areatt[$web.aid]}>-<{$areatt[$web.city]}></td>
					<td><{$Config.company[$web.types]}></td>
					<td><a href='?action=edit&id=<{$web.id}>'>编辑</a>  <a href="?action=delete&types=<{$contact.types}>&id=<{$web.id}>" onclick="javascript:return del_nsort();">删除</a></td>
				</tr>
				<{/foreach}>
			<tr class=tr1>
				<td colspan=8><{$multipage}></td>
			</tr>
			</form>
		</table>
		<table width='90%' height=2>
			<tr class=bg>
				<td></td>
			</tr>
		</table>
		<{else}>
		<table cellspacing=1 cellpadding=4 class=table>
			<tr>
				<td class=td colspan=2>添加机构</td>
			</tr>
			<form name=add_frm action='?action=handle' method=post  enctype="multipart/form-data">
				<input type=hidden name=id value='<{$info.id}>'> 
				<tr>
					<td>机构名称：</td>
					<td><input type=text name=title size=60 value='<{$info.title}>'>&nbsp;<font
						class=red>*</font></td>
				</tr>
				<tr>
					<td>机构类型：</td>
					<td><select name='types' id='types'> <{html_options
							options=$Config.company selected=$info.types}>
					</select>&nbsp;<font class=red>*</font></td>
				</tr>
				<tr>
					<td>机构地区：</td>
					<td><select name='cid' id='cid'><{html_options options=$area selected=$info.cid}> </select>&nbsp;&nbsp;&nbsp;&nbsp;<select
						name=aid>
					</select> <select name=city>
					</select></td>
				</tr>
				<tr>
					<td>机构地址：</td>
					<td><input type=text name=addr size=20 value='<{$info.addr}>'>&nbsp;邮编：<input
						type=text name=zip size=20 value='<{$info.zip}>'></td>
				</tr>
				<tr>
					<td>机构方位：</td>
					<td><input type=text name=pos size=20 value='<{$info.pos}>'></td>
				</tr>
				<tr>
					<td>联 系 人：</td>
					<td><input type=text name=names size=20 value='<{$info.names}>'>&nbsp;<font
						class=red>*</font></td>
				</tr>
				<tr>
					<td>联系方式：</td>
					<td>Q&nbsp;Q：<input type=text name=qq size=20 value='<{$info.qq}>'>&nbsp;邮箱：<input
						type=text name=email size=20 value='<{$info.email}>'><br /> 电话：<input
						type=text name=tel size=20 value='<{$info.tel}>'>&nbsp;传真：<input
						type=text name=fax size=20 value='<{$info.fax}>'>&nbsp;手机：<input
						type=text name=mobile size=20 value='<{$info.mobile}>'>&nbsp;<font
						class=red>*</font></td>
				</tr>
				<tr>
					<td>机构网址：</td>
					<td>http://<input type=text name=myurl size=20 value='<{$info.myurl}>'>如：xxx.cgbt.net</td>
				</tr>
			<tr>
				<td>机构主图：</td>
				<td><input type=file name=pic  size=40 ><input type=hidden name=url value="<{$info.url}>"></td>
			</tr>
			<tr>
				<td>备注介绍：</td>
				<td><textarea name=contents
						style='width: 670px; height: 220px;'><{$info.contents}></textarea></td>
			</tr>
			<tr>
				<td valign=top>服务项目：</td>
				<td><textarea name=word style='width: 670px; height: 220px;'><{$info.word}></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td height=30><input type=submit value='提交添加'> <input
					type=reset value='重新填写'> <input type=button name=go_back
					value='返回上一页' onclick="javascript:location.href='?c_id=0';"></td>
			</tr>
			</form>
		</table>
		
		<script language=javascript>
	var cid=$("select[name='cid']");
	var aid=$("select[name='aid']");
	var city=$("select[name='city']");
	function cid_init(){
		aid.empty();
		$.ajax({
		    type: "GET",
		    dataType: "json",
		    url: "getajax.php?q=getarea",
		    data: "classid=" + cid.val(),
		    complete: function(){},
		    success: function(data,textStatus){
				var pid_select="<{$info.aid}>";
					$.each(data,function(index,item){
						if (pid_select==index){
							aid.append("<option value='"+index+"'  selected=\"selected\">"+item+"</option>");
						}else{
							aid.append("<option value='"+index+"'>"+item+"</option>");
						}
					});
					aid_init();
		        }
			});
	}
	cid_init();
	cid.change(function(){
		cid_init();
	});
	aid.change(function(){
		aid_init();
	});
	function aid_init(){
		city.empty();
		$.ajax({
		    type: "GET",
		    dataType: "json",
		    url: "getajax.php?q=getarea&types=1",
		    data: "classid=" + cid.val()+"&pid="+aid.val(),
		    complete: function(){},
		    success: function(data,textStatus){
				var pid_select="<{$info.city}>";
					$.each(data,function(index,item){
						if (pid_select==index){
							city.append("<option value='"+index+"'  selected=\"selected\">"+item+"</option>");
						}else{
							city.append("<option value='"+index+"'>"+item+"</option>");
						}
					});
		        }
			});
	}
	</script>

		<{/if}>

		<script language=javascript>
			function del_nsort() {
				var cf = window.confirm("是否确定该操作？");
				return cf;
			}
		</script>
	</center>
</body>