<{include file="admin_tpl_head.html"}> <{if $action eq 'list'}>
<table cellspacing=1 cellpadding=4 class=table>
	<form name=sel_form action='?action=delete' method=post>
		<tr>
			<th>ID</th>
			<th><{$tit}>图片</th>
			<th><{$tit}>名称</th>
			<th><{$tit}>网址</th>
			<th>关键字</th>
			<th>排序</th>
			<th>状态</th>
			<th>管理</th>
		</tr>
		<{foreach from=$comments item=web}>
		<tr align=center>
			<td><{$web.id}></td>
			<td><img src="<{$picserver}><{$web.url}>" width="210"
				height="120" border="0"></td>
			<td><{$web.title}></td>
			<td><{$web.web_url}></td>
			<td><{$web.web_key}></td>
			<td><{$web.hots}></td>
			<td><{$web.status}></td>
			<td><a href='?action=edit&id=<{$web.id}>'>编辑</a> <a
				href="?action=delete&types=<{$contact.types}>&id=<{$web.id}>"
				onclick="javascript:return del_nsort();">删除</a></td>
		</tr>
		<{/foreach}>
		<tr class=tr1>
			<td colspan=8><{$multipage}></td>
		</tr>
	</form>
</table>
<table width='90%' height=2>
	<tr class=bg>
		<td></td>
	</tr>
</table>
<{else}>
<table cellspacing=1 cellpadding=4 class=table>
	<tr>
		<td class=td colspan=2>添加<{$tit}></td>
	</tr>
	<form name=add_frm action='?action=handle' method=post
		enctype="multipart/form-data">
		<input type=hidden name=id value='<{$info.id}>'>
		<tr>
			<td width="14%" align="right">链接名称：</td>
			<td width="86%"><input name="title" type="text" class="INPUT"
				id="title" value="<{$info.title}>" size="20" maxlength="20"></td>
		</tr>
		<tr>
			<td align="right">状态：</td>
			<td><select name=status> <{html_options
					options=$Config.status selected=$info.status}>
			</select></td>
		</tr>
		<tr>
			<td align="right">所属机构：</td>
			<td><select name=bid> <{if $adminid eq ''}>
					<option value='0'>无</option><{/if}> <{html_options
					options=$cg_branch selected=$info.bid}>
			</select></td>
		</tr>
		<tr>
			<td align="right">关 键 字：</td>
			<td><input name="web_key" type="text" class="INPUT" id="web_key"
				value="<{$info.web_key}>" size="40" maxlength="60"></td>
		</tr>
		<tr>
			<td align="right">网站网址：</td>
			<td><input name="web_url" type="text" class="INPUT" id="web_url"
				value="<{$info.web_url}>" size="40" maxlength="40"></td>
		</tr>
		<tr>
			<td align="right">联系邮箱：</td>
			<td><input name="email" type="text" class="INPUT" id="email"
				value="<{$info.email}>" size="20" maxlength="20"></td>
		</tr>
		<tr>
			<td align="right">图片上传：</td>
			<td><input type=file name=pic size=40><input type=hidden
				name=url value="<{$info.url}>"></td>
		</tr>
		<tr>
			<td align="right">位置控制：</td>
			<td><input name="hots" type="text" class="INPUT" id="hots"
				value="<{$info.hots}>" size="20" maxlength="10"
				onKeyUp='this.value=this.value.replace(/\D/gi,"")'></td>
		</tr>
		<tr>
			<td align="right">备注说明：</td>
			<td><textarea name="content" cols="60" rows="4" class="INPUT"
					id="content"><{$info.content}></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td height=30><input type=submit value='提交添加'> <input
				type=reset value='重新填写'> <input type=button name=go_back
				value='返回上一页' onClick="javascript:location.href='?c_id=0';"></td>
		</tr>
	</form>
</table>

<{/if}>

<script language=javascript>
			function del_nsort() {
				var cf = window.confirm("是否确定该操作？");
				return cf;
			}
		</script>
<{include file="admin_tpl_foot.html"}>
