<{include file="admin_tpl_head.html"}> <{if $action eq 'list'}>
<table cellspacing=1 cellpadding=4 class=table>
	<form name=sel_form action='?action=delete' method=post>
		<tr>
			<th>ID</th>
			<th><{$tit}>图片</th>
			<th><{$tit}>名称</th>
			<th><{$tit}>链接</th>
			<th>位置</th>
			<th>尺寸</th>
			<th>排序</th>
			<th>状态</th>
			<th>发布人</th>
			<th>管理</th>
		</tr>
		<{foreach from=$comments item=web}>
		<tr align=center>
			<td><{$web.id}></td>
			<td><img src="<{$picserver}><{$web.url}>" width="210"
				height="120" border="0"></td>
			<td><{$web.title}></td>
			<td><{$web.mypath}></td>
			<td><{$web.mid}></td>
			<td><{$web.mywidth}>×<{$web.myheight}></td>
			<td><{$web.hots}></td>
			<td><{$web.status}></td>
			<td><{$web.op_user}></td>
			<td><a href='?action=edit&id=<{$web.id}>'>编辑</a> <a
				href="?action=delete&types=<{$contact.types}>&id=<{$web.id}>"
				onclick="javascript:return del_nsort();">删除</a></td>
		</tr>
		<{/foreach}>
		<tr>
			<td colspan=11><{$multipage}></td>
		</tr>
	</form>
</table>
<table width='90%' height=2>
	<tr class=bg>
		<td></td>
	</tr>
</table>
<{else}>
<table cellspacing=1 cellpadding=4 class=table>
	<tr>
		<td class=td colspan=2>添加<{$tit}></td>
	</tr>
	<form name=add_frm action='?action=handle' method=post
		enctype="multipart/form-data">
		<input type=hidden name=id value='<{$info.id}>'>
		<tr>
			<td width="14%" align="right"><{$tit}>名称：</td>
			<td width="86%"><input name="title" type="text" class="INPUT"
				id="title" value="<{$info.title}>" size="20" maxlength="20"></td>
		</tr>
		<tr>
			<td align="right">状态：</td>
			<td><select name=status> <{html_options
					options=$Config.status selected=$info.status}>
			</select></td>
		</tr>
		<tr>
			<td align="right">所属机构：</td>
			<td><select name=bid> <{if $adminid eq ''}>
					<option value='0'>无</option><{/if}> <{html_options
					options=$cg_branch selected=$info.bid}>
			</select></td>
		</tr>
		<tr>
			<td align="right"><{$tit}>位置：</td>
			<td><select name="mid" id="mid"><<{html_options options=$Config.mid selected=$info.mid}></select></td>
		</tr>
		<tr>
			<td align="right"><{$tit}>网址：</td>
			<td><select id="ctype"><{html_options options=$ctype}></select><input id="search" type="button" value="查询"> <input name="mypath" type="text" id="mypath" value="<{$info.mypath}>" size="40" maxlength="40"></td>
		</tr>
		<tr>
		  <td align="right"><{$tit}>价格：</td>
		  <td><input name="price2" type="text" id="price2" value="<{$info.price2}>" size="40" maxlength="8"></td>
      </tr>
		<tr>
			<td align="right"><{$tit}>尺寸：</td>
			<td>宽：<input name="mywidth" type="text" class="INPUT"
				id="mywidth" value="<{$info.mywidth}>" size="20" maxlength="20">×高：<input
				name="myheight" type="text" id="myheight"
				value="<{$info.myheight}>" size="20" maxlength="20"></td>
		</tr>
		<tr>
			<td align="right">图片上传：</td>
			<td><input type=file name=pic size=40><input type=hidden
				name=url value="<{$info.url}>"></td>
		</tr>
		<tr>
			<td align="right">位置控制：</td>
			<td><input name="hots" type="text" id="hots"
				value="<{$info.hots}>" size="20" maxlength="10"
				onKeyUp='this.value=this.value.replace(/\D/gi,"")'></td>
		</tr>
		<tr>
			<td align="right">备注说明：</td>
			<td><textarea name="content" cols="60" rows="4" class="INPUT"
					id="content"><{$info.content}></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td height=30><input type=submit value='提交添加'> <input
				type=reset value='重新填写'> <input type=button name=go_back
				value='返回上一页' onClick="javascript:location.href='?c_id=0';"></td>
		</tr>
	</form>
</table>

<{/if}>

<script language=javascript>
	var keys = $('#title');
	var ctype = $('#ctype');
	KindEditor.ready(function(K) {
		K('#search').click(function() {
			//$.getJSON("getajax.php?q=getsale&ctype="+ctype.val()+"&keys="+keys.val(), function(data){alert(data);get_req(data);},,error:function(xhr){alert(xhr.responseText)});
			$.ajax({
		        type: "GET",
		        url: "getajax.php?q=getsale&ctype="+ctype.val()+"&keys="+keys.val(),
		        data: {},
		        dataType: "json",
		        async: false,
		        success: function (data) {
		          alert(data);
		        },error:function(xhr){alert(xhr.responseText)}//增加error回调看输出什么内容
			});
		});
		function get_req(data) {
			if(data!=''&&data!=null){
			var cstr = '';
			$.each(data, function(i,item){
				cstr += '<input type="radio" name="rid" value="'+item.id+'" id="'+item.id+'" data-url="'+item.url+'"><label for="'+item.id+'">'+item.title+' </label><br>';
			});alert('search_bak'+cstr);
			var dialog = K.dialog({
				width : 500,
				title : '选择内容',
				body : '<div style="margin:10px;">'+cstr+'</div>',
				closeBtn : {
					name : '关闭',
					click : function(e) {
						dialog.remove();
					}
				},
				yesBtn : {
					name : '确定',
					click : function(e) {
						var checkboxs = document.getElementsByName("rid");
						for(var i=0;i<checkboxs.length;i++){
							if(checkboxs[i].checked){
								document.getElementById("mypath").value = checkboxs[i].getAttribute("data-url");
								//$("#mypath").html(checkboxs[i].getAttribute("data-url"));
								break;
							}
						}dialog.remove();
					}
				},
				noBtn : {
					name : '取消',
					click : function(e) {
						dialog.remove();
					}
				}
			});
			}else{
				alert('未能查询到'+keys.val()+'的内容，请更换广告名称，如“北京”添加链接后，再改回！');
			}
		}
	});

	function del_nsort() {
		var cf = window.confirm("是否确定该操作？");
		return cf;
	}
</script>
<script type=“text/javascript" src="js/dialog.js"></script>
<{include file="admin_tpl_foot.html"}>
