<{include file="admin_tpl_head.html"}>
		<{if $action eq 'list'}>
		<table cellspacing=1 cellpadding=4 class=table>
			<tr>
				<th>ID</th>
				<th><{$tit}>姓名</th>
				<th>图片</th>
				<th>电话</th>
				<th>服务语种</th>
				<th>所在地区</th>
				<th>管理</th>
			</tr>
			<{foreach from=$comments item=web}>
			<tr align=center>
				<td><{$web.id}></td>
				<td><{$web.title}></td>
				<td><img src="<{$picserver}><{$web.url}>" width=150 height="150"></td>
				<td><{$web.tel}></td>
				<td><{$web.language}></td>
				<td><{$area[$web.cid]}>-<{$areatt[$web.aid]}>-<{$areatt[$web.city]}></td>
				<td><a href='?action=edit&id=<{$web.id}>&types=<{$web.types}>'>编辑</a>
					<a href="?action=delete&types=<{$web.types}>&id=<{$web.id}>"
					onclick="javascript:return del_nsort();">删除</a></td>
			</tr>
			<{/foreach}>
			<tr class=tr1>
				<td colspan=8><{$multipage}></td>
			</tr>
		</table>
		<table width='90%' height=2>
			<tr class=bg>
				<td></td>
			</tr>
		</table>
		<{else}>
		<table cellspacing=1 cellpadding=4 class=table>
			<tr>
				<td class=td colspan=2>添加<{$tit}></td>
			</tr>
			<form name=add_frm action='?action=handle' method=post
				enctype="multipart/form-data">
				<input type=hidden name=id value='<{$info.id}>'> <input
					type=hidden name=types value='<{$types}>'>
				<tr>
					<td><{$tit}>姓名：</td>
					<td><input type=text name=title size=60
						value='<{$info.title}>'>&nbsp;<font class=red>*</font></td>
				</tr>
			<tr>
				<td>所在地区：</td>
				<td><select name='cid' id='cid'><{html_options
						options=$area selected=$info.cid}>
				</select>&nbsp;&nbsp;&nbsp;&nbsp;<select name=aid>
				</select> <select name=city>
				</select></td>
			</tr>
			<tr>
				<td>服务语种：</td>
				<td><{html_checkboxes name="language" options=$language
					checked=$info.language separator="&nbsp;"}></td>
			</tr>
			<tr>
				<td>联系电话：</td>
				<td><input type=text name=tel size=20 value='<{$info.tel}>'></td>
			</tr>
			<tr>
				<td>销售底价：</td>
				<td><input name="price" type="text" class="INPUT" id="price"
					value="<{$info.price}>" size="12" maxlength="10"
					onKeyUp='this.value=this.value.replace(/\D/gi,"")'> <span
					class="title3">元/天</span> 门市价格:<input name="price1" type="text"
					class="INPUT" id="price1" value="<{$info.price1}>" size="12"
					maxlength="10" onKeyUp='this.value=this.value.replace(/\D/gi,"")'>
					<span class="title3">元/天</td>
			</tr>
			<tr>
				<td>图片上传：</td>
				<td><input type=file name=pic size=40><input
					type=hidden name=url value="<{$info.url}>"></td>
			</tr>
			<tr>
				<td><{$tit}>介绍：</td>
				<td><textarea name=contents
						style='width: 670px; height: 220px;'><{$info.contents}></textarea></td>
			</tr>

			<td></td>
			<td height=30><input type=submit value='提交添加'> <input
				type=reset value='重新填写'> <input type=button name=go_back
				value='返回上一页' onclick="javascript:location.href='?c_id=0';"></td>
			</tr>
			</form>
		</table>

		<script language=javascript>
	var cid=$("select[name='cid']");
	var aid=$("select[name='aid']");
	var city=$("select[name='city']");
	function cid_init(){
		aid.empty();
		$.ajax({
		    type: "GET",
		    dataType: "json",
		    url: "getajax.php?q=getarea",
		    data: "classid=" + cid.val(),
		    complete: function(){},
		    success: function(data,textStatus){
				var pid_select="<{$info.aid}>";
					$.each(data,function(index,item){
						if (pid_select==index){
							aid.append("<option value='"+index+"'  selected=\"selected\">"+item+"</option>");
						}else{
							aid.append("<option value='"+index+"'>"+item+"</option>");
						}
					});
					aid_init();
		        }
			});
	}
	cid_init();
	cid.change(function(){
		cid_init();
	});
	aid.change(function(){
		aid_init();
	});
	function aid_init(){
		city.empty();
		$.ajax({
		    type: "GET",
		    dataType: "json",
		    url: "getajax.php?q=getarea&types=1",
		    data: "classid=" + cid.val()+"&pid="+aid.val(),
		    complete: function(){},
		    success: function(data,textStatus){
				var pid_select="<{$info.city}>";
					$.each(data,function(index,item){
						if (pid_select==index){
							city.append("<option value='"+index+"'  selected=\"selected\">"+item+"</option>");
						}else{
							city.append("<option value='"+index+"'>"+item+"</option>");
						}
					});
		        }
			});
	}
	</script>

		<{/if}>

		<script language=javascript>
			function del_nsort() {
				var cf = window.confirm("是否确定该操作？");
				return cf;
			}
		</script>
<{include file="admin_tpl_foot.html"}>