<{include file="admin_tpl_head.html"}> <{if $action eq 'list'}>
<table cellspacing=1 cellpadding=4 class=table>
	<form name=sel_form action='?action=delete' method=post>
		<tr>
			<th>ID</th>
			<th><{$tit}>图片</th>
			<th><{$tit}>名称</th>
			<th>销售价格</th>
			<th>价格浮动</th>
			<th>团期</th>
			<th>离抵城市</th>
			<th>浏览|报名</th>
			<th>管理</th>
		</tr>
		<{foreach from=$comments item=web}>
		<tr align=center>
			<td><{$web.id}></td>
			<td><img src="<{$picserver}>/<{$web.url}>" width="210"
				height="120" border="0"></td>
			<td><{$web.title}></td>
			<td>内部底价：<{$web.price1}><br>网上售价：<{$web.price2}><br>门市售价：<{$web.price3}><br>同行分销：<{$web.price4}>
			</td>
			<td><a href="line_do.php?id=<{$web.id}>&types=0&ctype=0">浮动</a><{$web.num}>&nbsp;<a
				href="line_do.php?id=<{$web.id}>&types=0&ctype=1">图片</a><{$web.num1}>&nbsp;<a
				href="admin_plan_stroke.php?routeid=<{$web.id}>">日程(<{$web.num2}>)</a></td>
			<td><{$web.go_time}></td>
			<td><{$web.city1}>-<{$web.city2}></td>
			<td><{$web.hits}>|<{$web.hots}></td>
			<td><a href='?action=edit&id=<{$web.id}>'>编辑</a> <a
				href="?action=delete&types=<{$contact.types}>&id=<{$web.id}>"
				onclick="javascript:return del_nsort();">删除</a></td>
		</tr>
		<{/foreach}>
		<tr class=tr1>
			<td colspan=9><{$multipage}></td>
		</tr>
	</form>
</table>
<{else}>
<script type="text/javascript">var ary = [];</script>
<form name="add_frm" method="post" action="?action=handle"
	enctype="multipart/form-data">
	<input type=hidden name="id" value="<{$id}>">
	<table width="100%" border="0" cellpadding="2" cellspacing="1"
		class="table">
		<tbody>
			<tr>
				<th colspan="2">信息操作</th>
			</tr>
			<tr>
				<td width="14%" align="right">线路类型：</td>
				<td width="86%"><{html_checkboxes name="ro_type"
					options=$ro_type checked=$info.ro_type separator=""}></td>
			</tr>
			<tr>
				<td align="right">线路类别：</td>
				<td><select name="classid" class="Select" id="classid"
					style="width: 157px"> <{html_options options=$class
						selected=$info.classid}>
				</select> <select name="classid2" class="Select" id="classid2"
					style="width: 157px">

				</select></td>
			</tr>
			<tr id="ships" style="display: none;">
				<td align="right">邮轮公司：</td>
				<td><select name="yl"><option value="0">无</option><{html_options
						options=$cg_yl selected=$info.yl}>
				</select> &nbsp;&nbsp;<select name="sx"><option value="0">无</option><{html_options
						options=$cg_sx selected=$info.sx}>
				</select></td>
			</tr>
			<tr>
				<td align="right">标识字段：</td>
				<td><input name="keywords" type="text" class="INPUT" id="price"
					value="<{$info.keywords}>" size="30" maxlength="60">
					如：厦门9月出行</td>
			</tr>
			<tr>
				<td align="right">产品编号：</td>
				<td><input name="info_id" type="text" class="INPUT"
					id="info_id" value="<{$info.info_id}>" size="30" maxlength="30"></td>
			</tr>
			<tr>
				<td align="right">线路名称：</td>
				<td><input name="title" type="text" class="INPUT" id="title"
					value="<{$info.title}>" size="80" maxlength="60"></td>
			</tr>
			<tr>
				<td align="right">出发城市：</td>
				<td><input name="citys1" type="text" class="INPUT" size="10"
					maxlength="10"><input type=button value="search"
					onclick="javascript:searcharea('citys1','city1');" /> <br>
					<div id="citys1"><{$info.city1}></div></td>
			</tr>
			<tr>
				<td align="right">时间：</td>
				<td><input name="time" type="text" class="INPUT" id="time"
					value="<{$info.time}>" size="5" maxlength="5"></td>
			</tr>
			<tr>
				<td align="right">目的城市：</td>
				<td><input name="citys2" type="text" class="INPUT" size="10"
					maxlength="10"><input type=button value="search"
					onclick="javascript:searcharea('citys2','city2');" /> <br>
					<div id="citys2"><{$info.city2}></div></td>
			</tr>
			<tr>
				<td align="right">所需签证：</td>
				<td><input type="button" class="bt" onClick="get4visa();"
					value="点击查询"><select name='visa' id='visa'><option
							value="0">不需要</option></select></td>
			</tr>
			<tr>
				<td align="right">旅游天数：</td>
				<td><input name="go_day" type="text" class="INPUT" id="go_day"
					value="<{$info.go_day}>" size="10" maxlength="6"
					onKeyUp="this.value=this.value.replace(/\D/gi,'');get4day();">
					<span class="title3">天</span>&nbsp;成团人数： <input name="go_num"
					type="text" class="INPUT" id="go_num" value="<{$info.go_num}>"
					size="10" maxlength="8"
					onKeyUp="this.value=this.value.replace(/\D/gi,'')"> <span
					class="title3">人</span>，儿童占座：<{html_radios name="kid" options=$r_2
					checked=$info.kid separator=""}></td>
			</tr>
			<tr>
				<td align="right">出团日期：</td>
				<td><{html_radios name="go_type" id="go_type" options=$go_type
					checked=$info.go_type separator=""}>
					<fieldset>
						<legend>团期：</legend>
						<span id="mytime"><input name="go_time" type="text"
							class="INPUT" id="go_time" value="<{$info.go_time}>" size="60"
							maxlength="60"> </span>
					</fieldset>
					</div>
				</td>
			</tr>
			<tr>
				<td align="right">报名截止：</td>
				<td>团期前 <input name="go_reg" type="text" class="INPUT"
					id="go_reg" value="<{$info.go_reg}>" size="4" maxlength="2"
					onKeyUp="this.value=this.value.replace(/\D/gi,'')"> 天
				</td>
			</tr>
			<!--  <tr>
				<td align="right">集合地点：</td>
				<td><input name="add" type="button" value="增加" id="add"><input
					name="del" type="button" value="减少" id="del">
					<ul id="location"></ul></td>
			</tr>-->
			<tr>
				<td align="right">主图上传：</td>
				<td><input type="file" name="pic" size="40"><{if
					$info.id eq ''}><input type="hidden" name="url"
					value="<{$info.url}>"><{else}>图片：<input type="text"
					name="url" value="<{$info.url}>"><{/if}></td>
			</tr>

			<tr>
				<td align="right">是否地接：</td>
				<td><select name="dj"><option value="0" selected="">暂无地接</option><{html_options
						options=$cg_dj selected=$info.dj}>
				</select></td>
			</tr>
			<tr>
				<td align="right">线路说明：</td>
				<td><textarea name="remark" id="remark"
						style="width: 700px; height: 100px;"><{$info.remark}></textarea></td>
			</tr>
			<tr>
				<td align="right">行程特色：</td>
				<td><textarea name="feature" id="feature"
						style="width: 700px; height: 100px;"><{$info.feature}></textarea></td>
			</tr>
			<tr id="ttbj" style="display:;">
				<td align="right">团体包价：</td>
				<td><textarea name="info" style="width: 700px; height: 220px;"><{$info.info}></textarea></td>
			</tr>
			<tr>
				<td align="right">信息控制：</td>
				<td><{html_checkboxes name='op_type' options=$op_type
					checked=$info.op_type separator=""}></td>
			</tr>
			<tr>
				<td align="right">成本价格：</td>
				<td>成人： <input name="price_adult" type="text" class="INPUT"
					id="price_adult" value="<{$info.price_adult}>" size="10"
					maxlength="8" onKeyUp="this.value=this.value.replace(/\D/gi,'')">&nbsp;&nbsp;|&nbsp;&nbsp;儿童：
					<input name="price_kid" type="text" class="INPUT" id="price_kid"
					value="<{$info.price_kid}>" size="10" maxlength="8"
					onKeyUp="this.value=this.value.replace(/\D/gi,'')">&nbsp;&nbsp;+&nbsp;&nbsp;利润：
					<input name="price_profit" type="text" class="INPUT"
					id="price_profit" value="<{$info.price_profit}>" size="10"
					maxlength="8" onKeyUp="this.value=this.value.replace(/\D/gi,'')">&nbsp;&nbsp;=&nbsp;&nbsp;底价：<input
					name="price1" type="text" class="INPUT" id="price1"
					value="<{$info.price1}>" size="10" maxlength="8"
					onKeyUp="this.value=this.value.replace(/\D/gi,'')"> <span
					class="title3">元(底价为公司内部所见价格)</span></td>
			</tr>
			<tr>
				<td align="right">分销以及售价：</td>
				<td>本网： <input name="price2" type="text" class="input"
					id="price2" onKeyUp="this.value=this.value.replace(/\D/gi,'')"
					size="8" maxlength="8" value="<{$info.price2}>"> <span
					class="title3">元 （网站售价）</span> <br> 门市： <input name="price3"
					type="text" class="input" id="price3"
					onKeyUp="this.value=this.value.replace(/\D/gi,'')" size="8"
					maxlength="8" value="<{$info.price3}>"> 元（门市售价）<br>
					同行： <input name="price4" type="text" class="input" id="price4"
					onKeyUp="this.value=this.value.replace(/\D/gi,'')" size="8"
					maxlength="8" value="<{$info.price4}>"> <span
					class="title3">元（同行分销价）</span><br></td>
			</tr>
			<tr>
				<td align="right">&nbsp;</td>
				<td><input type="submit" class="bt" value="提交信息" />
					&nbsp;&nbsp; <input type="reset" class="bt" value="重新填写">
					&nbsp;&nbsp; <input type="button" class="bt"
					onClick="window.location='?action=list';" value="返回操作"></td>
			</tr>
		</tbody>
	</table>
</form>



<{/if}>

<script type="text/javascript">

function searcharea(_id,_iname){
	var s1 = $("input[name='"+_id+"']").val();
	$("#"+_id).load("getajax.php?q=getsearcharea&s1="+s1+"&iname="+_iname);
}
function del_nsort() {
	var cf = window.confirm("是否确定该操作？");
	return cf;
}
function ship_init(){
	if(ctype.val()==118){
		$("#ships").show();
	}else{
		$("#ships").hide();
	}
}
			var ctype = $("select[name='classid']");
			var ctype1 = $("select[name='classid2']");
			
			function ctype_init() {
				ctype1.empty();
				$.ajax({
							type : "GET",
							dataType : "json",
							url : "getajax.php?q=getclass",
							data : "pid=" + ctype.val(),
							complete : function() {
							},
							success : function(data, textStatus) {
								var pid_select = "<{$info.classid2}>";
								if(data!=null){
									$.each(data,function(index, item) {
										if (pid_select == index) {
											ctype1.append("<option value='"+index+"'  selected=\"selected\">"
															+ item
															+ "</option>");
										} else {
											ctype1.append("<option value='"+index+"'>"
															+ item
															+ "</option>");
										}
									});
								}//end if
							}
						});
			}
			ctype_init();
			ctype.change(function() {
				ctype_init();ship_init();
			});
//设定原值
var gt = ["","","",""];
$("input:radio[name='go_type']").click(function(){
	var val = parseInt($(this).val());
	val = val>gt.length?gt.length:val;
	var istr= '',v='',obj = _('mytime');
	switch(val){
		case 1:
			v = gt[val]!="" ? gt[val]:"";
			for(var i=1;i<8;i++){
				var cstr = v.indexOf(i)>-1?" checked":"";
				istr += '<label><input name="go_time" id="go_time'+i+'" type="checkbox" value="'+i+'"'+cstr+'>周'+i+'</label> ';
			}
			obj.innerHTML = istr;
		break;
		case 2:
			v = gt[val]!="" ? gt[val]:"";
			for(var i=1;i<32;i++){
				var cpos = v.indexOf(i);
				var cstr = cpos>-1?" checked":"";
				if(i<10&&cpos>-1){
					if(cpos==0){
						cstr = isNum(v.substring(cpos+1,cpos+2))?"":" checked";
					}else{
						cstr = isNum(v.substring(cpos+1,cpos+2))||isNum(v.substring(cpos-1,cpos))?"":" checked";
					}
					//alert(cpos+'&'+v.substring(cpos+1,cpos+2));
				}
				istr += '<label><input name="go_time" id="go_time'+i+'" type="checkbox" value="'+i+'"'+cstr+'>'+i+'号</label> ';
			}
			obj.innerHTML = istr;
		break;
		case 3:
			v = gt[val]!="" ? gt[val]:"";
			istr += '<input name="go_time" id="go_time" type="text" class="input" value="'+v+'" size="60" maxlength="60">';
			obj.innerHTML = istr;
		break;
		default:
			v = gt[val]!="" ? gt[val]:"";
			obj.innerHTML = '每天发团<input name="go_time" type="hidden" id="go_time" value="'+v+'" />';
	}
});
//行程输入
function next_departure(v,n){
	//var cf = window.confirm("自动输入下一天日程离城市？");
	var t = $("#go_day").val();
	if(n<t){
		//var v = d.value;
		if(v.indexOf('|')>0){
			arr_c = v.split('|');
		}else{
			arr_c = [v];
		}
		$("#departure0"+(n+1)).val(arr_c[arr_c.length-1]);
	}
}
//定义全局行程天数
var day = 0;
var stroke_field = $("fieldset[name='stroke_field']");
var hasstroke = <{if $stroke neq ''}>1<{else}>0<{/if}>;
function get4day(){
	var gnum = parseInt($("#go_day").val());
	if(isNum(gnum)){
		var ary = new Array(gnum-1);
		var sstr='';
		var dep = $("#city1").val();
		var ari = $("#city2").val();
		var c1,c2;
		if(hasstroke==0){
		for(var i=1;i<=gnum;i++){
			
			if(i==1){
				c1 = dep;c2=ari;
			}else if(i==gnum){
				c1 = ari;c2=dep;
			}else{
				c1 = ari;c2=ari;
			}
			sstr += '\
			<div id="d'+i+'">第<input name="num[]" type="text" value="'+i+'" size="2" readonly>天<input type="hidden" name="sid[]" value=""><br>\
			离城市：<input name="departure[]" type="text" class="INPUT" id="departure0'+i+'" value="'+c1+'" maxlength="10"> 时间：<input name="timd[]" type="text" class="INPUT" value=""><br>\
			抵城市：<input name="arrived[]" type="text" id="arrived0'+i+'" value="'+c2+'" maxlength="60" onblur="next_departure(this.value,'+i+');"> 时间：<input name="tima[]" type="text" class="INPUT" value=""> 注：可多个抵达城市，用|分隔<br>\
			<strong>行</strong>：<select name="traffic[]" id="traffic0'+i+'"><option label="无" value="null" selected="selected">无</option><option value="plane">飞机</option><option value="train">火车</option><option value="ship">轮船</option><option value="car">汽车</option></select> <input name="tname[]" type="text" id="tid'+i+'" value=""> 参考航班、火车等交通信息，如无可不填写。<br>\
<strong>食</strong>：<label><input type="checkbox" name="eat'+i+'[]" value="1">早</label><label><input type="checkbox" name="eat'+i+'[]" value="2">中</label><label><input type="checkbox" name="eat'+i+'[]" value="3">晚</label><br>\
<strong>住</strong>：<input type="text" name="hotel[]" id="hotel0'+i+'" value=""><br>\
<strong>娱：</strong> <input type="button" name="s" id="s0'+i+'" value="查询" onClick="get4city('+i+',3);"><span id="scenic0'+i+'"></span><br>\
<textarea name="content[]" id="cont'+i+'" style="width:500px;height:120px;"></textarea><hr></div>\
';
		}//for
		stroke_field.html('<legend> 行程明细</legend>'+sstr);
		day = gnum;hasstroke=1;
		}else{//行程天数有变？
			var cf = window.confirm("是否确定‘行程天数’有变？");
			if(cf){//确认
				if(day>gnum){//原始记录比当前，删除
					for(var i=(gnum+1);i<=day;i++){
						$("div").detach("#d"+i);
					}
				}else{//alert(day+'=='+gnum);
					for(var i=(day+1);i<=gnum;i++){
						if(i==gnum){
							c1 = ari;c2=dep;
						}else{
							c1=i==1?dep:ari;
							c2=ari;
						}
						sstr = '\
			<div id="d'+i+'">第<input name="num[]" type="text" value="'+i+'" size="2" readonly>天<input type="hidden" name="sid[]" value=""><br>\
			离城市：<input name="departure[]" type="text" class="INPUT" id="departure0'+i+'" value="'+c1+'" maxlength="10"> 时间：<input name="timd[]" type="text" class="INPUT" value=""><br>\
			抵城市：<input name="arrived[]" type="text" id="arrived0'+i+'" value="'+c2+'" maxlength="60"> 时间：<input name="tima[]" type="text" class="INPUT" value=""> 注：可多个抵达城市，用|分隔<br>\
			<strong>行</strong>：<select name="traffic[]" id="traffic0'+i+'"><option label="无" value="null" selected="selected">无</option><option value="plane">飞机</option><option value="train">火车</option><option value="ship">轮船</option><option value="car">汽车</option></select> <input name="tname[]" type="text" id="tid'+i+'" value=""> 参考航班、火车等交通信息，如无可不填写。<br>\
<strong>食</strong>：<label><input type="checkbox" name="eat'+i+'[]" value="1">早</label><label><input type="checkbox" name="eat'+i+'[]" value="2">中</label><label><input type="checkbox" name="eat'+i+'[]" value="3">晚</label><br>\
<strong>住</strong>：<input type="text" name="hotel[]" id="hotel0'+i+'" value=""><br>\
<strong>娱：</strong> <input type="button" name="search" id="s0<{$web.num}>" value="查询" onClick="get4city('+i+',3);"><span id="scenic0'+i+'"></span><br>\
<textarea name="content[]" id="cont'+i+'" style="width:500px;height:120px;"></textarea><hr></div>\
';
						stroke_field.append(sstr);
					}
				}
				day = gnum;
			}else{
				$("#go_day").val(day);
			}
		}
	}else{
		alert("旅行天数请输入数字！");
		$("#go_day").focus();
	}
}
//ajax插入visa
function get4visa(){
	var city2 = $("#city2").val();
	var visa2 = $("#visa");
	$.ajax({
		type : "GET",
		dataType : "json",
		url : "getajax.php?q=getvisa&types=2",
		data : "city2=" + city2,
		complete : function() {
		},
		success : function(data, textStatus) {
			if(data!=null){
				var pid_select = "<{$info.visa}>";
				visa2.empty();
				$.each(data,function(index, item) {
					if (pid_select == index) {
						visa2.append("<option value='"+index+"' selected='selected'>"+item+"</option>");
					} else {
						visa2.append("<option value='"+index+"'>" + item + "</option>");
					}
				});
			}else{
				visa2.html('<option value="0">未查询到'+city2+'相关签证</option>');
			}
		}
	});
}
//ajax插入scenic&hotel
function get4city(n,t){
	var hotel = $("#star0"+n);
	var scenic = $("#scenic0"+n);
	var city2 = $("#arrived0"+n).val();
	if(t==0){//hotel
	
	$.ajax({
		type : "GET",
		dataType : "json",
		url : "getajax.php?q=city2&types=0",
		data : "city2=" + city2,
		complete : function() {
		},
		success : function(data, textStatus) {
			if(data!=null)
			{
			var pid_select = "<{$info.star}>";
			$.each(data,function(index, item) {
				if (pid_select == index) {
					hotel.append("<option value='"+index+"'  selected=\"selected\">"
									+ item
									+ "</option>");
				} else {
					hotel.append("<option value='"+index+"'>"
									+ item
									+ "</option>");
				}
			});
			}else{
				hotel.html('<option value="0">未查询到相关酒店</option>');
			}
		}
	});
	}else{//scenic
	
	$.ajax({
		type : "GET",
		dataType : "json",
		url : "getajax.php?q=city2&types=3",
		data : "city2=" + $("#departure0"+n).val()+"|"+$("#arrived0"+n).val(),//scenic->2city
		complete : function() {
		},
		success : function(data, textStatus) {
			if(data!=null)
			{
			scenic.html(" ");
			$.each(data,function(town, dat) {
				scenic.append('<br><strong>'+town+'：</strong><br>');
				if(isEmptyValue(dat)){
					$.each(dat,function(index,item){
						//checked？
						var ischk = in_array(ary[n],index)?'checked':'';
						scenic.append("<label><input name='scenic"+n+"[]' type='checkbox' value='"+index+"' '"+ischk+"'>" +item+ "</label>");
					});
				}else{scenic.append('<font color="red">未查询到相关景点信息</font>');}
			});
			}else{
				scenic.html("未查询到相关景点信息");
			}
		}
	});
	}
}
//行程类型选择
$("input:radio[name='d_type']").click(
	function () {
		if($(this).val()==1){//upload excel
			$("div[name='stroke_up']").show();
			$("fieldset[name='stroke_field']").hide();
		}else{
			$("fieldset[name='stroke_field']").show();
			$("div[name='stroke_up']").hide();
			if(!_("d1")){get4day();}
		}
	}
);
//集合地点
var snum = 0;
var sadd = '<{$info.addr}>';var stim = '<{$info.tim}>';
var cadd = sadd.split(',');var catt = stim.split(',');
if(cadd.length>0){
	snum = cadd.length;
	for(var i=0;i<snum;i++){
		$("#location").append('<li id="location_0'+(i+1)+'">第'+(i+1)+' 地点：<input name="addr[]" type="text" value="'+cadd[i]+'" size="10" maxlength="30"> 时间：<input name="tim[]" type="text" value="'+catt[i]+'" size="3" maxlength="5"></li>');
	}
}else{
	
}
$("#add").click(
	function(){
		++snum;
		$("#location").append('<li id="location_0'+snum+'">第'+snum+' 地点：<input name="addr[]" type="text" value="" size="10" maxlength="30"> 时间：<input name="tim[]" type="text" value="" size="3" maxlength="5"></li>');
	}
);
$("#del").click(function(){$("li").remove("#location_0"+snum);snum>=1?--snum:null;});
//
function _(id){
	return document.getElementById(id);
}
function isNum(str){
	var re = /^-{0,1}\d*\.{0,1}\d+$/;
    return (re.test(str));
}
//
function in_array(arr,n){ 
	// 判断参数是不是数组 
	var isArr = arr && console.log( typeof arr==='object' ? arr.constructor===Array ? arr.length ? arr.length===1 ? arr[0]:arr.join(','):'an empty array': arr.constructor: typeof arr );
	// 不是数组则抛出异常 
	if(!isArr){ 
		return false;
	}
	// 遍历是否在数组中 
	for(var i=0,k=arr.length;i<k;i++){ 
		if(n==arr[i]){ 
		return true; 
		} 
	}
	// 如果不在数组中就会返回false 
	return false; 
}
var isEmptyValue = function(obj){
	if (typeof obj === "object" && !(obj instanceof Array)){
		var hasProp = false;
		for (var prop in obj){
			hasProp = true;
			break;
		}
		if (hasProp){
			obj = [obj];return true;
		}else{
			//throw "It is empty object";
			return false;
		}
	}
}
</script>
<{include file="admin_tpl_foot.html"}>
