<{include file="admin_tpl_head.html"}>
		<{if $action eq 'list'}>
		<table cellspacing=1 cellpadding=4 class=table>
			<form name=sel_form action='?action=delete' method=post>
				<tr>
					<th>ID</th>
					<th>航班号</th>
					<th>机票类型</th>
					<th>航空公司</th>
					<th>机场</th>
					<th>出发城市</th>
					<th>到达城市</th>
					<th>出发时间</th>
					<th>抵达时间</th>
					<th>报价</th>
					<th>管理</th>
				</tr>
				<{foreach from=$comments item=web}>
				<tr align=center>
					<td><{$web.id}></td>
					<td><{$web.title}></td>
					<td><{$Config.plane[$web.type]}></td>
					<td><{$line[$web.lid]}></td>
					<td><{$port[$web.pid]}></td>
					<td><{$web.scity}></td>
					<td><{$web.ecity}></td>
					<td><{$web.times}></td>
					<td><{$web.timee}></td>
					<td>经济舱：￥<{$web.price}>元<br> 商务舱：￥<{$web.price1}>元<br>
						头等舱：￥<{$web.price2}>元
					</td>
					<td><a href='?action=edit&id=<{$web.id}>'>编辑</a> <a
						href="?action=delete&types=<{$contact.types}>&id=<{$web.id}>"
						onclick="javascript:return del_nsort();">删除</a></td>
				</tr>
				<{/foreach}>
				<tr class=tr1>
					<td colspan=11><{$multipage}></td>
				</tr>
			</form>
		</table>
		<table width='90%' height=2>
			<tr class=bg>
				<td></td>
			</tr>
		</table>
		<{else}>
		<table cellspacing=1 cellpadding=4 class=table>
			<tr>
				<td class=td colspan=2>添加<{$tit}></td>
			</tr>
			<form name=add_frm action='?action=handle' method=post
				enctype="multipart/form-data">
				<input type=hidden name=id value='<{$info.id}>'>
				<tr>
					<td width="14%" align="right">航班号：</td>
					<td width="86%"><input name="title" type="text" class="INPUT"
						id="title" value="<{$info.title}>" size="40"></td>
				</tr>
				<tr>
					<td align="right">机票类型：</td>
					<td><select name='type' id='type'> <{html_options
							options=$Config.plane selected=$info.type}>
					</select></td>
				</tr>
				<tr>
					<td align="right">航空公司：</td>
					<td><select name='lid' id='lid'> <{html_options
							options=$line selected=$info.lid}>
					</select></td>
				</tr>
				<tr>
					<td align="right">机场：</td>
					<td><select name='pid' id='pid'> <{html_options
							options=$port selected=$info.pid}>
					</select></td>
				</tr>
				<tr>
					<td align="right">出发城市：</td>
					<td><input name="scity" type="text" class="INPUT" id="scity"
						value="<{$info.scity}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right">中转城市：</td>
					<td><input name="city" type="text" class="INPUT" id="scity"
						value="<{$info.city}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right">到达城市：</td>
					<td><input name="ecity" type="text" class="INPUT" id="ecity"
						value="<{$info.ecity}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right">出发时间：</td>
					<td><input name="times" type="text" class="INPUT" id="times"
						value="<{$info.times}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right">抵达时间：</td>
					<td><input name="timee" type="text" class="INPUT" id="timee"
						value="<{$info.timee}>" size="20" maxlength="20"></td>
				</tr>
				<tr>
					<td align="right">运行时间：</td>
					<td><input name="num" type="text" class="INPUT" id="num"
						value="<{$info.num}>" size="2" maxlength="2"
						onKeyUp='this.value=this.value.replace(/\D/gi,"")'><span
						class="title3"> 如第二天抵达请输入1，第三天抵达请输入2；前台自动增加“+”</span></td>
				</tr>
				<tr>
					<td align="right">预订价格：</td>
					<td>经济舱:<input name="price" type="text" class="INPUT"
						id="price" value="<{$info.price}>" size="20" maxlength="10"
						onKeyUp='this.value=this.value.replace(/\D/gi,"")'> <span
						class="title3">元</span> 商务舱:<input name="price1" type="text"
						class="INPUT" id="price1" value="<{$info.price1}>" size="20"
						maxlength="10" onKeyUp='this.value=this.value.replace(/\D/gi,"")'>
						<span class="title3">元</span> 头等舱:<input name="price2" type="text"
						class="INPUT" id="price2" value="<{$info.price2}>" size="20"
						maxlength="10" onKeyUp='this.value=this.value.replace(/\D/gi,"")'>
						<span class="title3">元</span>
					</td>
				</tr>
				<tr>
					<td align="right">备注说明：</td>
					<td><textarea name="content" cols="60" rows="4" class="INPUT"
							id="content"><{$info.content}></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td height=30><input type=submit value='提交添加'> <input
						type=reset value='重新填写'> <input type=button name=go_back
						value='返回上一页' onclick="javascript:location.href='?c_id=0';"></td>
				</tr>
			</form>
		</table>

		<{/if}>

		<script language=javascript>
			function del_nsort() {
				var cf = window.confirm("是否确定该操作？");
				return cf;
			}
		</script>
<{include file="admin_tpl_foot.html"}>