<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_<{$info.title}>_<{$ktitle}>_金桥旅行社</title>
<link href="<{$siteurl}>/css/global.css" rel="stylesheet"
	type="text/css">
<link href="<{$siteurl}>/css/detail.css" rel="stylesheet"
	type="text/css">

<script type="text/javascript" src="<{$siteurl}>/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="<{$siteurl}>/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="<{$siteurl}>/js/jquery.pin.js"></script>
<script type="text/javascript">
	$(function() {
		$(".jq_price .price_exp").mouseenter(function() {
			$(this).find("div").show();
		})
		$(".jq_price .price_exp").mouseleave(function() {
			$(this).find("div").hide();
		})
		$(".select_arrow").click(function() {
			$(this).toggleClass("se_ar_on");
			$(".svo_box").slideToggle(200);
		});
		$(".cd_info_title li").click(function() {//商品详情——订单导航
			//$(this).siblings().removeClass("cd_on");
			// $(this).addClass("cd_on");	
			var cdit_num = $(".cd_info_title li").index(this) + 1;
			var cdit_top = $(".cd_t" + cdit_num).offset().top - 60;
			$("html, body").animate({
				scrollTop : cdit_top
			}, 300);
		});
		$(".trip_left ul li").click(function() {//商品详情——天数导航
			var cdit_num = $(".trip_left ul li").index(this);
			var cdit_top = $(".frt_ul").eq(cdit_num).offset().top - 50;
			$("html, body").animate({
				scrollTop : cdit_top
			}, 300);

		});
		$(window).scroll(
				function() {
					var vv = document.documentElement.scrollTop
							|| document.body.scrollTop; //解决谷歌等不识别document.documentElement.scrollT
					$(".of_info .info_title").each(
							function(i) {
								var cd_t = $(this).offset().top - 80;
								if (cd_t < vv) {
									$(".cd_info_title li").eq(i).siblings()
											.removeClass("cd_on");
									$(".cd_info_title li").eq(i).addClass(
											"cd_on");
								}
							})
					$(".trip_right .frt_ul").each(
							function(x) {
								var frtu = $(this).offset().top - 80;
								if (frtu < vv) {
									$(".trip_left ul li").eq(x).siblings()
											.removeClass("trl_on");
									$(".trip_left ul li").eq(x).addClass(
											"trl_on");
								}
							})
				})
		$(".cd_info_title").pin({
			containerSelector : ".cd_info"
		})
		$(".trip_left ul").pin({
			containerSelector : ".trip_box"
		})
		$(".cd_slideBox").slide({
			mainCell : ".bd ul",
			effect : "fold",
			autoPlay : true,
			easing : "easeOutCirc",
			delayTime : 800
		});

	})
</script>
<script type="text/javascript" src="<{$siteurl}>/js/index.js"></script>
</head>
<body>
	<{include_php file="./include/header.php"}>
	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="/">首页</a>&gt;<{$cnname}>
	</div>
	<div class="wrapper clrfix">
		<!--内容-->
		<div class="fill_left fl">
			<div class="of_info cd_info">
				<div class="info_title cd_t1">
				<span>关于我们</span><!--<span class="it_ins">为参考信息</span>-->
				</div>
				<div class="cdt_txt"><{$info.contents|nl2br}></div>
				<div class="info_title cd_t1">
				<span>服务项目</span><!--<span class="it_ins">为参考信息</span>-->
				</div>
				<div class="cdt_txt"><{$info.word|nl2br}></div>
			</div>
		</div>
		<div class="fill_right fr ranking_box">
			<!--右侧-->
			<ul class="pay_info comm_ranking">
				<li class="ran_name">销售排名</li> <{foreach item=tour name=tour
				from=$hots}>
				<li>
					<div class="ran_img">
						<img src="<{$tour.url}>" width="84" height="55" />
					</div>
					<div class="ran_txt">
						<a href="/tours/<{$tour.id}>">&lt;<{$tour.title}>&gt;<{$tour.departure}>往</a>
						<span>￥<{$tour.price_2}>起</span>
					</div>
				</li><{/foreach}>
			</ul>
			<ul class="pay_info comm_ranking comm_record">
				<li class="ran_name">浏览记录</li>
				<li><a href="#">&lt;希腊法瑞意梵13或14日游&gt;雅典卫城，庞贝</a> <span>￥12799起</span>
				</li>
				<li><a href="#">&lt;希腊法瑞意梵13或14日游&gt;雅典卫城，庞贝</a> <span>￥12799起</span>
				</li>
				<li><a href="#">&lt;希腊法瑞意梵13或14日游&gt;雅典卫城，庞贝</a> <span>￥12799起</span>
				</li>
				<li><a href="#">&lt;希腊法瑞意梵13或14日游&gt;雅典卫城，庞贝</a> <span>￥12799起</span>
				</li>
				<li><a href="#">&lt;希腊法瑞意梵13或14日游&gt;雅典卫城，庞贝</a> <span>￥12799起</span>
				</li>
			</ul>
		</div>
	</div>

	<{include file="./include/footer.html"}>
</body>
</html>
