<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$info.title}>_<{$cnname}>_<{$ktitle}>_金桥旅行社</title>
<link href="<{$siteurl}>/css/global.css" rel="stylesheet"
	type="text/css">
<link href="<{$siteurl}>/css/detail.css" rel="stylesheet"
	type="text/css">

<script type="text/javascript" src="<{$siteurl}>/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="<{$siteurl}>/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="<{$siteurl}>/js/jquery.pin.js"></script>
<script type="text/javascript">
	$(function() {
		$(".jq_price .price_exp").mouseenter(function() {
			$(this).find("div").show();
		})
		$(".jq_price .price_exp").mouseleave(function() {
			$(this).find("div").hide();
		})
		$(".select_arrow").click(function() {
			$(this).toggleClass("se_ar_on");
			$(".svo_box").slideToggle(200);
		});
		$(".cd_info_title li").click(function() {//商品详情——订单导航
			//$(this).siblings().removeClass("cd_on");
			// $(this).addClass("cd_on");	
			var cdit_num = $(".cd_info_title li").index(this) + 1;
			var cdit_top = $(".cd_t" + cdit_num).offset().top - 60;
			$("html, body").animate({
				scrollTop : cdit_top
			}, 300);
		});
		$(".trip_left ul li").click(function() {//商品详情——天数导航
			var cdit_num = $(".trip_left ul li").index(this);
			var cdit_top = $(".frt_ul").eq(cdit_num).offset().top - 50;
			$("html, body").animate({
				scrollTop : cdit_top
			}, 300);

		});
		$(window).scroll(
				function() {
					var vv = document.documentElement.scrollTop
							|| document.body.scrollTop; //解决谷歌等不识别document.documentElement.scrollT
					$(".of_info .info_title").each(
							function(i) {
								var cd_t = $(this).offset().top - 80;
								if (cd_t < vv) {
									$(".cd_info_title li").eq(i).siblings()
											.removeClass("cd_on");
									$(".cd_info_title li").eq(i).addClass(
											"cd_on");
								}
							})
					$(".trip_right .frt_ul").each(
							function(x) {
								var frtu = $(this).offset().top - 80;
								if (frtu < vv) {
									$(".trip_left ul li").eq(x).siblings()
											.removeClass("trl_on");
									$(".trip_left ul li").eq(x).addClass(
											"trl_on");
								}
							})
				})
		$(".cd_info_title").pin({
			containerSelector : ".cd_info"
		})
		$(".trip_left ul").pin({
			containerSelector : ".trip_box"
		})
		$(".cd_slideBox").slide({
			mainCell : ".bd ul",
			effect : "fold",
			autoPlay : true,
			easing : "easeOutCirc",
			delayTime : 800
		});

	})
</script>
<script type="text/javascript" src="<{$siteurl}>/js/index.js"></script>
</head>
<body>
	<{include_php file="./include/header.php"}>
	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="index.html">首页</a>&gt;<a href="/<{$enname}>"><{$cnname}></a>&gt;<a
			href="/guide/<{$stat.id}>"><{$stat.title}></a><{if $city.title neq
		''}>&gt;<a href="/guide/<{$city.id}>"><{$city.title}></a><{/if}>&gt;<{$info.title}>
	</div>
	<div class="wrapper clrfix">
		<form name="formnew" action="/orderdetailfill" method="post">
			<input name="id" type="hidden" value="<{$info.id}>" />
			<!--内容-->
			<div class="fill_left fl">
				<div class="of_info comm_details">
					<div class="comm_name"><{$info.title}></div>
					<div class="comm_type_bg">
						<span class="comm_type">旅游</span><{$info.brand}><span
							class="comm_num"><{if $info.info_id ne
							''}>产品编号：<{$info.info_id}><{/if}></span>
					</div>
					<div class="comm_ct clrfix">
						<div class="comm_ctL">
							<div class="cd_slideBox">
								<!--焦点图-->
								<div class="hd">
									<ul>
										<li class="sli_on first_hd"><img
											src="<{$picserver}><{$info.url}>" width="100%" height="100%" /><span></span></li>
										<{foreach name=topimg0 item=tp0 from=$pic}>
										<li><img src="<{$picserver}><{$tp0.url}>" width="129"
											height="86" /><span></span></li><{/foreach}>
									</ul>
								</div>
								<div class="bd">
									<ul>
										<li style="display: none;"><a href="#"><img src="<{$picserver}><{$info.url}>" /></a></li> <{foreach name=topimg1
										item=tp1 from=$pic}>
										<li><a href="#"><img src="<{$picserver}><{$tp1.url}>" /></a></li><{/foreach}>
									</ul>
								</div>
							</div>
						</div>
						<ul class="comm_ctR">
							<{if $info.price1 neq '' and $info.price neq '0'}><li class="jq_price">价格：<span><{$info.material}><{$info.price1}></span> <!--  <div class="price_exp">
								起价说明
								<div><span></span><{$info.info}></div>
							</div>-->
						</li><{/if}>
							<!--<li class="jq_pref">优惠促销：<span>减<span class="jq_price_num">200</span></span>新用户购买减200</li>-->
							<li class="jq_setout">所在地：<a href="/guide/<{$stat.id}>"><{$stat.title}></a><{if
								$city.title neq ''}>&gt;<a href="/guide/<{$city.id}>"><{$city.title}></a><{/if}>
							</li>
							<!--<li class="jq_dest">目的地：<{$info.title}></li>-->
							<li class="jq_num"><{if $info.types eq
								3}>游览时间：<{$info.item}><{/if}></li>
							<li class="jq_rnum">选择数量： <span class="jq_adult clrfix">
									<span class="jq_subtract fl" onclick="javascript:people('-');">-</span>
									<input type="text" value="1"
									onKeyUp='this.value=this.value.replace(/\D/gi,"")'
									name="peoplenum" readonly="readonly" /> <span
									class="jq_add fr" onclick="javascript:people('+');">+</span>
							</span></li>
							<li class="jq_reser"><a href="javascript:order();">立即预定</a></li>
							<li class="jq_instr"><{if $info.keyword neq ''}><ul>
									<li class="cbct_hd">产品亮点</li>
									<li><{$info.keyword}></li>
								</ul><{/if}></li>
						</ul>
					</div>
		</form>
	</div>

	<div class="of_info cd_info">
		<div class="cd_info_box">
			<ul class="clrfix cd_info_title">
				<li class="cd_on">交通信息</li>
				<li><{$cnname}>介绍</li>
				<li>周边线路</li>
				<li>周边<{$cnname}></li>
				<!--<li>当地服务</li>-->
				<{if $info.price1 neq '' and $info.price neq '0'}><div class="cd_moeny"><{$info.material}><{$info.price1}></div><{/if}>
				<div class="cd_preordain">
					<a href="javascript:order();">我要预定</a>
				</div>
			</ul>
		</div>
		<div class="info_title cd_t1">
			<span>交通信息</span><span class="it_ins">为参考信息</span>
		</div>
		<div class="cd_txt"><{$info.pos}></div>

		<div class="info_title cd_t2">
			<span><{$cnname}>介绍</span><span class="it_ins"></span>
		</div>
		<div class="cdt_txt"><{$info.word|nl2br}></div>

		<div class="info_title cd_t3">
			<span>周边线路</span>
		</div>
		<ul class="cd_recom clrfix">
			<{foreach name=lines item=xl from=$lines}>
			<li>
				<div class="cdr_img">
					<a href="/tours/<{$xl.id}>" target="_blank"><img
						src="<{$xl.url}>" width="218" height="135"></a>
				</div>
				<div class="cdr_txt">
					<a href="/tours/<{$xl.id}>" target="_blank" class="cdr_txt_hd"><{$xl.name}></a>
					<div class="cdr_txt_bd"><{$xl.word}></div>
					<div class="cdr_txt_price">￥<{$xl.price_2}></div>
				</div>
			</li><{/foreach}>
		</ul>

		<div class="info_title cd_t4">
			<span>周边<{$cnname}></span>
		</div>
		<ul class="cd_recom clrfix cd_service">
			<{foreach name=pro item=pro from=$res0}>
			<li>
				<div class="cdr_img">
					<a href="<{$siteurl}>/detail/<{$pro.id}>" target="_blank"><img
						src="<{$picserver}><{$pro.url}>" width="218" height="135" /></a>
				</div>
				<div class="cdr_txt">
					<a href="<{$siteurl}>/detail/<{$pro.id}>" target="_blank" class="cdr_txt_hd"><{$pro.title}></a>
					<{if $template neq 'branch'}><div class="cdr_txt_price">￥<{$pro.price1}></div><{/if}>
				</div>
			</li><{/foreach}>
		</ul>

		<!--<div class="info_title cd_t6">
			<span>当地服务</span>
		</div>
		<ul class="cd_recom clrfix cd_service">
			<{foreach name=ort item=ort from=$res1}>
			<li>
				<div class="cdr_img">
					<a href="/detail/<{$ort.id}>" target="_blank"><img src="<{$picserver}><{$ort.url}>" width="218" height="135" /></a>
				</div>
				<div class="cdr_txt">
					<a href="/detail/<{$ort.id}>" target="_blank" class="cdr_txt_hd"><{$ort.title}></a>
					<div class="cdr_txt_price">￥<{$ort.price1}></div>
				</div>
			</li><{/foreach}>
		</ul>-->
	</div>
	</div>
	<div class="fill_right fr ranking_box">
		<!--右侧-->
		<ul class="pay_info comm_ranking">
			<li class="ran_name">销售排名</li> <{section name=tour loop=$hots}>
			<li>
				<div class="ran_img">
					<img src="<{$hots[tour].url}>" width="84" height="55" />
				</div>
				<div class="ran_txt">
					<a href="/tours/<{$hots[tour].hid}>" target="_blank">&lt;<{$hots[tour].title}>&gt;<{$hots[tour].departure}>往</a>
					<span>￥<{$hots[tour].price_2}>起</span>
				</div>
			</li><{/section}>
		</ul>
		<ul class="pay_info comm_ranking comm_record">
			<li class="ran_name">浏览记录</li> <{section name=web loop=$brower}>
			<li><a href="<{$brower[web].titlelink}>" target="_blank">&lt;<{$brower[web].title}></a>
				<span>￥<{$brower[web].price}>起</span></li> <{/section}>
		</ul>
	</div>
	</div>

	<{include file="./include/footer.html"}>
	<script type="text/javascript">
		function people(_sign) {
			var people_id = $("input[name='peoplenum']");
			var people_num = people_id.val();
			if (people_num.length == 0) {
				people_num = 1;
			} else if (_sign == '-') {
				if (people_num > 1) {
					people_num = parseInt(people_num) - 1;
				}
			} else if (_sign == "+") {
				people_num = parseInt(people_num) + 1;
			}
			people_id.attr('value', people_num);
		}

		function order() {
			$("form[name='formnew']").submit();
		}
	</script>

</body>
</html>
