<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$ktitle}>-免责声明</title>
</head>
<body>
	<{include_php file="./include/header.php"}>

	<div class="wrapper about_box clrfix">
		<ul class="about_left">
		  <li>免责声明<span></span></li>
		</ul>
		<div class="about_right">
		  <ul class="al_ul">
				<!--关于我们-->
				<li class="abr_title">关于我们</li>
				<li>
					<div class="abr_hd">简介</div> 
                    <p><br>&nbsp;&nbsp;&nbsp;&nbsp;准特许经营大陆居民赴台旅游业务。<br>
<br>
　　中国金桥旅游有限公司以其经营实力先后加入中国旅游协会、中国旅行协会、北京市旅游行业协会等国内外知名行业协会，并从首届起成为中国旅行社协会常务理事成员单位至今。<br>
<br>
　　中国金桥旅游有限公司以“中国金桥旅游”为品牌，全面落实科学发展观，坚持走规模化、集团化、品牌化、网络化、连锁化经营发展之路。成立二十多年来，以“为人们认识世界，加深理解，增进友情而架设金桥”为企业的崇高使命，全方位开拓入境旅游、国内旅游、出境旅游及商务旅游、各种国际交流、国际会议、国际展览、奖励旅游等专项特色旅游市场，从招徕到接待，为旅游者提供全面的优质服务。公司长期拥有一支训练有素、业务精通、经验丰富的外联、销售队伍和多语种的翻译、导游队伍。公司“以人为本”，精心策划编制适合不同年龄、不同职业、不同兴趣人群的特色旅游产品供旅游消费者选择。除传统旅游线路外，公司还推出了国内外的文物古迹、宗教文化、民俗风情、自驾车旅游等各具特色、精彩纷呈的旅游线路，赢得海内外宾客的青睐。 随着公司自身建设不断加强，品牌扩张不断加快，经营理念和管理机制不断创新，一个以中国金桥旅游有限公司为龙头，多元化的跨国、跨地区、跨行业的旅游销售、接待、服务网络已经形成并得到不断完善。<br>
<br>
　　中国金桥旅游有限公司全体同仁，以“游客至上、质量第一、诚信为本”为宗旨，自尊自强，敬业尽职，勇于开拓，竭诚服务；为旅游事业的发展做出项献。</p><br />
					<br />
					<div class="abr_hd">发展历程</div> 1995年3月，中国金桥旅游有限公司跻身于中国一、二类旅行社百强行列<br />
					<br /> <br /> 1997年6月，进入全国百强国际旅行社排行榜；<br /> <br /> <br />
					2000年9月，成为北京市国际旅行社二十强；<br /> <br /> <br />
					2007年12月，北京市旅游局授予公司“诚信旅行社”荣誉称号；<br /> <br /> <br />
					2008年4月，公司荣获北京市旅游局授予4A国际旅行社称号
				</li>
			</ul>
			<ul>
				<!--使用说明-->
				<li class="abr_title">使用说明</li>
				<li>
					<div class="abr_right_hd clrfix">
						<p>网上下单</p>
						<p>订单确认</p>
						<p>网上支付</p>
						<p>预定成功</p>
						<p class="last_hd">开心出游</p>
					</div>
					<table width="100%" border="0" class="abr_table_hd">
						<tr>
							<td align="center" valign="top" class="tab_title">公司介绍</td>
							<td><div>1.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。</div></td>
						</tr>
						<tr>
							<td class="tab_title" valign="top" align="center">订单确认</td>
							<td><div>
									1.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									2.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									3.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									4.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									5.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									6.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
								</div></td>
						</tr>
						<tr>
							<td class="tab_title" valign="top" align="center">网上支付</td>
							<td><div>
									1.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									2.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									3.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									4.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
								</div></td>
						</tr>
						<tr>
							<td class="tab_title" valign="top" align="center">预定成功</td>
							<td><div>
									1.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									2.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									3.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
								</div></td>
						</tr>
						<tr>
							<td class="tab_title" valign="top" align="center">开心出游</td>
							<td><div class="last_hd">
									1.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
									2.网上选择心仪产品，并在金桥旅游网站上下单，就可以享受金桥旅游所展示产品的优惠价和高品质的服务。<br />
								</div></td>
						</tr>
					</table>
				</li>
			</ul>
			<ul>
				<!--联系我们-->
				<li class="abr_title">联系我们</li>
				<li class="abr_tel"><span>400电话：400-061-5880</span> <span>市场商务合作电话：010-68990262</span>
				</li>
				<li class="abr_email"><span>市场商务合作邮箱：xiaohua@xiaohua.net</span> <span>旅游同业合作邮箱：xiaohua@xiaohua.net</span>
					<span>服务邮箱：xiaohua@xiaohua.net</span></li>
				<li class="abr_time"><span>工作时间：09:00-20:00(周一至周五)</span></li>
				<li class="abr_address"><span>公司地址：北京西城区地安门西大街甲171号</span> <span>邮编：100035</span>
				</li>
			</ul>
			<ul>
				<!--法律公告-->
				<li class="abr_title">法律公告</li>
				<li>
					本网站（www.cgbt.net）所有的产品、技术、程序、页面（包括但不限于页面设计及内容）以及资料内容（包括但不限于本站所刊载的图片、视频、Flash等）均属于知识产权，仅供本用户交流、学习、研究和欣赏，未经授权，任何人不得擅自使用，否则，将依法追究法律责任。<br />
					<br />
					本网站用户在攻略及论坛频道上传的资料内容（包括但不限于图片、视频、Flash、点评等），应保证为原创或已得到充分授权，并具有准确性、真实性、正当性、合法性，且不含任何侵犯第三人权益的内容，因抄袭、转载、侵权等行为所产生的纠纷由用户自行解决，本网站不承担任何法律责任。<br />
					<br />
					“金桥旅游网”、地球（图形）及“cgbt.net”组合为《北京金桥旅行社》注册商标，任何人不得擅自使用，否则，将依法追究法律责任。<br />
					<br />
					本网站高度重视知识产权保护并遵守中国各项知识产权法律、法规和具有约束力的规范性文件，尊重著作权人的合法权益。根据我国法律的有关规定，本网站制定了如下旨在保护权利人合法权益的措施和步骤，当权利人发现本网站用户上传的内容侵犯其合法权益时，权利人应事先向发出书面权利通知，本网站将根据中国法律法规的有关规定采取措施移除相关内容。<br />
					<br /> 为保证本网站有效处理您发送的“权利通知”，请您确保权利通知应包括以下内容：<br /> <br />
					1、具体的联络信息，包括权利人的姓名(名称)、通信地址、电话号码、身份证/护照复印件(自然人)、单位资质证明复印件;<br /> <br />
					2、要求删除的作品或文字名称及确切网络地址;<br /> <br />
					3、构成侵权的初步证明材料，包括但不限于权利人对涉嫌侵权作品或内容拥有合法权利的权属证明文件、涉嫌侵权事实等;<br /> <br />
					4、权利通知需由权利人或其合法授权人亲笔签名，若权利人为单位则需加盖单位公章。<br /> <br />
					5、具体的联络信息，包括权利人的姓名(名称)、通信地址、电话号码、身份证/护照复印件(自然人)、单位资质证明复印件;<br /> <br />
					6、要求删除的作品或文字名称及确切网络地址;<br /> <br />
					7、构成侵权的初步证明材料，包括但不限于权利人对涉嫌侵权作品或内容拥有合法权利的权属证明文件、涉嫌侵权事实等;<br /> <br />
					8、权利通知需由权利人或其合法授权人亲笔签名，若权利人为单位则需加盖单位公章。<br /> <br />
					您应对权利通知内容的真实性负责。您应了解，若通知书的内容不真实，您将承担由此造成的全部法律责任。本网站在收到符合条件的权利通知后，将根据中国法律法规及规范性文件采取措施立即删除相关涉嫌侵权内容，并将相应权利通知转送作品或内容提供者。
				</li>
			</ul>
			<ul>
				<!--免责公告-->
				<li class="abr_title">免责声明</li>
				<li>
					<div class="abr_hd">免责声明</div> 
			<p>1、任何人因使用本网站而可能遭致的意外及其造成的损失（包括因下载本网站可能链接的第三方网站内容而感染电脑病毒），我们对此概不负责，亦不承担任何法律责任。</p>		 
			<p>2、本网站禁止制作、复制、发布、传播等具有反动、色情、暴力、淫秽等内容的信息，一经发现，立即删除。若您因此触犯法律，我们对此不承担任何法律责任。 </p>
			<p>3、本网站会员自行上传或通过网络收集的资源，我们仅提供一个展示、交流的平台，不对其内容的准确性、真实性、正当性、合法性负责，也不承担任何法律责任。</p>
			<p>4、任何单位或个人认为通过本网站网页内容可能涉嫌侵犯其著作权，应该及时向我们提出书面权利通知，并提供身份证明、权属证明及详细侵权情况证明。我们收到上述法律文件后，将会依法尽快处理。</p>
		<br />
					<br />

				</li>
			</ul>
		</div>
	</div>
<script type="text/javascript">
var links = ["a","u","c","l","n"];
var hrefstr = window.location.href;
var pos = hrefstr.indexOf("#");
if(pos>0){
	str = hrefstr.substring(pos+1);
	if(in_array(links,str)>=0){
		var al_num=in_array(links,str)
		var al_dom=$(".about_left li").eq(al_num);
		al_dom.siblings().removeClass("al_li");
		al_dom.addClass("al_li");
		$(".about_right ul").hide();
		$(".about_right ul").eq(al_num).show(0);
		var about_left_h=$(".about_box").height()-2;
		$(".about_left").height(about_left_h).css("min-height","500px");
	}
}
function in_array(ary,s){
	for(var i=0;i<ary.length;i++){
		if(ary[i]==s){
			return i;
		}
	}
	return -1;
}
$(document).ready(function(){
  // 在这里写你的代码...
});
</script>
	<{include file="./include/footer.html"}>


</body>
</html>