<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>找回密码4</title>
<link href="css/global.css" rel="stylesheet" type="text/css">
<link href="css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrapper"><a href="index.html" class="logo"></a><!--logo--></div>
<div class="wrapper fp_main">
    <div class="fp_title">找回登录密码</div>
    <ul class="fp_progress clrfix fp_complete">
        <li class="prog1">1.确认账号</li>
        <li class="prog2">2.选择验证方式</li>
        <li class="prog3">3.验证/修改</li>
        <li class="prog4">4.完成</li>
    </ul>
    <div class="ver_phone ver_succ">您的验证已成功通过</div>
    <div class="get_phone_ver">请您立即修改您的登录密码</div>
    <div class="fp_main_box clrfix create_pass">
        <span>创建密码：</span>
        <div><input type="password"/></div>
    </div>
    <div class="fp_main_box clrfix create_pass">
        <span>确认密码：</span>
        <div><input type="password"/></div>
    </div>
    <a href="#" class="next_btn succ_btn">确认提交</a><a href="#" class="back_btn">上一步</a>
</div>

<ul class="wrapper clrfix comm_login fp_comm"><!--金桥五大承诺-->
    <li class="comm_title">金桥五大承诺&nbsp;&nbsp;让你旅游放心</li>
    <li class="comm_cq">产品优质</li>
    <li class="comm_jg">价格最新</li>
    <li class="comm_bz">预约价格保证</li>
    <li class="comm_qy">维护权益</li>
    <li class="comm_pf">先行赔付</li>
</ul>

</body>
</html>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>