<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
</head>
<body>
<{include_php file="./include/header.php"}>
<div class="wrapper"><!--订单进程-->
    <ul class="success_top of_top">
        <li class="ft1"><span>填写信息</span></li>
        <li class="fta"></li>
        <li class="ft2"><span>核对订单</span></li>
        <li class="ftb"></li>
        <li class="ft3"><span>订单支付</span></li>
        <li class="ftc"></li>
        <li class="ft4"><span>支付完成</span></li>
    </ul>
</div>
<div class="wrapper clrfix"><!--订单内容-->
    <div class="fill_left fl">
        <div class="of_info">
            <div class="pur_succ">
                <div class="ps_hd">恭喜您，成功购买【北京—巴厘岛春节自由行】！</div>
                <div class="ps_time">出发日期：2015-02-09</div>
                <div class="ps_point">
                    温馨提示：<br/>
                    1.预定完成后，订单详情页会展示成“预定成功”，来来客服会电话告知您接来来的操作程序。<br/>
                    2.出团通知会于您出发前至少一个工作日发送给您。<br/>
                    您可以随时进入<a href="#">“我的订单”</a>查看已购买的商品
                </div>
            </div>
        </div>
    </div>
    <div class="fill_right fr">
        <div class="pay_info pay_succ">
            <div class="ps_title">相关推荐</div>
            <div class="ps_img"><a href="#"><img src="images/sa_img1.jpg" width="218" height="80"/></a></div>
            <div class="ps_img"><a href="#"><img src="images/sa_img1.jpg" width="218" height="80"/></a></div>
            <div class="ps_img"><a href="#"><img src="images/sa_img1.jpg" width="218" height="80"/></a></div>
        </div>
    </div>    
</div>
<div class="wrapper">
    <div class="official_title">官方推荐<span>看了此商品的人通常</span></div>
    <ul class="scenic_area clrfix of_sa">
        <li>
            <a href="#" class="sa_img"><img src="images/sa_img1.jpg" width="286" height="175"/><div class="sa_price">￥230起</div></a>
            <a href="#" class="sa_txt">【南邵仙境】云南昆明、大理、丽江、海南</a>
        </li>
        <li>
            <a href="#" class="sa_img"><img src="images/sa_img1.jpg" width="286" height="175"/><div class="sa_price">￥52030起</div></a>
            <a href="#" class="sa_txt">【南邵仙境】云南昆明、大理、丽江、海南</a>
        </li>
        <li>
            <a href="#" class="sa_img"><img src="images/sa_img1.jpg" width="286" height="175"/><div class="sa_price">￥6530起</div></a>
            <a href="#" class="sa_txt">【南邵仙境】云南昆明、大理、丽江、海南</a>
        </li>
        <li>
            <a href="#" class="sa_img"><img src="images/sa_img1.jpg" width="286" height="175"/><div class="sa_price">￥22870起</div></a>
            <a href="#" class="sa_txt">【南邵仙境】云南昆明、大理、丽江、海南</a>
        </li>      
    </ul>
</div>
<{include file="./include/footer.html"}>

</body>
</html>

