<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
</head>
<body>
<{include_php file="./include/header.php"}>
<div class="wrapper"><!--订单进程-->
    <ul class="verify_top of_top">
        <li class="ft1"><span>填写信息</span></li>
        <li class="fta"></li>
        <li class="ft2"><span>核对订单</span></li>
        <li class="ftb"></li>
        <li class="ft3"><span>订单支付</span></li>
        <li class="ftc"></li>
        <li class="ft4"><span>支付完成</span></li>
    </ul>
</div>
<div class="wrapper clrfix"><!--订单内容-->
    <div class="of_info add_info">
        <div class="info_title"><span>订单信息</span></div>
        <ul class="info_bd">
            <li>产品名称：<span>北京—巴厘岛春节自由行</span></li>
            <li>出发城市：<span>北京</span>出行时间：<span>2015-02-19</span>行程天数：<span>6天</span>出行人数：<span>2(1成人1儿童)</span></li>
        </ul>
        <div class="info_title"><span>出行人信息</span></div> 
        <table width="100%">
            <tr class="table_hd">
                <td align="left">姓名</td>
                <td align="center">英文姓</td>
                <td align="center">英文名</td>
                <td align="center">性别</td>
                <td align="center">证件类型</td>
                <td align="center">证件号</td>
                <td align="center">生日</td>
                <td align="center">成人/儿童</td>
            </tr>
            <tr class="table_bd">               
                <td align="left">李哈</td>
                <td align="center">LI</td>
                <td align="center">HA</td>
                <td align="center">男</td>
                <td align="center">因私护照</td>
                <td align="center">6565198432198465</td>
                <td align="center">2013-08-19</td>
                <td align="center">儿童</td>
            </tr>
            <tr class="table_bd">               
                <td align="left">刘晶晶</td>
                <td align="center">LIU</td>
                <td align="center">JINGJING</td>
                <td align="center">女</td>
                <td align="center">港澳通行证</td>
                <td align="center">1254561324321984</td>
                <td align="center">1987-02-04</td>
                <td align="center">儿童</td>
            </tr>
        </table>
        <div class="info_title"><span>价格信息</span></div> 
        <table width="100%">
            <tr class="table_hd">
                <td width="20%" align="left">支付信息</td>
                <td width="15%" align="center">金额</td>
                <td width="65%"></td>
            </tr>
            <tr class="table_bd">               
                <td align="left">1儿童&times;8499</td>
                <td align="center">8499元</td>
                <td></td>
            </tr>
            <tr class="table_bd">               
                <td align="left">1成人&times;8499</td>
                <td align="center">8499元</td>
                <td></td>
            </tr>
        </table>
        <div class="should_pay">
            应付总额：<span>￥17108</span>
        </div>
    </div>
    <div class="fill_step">
        <a href="OrderForm_pay.html" class="fill_next">提交订单</a>
        <a href="OrderForm_fill.html" class="fill_back">返回上一步</a>
    </div> 
</div>
<{include file="./include/footer.html"}>

</body>
</html>
