/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
.pt5 {
  padding-top: 5px;
}
/*登录*/
[login] {
  width: 100%;
  height: 827px;
  background: url(../../../resources/images/user/sign_in.jpg) no-repeat center top;
  background-size: cover;
  color: #999;
}
[login] .login_box {
  width: 332px;
  min-height: 365px;
  padding: 0 64px;
  margin-top: 172px;
  margin-left: 135px;
  -webkit-box-shadow: 0 0 5px #8981df;
  -moz-box-shadow: 0 0 5px #8981df;
  box-shadow: 0 0 10px #8981df;
  background: #fff;
  padding-bottom: 18px;
}
[login] .login_tit {
  font-size: 16px;
  padding-top: 47px;
  padding-bottom: 20px;
}
[login] .login_tit p {
  width: 50%;
  text-align: center;
}
[login] .login_tit p a {
  color: #999;
}
[login] .login_tit p.cur a {
  color: #8ace00;
  cursor: default;
}
[login] .login_line {
  position: relative;
  border-top: 1px solid #ddd;
}
[login] .login_line span {
  width: 50%;
  height: 2px;
  background: #8ace00;
  position: absolute;
  left: 0;
  top: -2px;
}
[inp_login] {
  padding-top: 30px;
}
[inp_login] .inp {
  padding-bottom: 12px;
}
[inp_login] input.public {
  width: 310px;
}
[inp_login] .submit {
  width: 100%;
  background: #8ace00;
  border: 0;
  height: 40px;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
}
[inp_login] input.code {
  width: 196px;
}
[inp_login] .no_login {
  padding-top: 5px;
}
[inp_login] .no_login p {
  padding-left: 23px;
  cursor: pointer;
}
[inp_login] .no_login i {
  width: 14px;
  height: 14px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -576px -92px;
  top: 4px;
  left: 0;
}
[inp_login] .agreement_con.cur i {
  background-position: -518px -92px;
}
[inp_login] .agreement {
  color: #999;
}
[inp_login] .register {
  text-align: center;
  padding-top: 0px;
}
[inp_login] .register a {
  color: #53b2fe;
}
[inp_login] .verify_img,
[inp_login] .sms_verification {
  width: 106px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 0;
  top: 0;
  border-radius: 2px;
}
[inp_login] .verify_img {
  background: #fff;
}
[inp_login] .verify_img img {
  width: 106px;
  height: 40px;
}
[inp_login] .sms_verification {
  color: #fff;
  background: #8ace00;
}
[inp_login] .password {
  margin-top: -2px;
  padding-bottom: 10px;
}
[inp_login] .register_pb {
  padding-bottom: 40px;
}
/*注册*/
[register] .login_box {
  background: #eef3fa;
  padding-bottom: 25px;
}
[register] .new_user {
  font-size: 24px;
  color: #8ace00;
  text-align: center;
  padding-top: 40px;
}
[register] .agreement {
  color: #53b2fe;
}
/*注册成功弹窗*/
[register] .pop_box,
[register] .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
[register] .pop_box {
  display: none;
}
[register] .bg {
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
[register] .pop_font {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -72px 0 0 -166px;
  width: 332px;
  height: 144px;
  background: #fff;
  box-shadow: 0 0 10px #9ea2a7;
  text-align: center;
}
[register] .pop_title {
  font-size: 24px;
  color: #8ace00;
  padding-top: 28px;
  padding-bottom: 20px;
}
[register] .word a {
  color: #53b2fe;
}
[register] .word span {
  color: #fd7530;
}
[register] [input-prompt] input.public {
  padding: 9px 10px 10px\9;
}
@media (max-width: 1200px) {
  [login] {
    background: url(../../../resources/images/user/sign_in_ipad.jpg) no-repeat center top;
    height: 660px;
  }
  [login] .login_box {
    margin-top: 108px;
  }
  [register] .new_user {
    padding-top: 20px;
  }
  [inp_login] {
    padding-top: 20px;
  }
}
@media all and (orientation: portrait) {
  [login] {
    background: url(../../../resources/images/user/sign_in_ipad2.jpg) no-repeat center top;
    height: 660px;
  }
  [login] .login_box {
    margin-top: 108px;
    padding: 0 40px;
  }
  [login] .login_box {
    width: 298px;
  }
  [register] .login_box {
    padding-bottom: 20px;
  }
  [inp_login] input.public {
    width: 280px;
  }
  [inp_login] input.code {
    width: 160px;
  }
}
