[not_find_wrap] .content_wrap {
  margin: 100px 20px;
}
[not_find_wrap] .img_out {
  text-align: center;
  line-height: 44px;
}
[not_find_wrap] .img_out i {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(../../../resources/images/icon1.png);
  background-repeat: no-repeat;
  background-position: -24px -359px;
  vertical-align: middle;
}
[not_find_wrap] .tip_word {
  color: #cccccc;
  font-size: 20px;
  margin-left: 22px;
}
@media (max-width: 1200px) {
  [not_find_wrap] .content_wrap {
    margin: 78px 16px;
  }
  [not_find_wrap] .img_out {
    text-align: center;
    line-height: 44px;
  }
  [not_find_wrap] .img_out i {
    background-position: -24px -359px;
  }
  [not_find_wrap] .tip_word {
    font-size: 18px;
    margin-left: 16px;
  }
}
@media all and (orientation: portrait) {
  [not_find_wrap] .content_wrap {
    margin: 78px 16px;
  }
  [not_find_wrap] .img_out {
    line-height: 44px;
  }
  [not_find_wrap] .img_out i {
    width: 36px;
    height: 36px;
    background-position: -78px -359px;
  }
  [not_find_wrap] .tip_word {
    font-size: 14px;
    margin-left: 14px;
  }
}
