@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[search-div] .row {
  vertical-align: middle;
  margin-bottom: 12px;
}
[search-div] .row2 {
  margin-right: 6px;
}
[search-div] .col .public {
  width: 110px;
  height: 16px;
  vertical-align: middle;
}
[search-div] .col .txtordernumber {
  width: 130px;
}
[search-div] .row .icon_tel {
  display: inline-block;
  width: 12px;
  height: 22px;
  background-image: url(../../../resources/images/icon1.png);
  background-repeat: no-repeat;
  background-position: -364px -266px;
  vertical-align: middle;
  margin-right: 16px;
}
[search-div] .col .col_tilte {
  vertical-align: middle;
  display: inline-block;
}
[search-div] .btn_select {
  line-height: 37px;
}
[search-div] .col_tilte {
  padding-right: 11px;
}
[search-div] .select_unit {
  width: 104px;
  margin-right: 0px;
}
[search-div] .col {
  margin-right: 22px;
  height: 39px;
  line-height: 39px;
}
[search-div] .col_phone {
  margin-right: 38px;
  font-size: 12px;
}
[search-div] .col_phone a {
  color: #999;
}
[search-div] .data_line {
  color: #eaeaea;
}
@media (max-width: 1200px) {
  [search-div] {
    font-size: 12px;
  }
  [search-div] .select_unit {
    line-height: 38px;
    height: 38px;
    width: 76px;
    margin-right: 0px;
  }
  [search-div] .group_time {
    width: 76px !important;
  }
  [search-div] .col .txtordernumber {
    width: 111px;
  }
  [search-div] .btn_order_search {
    width: 88px;
  }
  [search-div] .btn_select {
    line-height: 36px;
  }
  [search-div] .col_tilte {
    padding-right: 4px;
  }
  [search-div] .col {
    margin-right: 7px;
  }
  [input-prompt] input.public {
    font-size: 12px;
  }
}
@media all and (orientation: portrait) {
  [search-div] {
    font-size: 12px;
  }
  [search-div] .select_unit {
    line-height: 31px;
    height: 31px;
    width: 76px;
    margin-right: 0px;
  }
  [search-div] .group_time {
    width: 76px !important;
  }
  [search-div] .col .txtordernumber {
    width: 111px;
  }
  [search-div] .btn_order_search {
    width: 88px;
  }
  [input-prompt] input.public {
    font-size: 12px;
  }
}
