@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
/*账户安全*/
[security] {
  /*登录密码  手机验证*/
}
[security] .security_t {
  height: 39px;
  line-height: 40px;
  padding: 0 26px;
  border-bottom: 1px solid #ebf1f3;
  background: #f5f8f9;
}
[security] .leave span {
  color: #fd7f54;
}
[security] .before {
  font-size: 12px;
  padding-left: 37px;
}
[security] .before span {
  color: #999;
}
[security] .security_font {
  padding: 0 26px;
  line-height: 86px;
  border-bottom: 1px solid #f0f0f0;
}
[security] .security_font .icon {
  width: 24px;
  height: 24px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -146px -329px;
  margin-top: 31px;
}
[security] .security_font .word {
  margin: 0 90px 0 60px;
}
[security] .security_font .href {
  width: 228px;
}
[security] .security_font .href a {
  color: #53b2fe;
}
[security] .ad_sefity {
  padding: 210px 0 85px 0;
}
[security] .ad_sefity img {
  width: 100%;
}
[security] .password {
  color: #999;
}
[security] .phone_color {
  color: #999;
}
@media (max-width: 1200px) {
  [security] .security_font .word {
    margin: 0 40px 0 20px;
  }
  [security] .security_font .href {
    width: 88px;
  }
}
@media all and (orientation: portrait) {
  [password] .password span {
    width: 50px;
  }
}
