/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
#loading-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  text-align: center;
}
#loading-div img {
  top: 50%;
  margin-top: -16px;
  position: absolute;
}
[checkbox-icon] {
  cursor: pointer;
}
[filter-div] {
  padding-top: 32px;
}
[filter-div] .search_div [input-prompt] input {
  width: 600px;
}
[filter-div] .search_div [btn-default] {
  margin-left: 30px;
}
[filter-div] .filter_div {
  padding-top: 10px;
}
[filter-div] .filter_div .checkbox_list {
  margin: 15px 0;
}
[filter-div] .filter_div .checkbox_list > div {
  float: left;
  width: 100px;
  text-align: left;
}
[filter-div] .filter_div .checkbox_list > ul {
  float: left;
}
[filter-div] .filter_div .checkbox_list > ul > li {
  display: block;
  float: left;
  margin-right: 30px;
}
[filter-div] .filter_div .checkbox_list > ul > li > i {
  margin-top: 4px;
  float: left;
  margin-right: 8px;
}
[filter-div] .list_bar {
  position: relative;
  background: #f5f8f9;
  border-bottom: solid 1px #dce6ea;
  height: 32px;
  line-height: 32px;
  padding: 16px 32px;
}
[filter-div] .list_bar .up_down_btn {
  border-radius: 3px;
  margin-left: 20px;
  height: 32px;
  width: 70px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
[filter-div] .list_bar .up_down_btn > i {
  width: 8px;
  height: 32px;
  display: block;
  right: 24px;
  top: 12px;
  position: absolute;
  background-image: url("../../../resources/images/icon1.png");
  background-position: -355px -24px;
}
[filter-div] .list_bar .up > i {
  background-position: -319px -24px;
}
[filter-div] .list_bar .down > i {
  background-position: -282px -24px;
}
[filter-div] .list_bar .cur {
  background: #8ace00;
  color: #fff;
}
[filter-div] .list_bar .price_div {
  position: absolute;
  top: 0;
  left: 300px;
}
[hotel-list] .hotel {
  border-bottom: solid 1px #e5edf0;
  padding: 35px 0px 35px 20px;
}
[hotel-list] .hotel .hotel_img {
  width: 169px;
  height: 117px;
  float: left;
}
[hotel-list] .hotel .hotel_img img {
  width: 100%;
  height: 100%;
}
[hotel-list] .hotel .hotel_detail {
  width: 986px;
  margin-top: -16px;
  float: right;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg {
  width: 100%;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg > .title > .main {
  font-size: 18px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg > .title > .type {
  font-size: 12px;
  color: #999;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg > .title > .score {
  margin-left: 20px;
  font-size: 28px;
  color: #fb7530;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg > .title > .total {
  font-size: 14px;
  color: #999;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg > .title > .comment_count {
  font-size: 14px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .address {
  margin-top: 8px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .address > .title {
  color: #999;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .address > .content {
  margin-left: 20px;
  color: #666;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .address > .content i {
  margin-left: 5px;
  margin-top: 4px;
  display: block;
  float: left;
  width: 11px;
  height: 14px;
  background-image: url("../../../resources/images/icon1.png");
  background-position: -233px -368px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities {
  margin-top: 8px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities > .title {
  color: #999;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities > .content {
  margin-left: 20px;
  color: #666;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities > .content i {
  margin-right: 10px;
  margin-top: 3px;
  display: block;
  float: left;
  width: 18px;
  height: 16px;
  background-image: url("../../../resources/images/icon1.png");
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities > .content i.food {
  background-position: -148px -368px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities > .content i.park {
  background-position: -193px -368px;
}
[hotel-list] .hotel .hotel_detail > .hotel_msg .facilities > .content i.wifi {
  background-position: -309px -384px;
}
[hotel-list] .hotel .hotel_detail .price {
  text-align: right;
  margin-top: -30px;
  margin-right: 45px;
  font-size: 14px;
  color: #fb7530;
}
[hotel-list] .hotel .hotel_detail .price > span {
  font-size: 24px;
}
[hotel-list] .hotel .hotel_detail .show_room,
[hotel-list] .hotel .hotel_detail .hide_room {
  color: #53b2fe;
  padding-right: 55px;
  cursor: pointer;
}
[hotel-list] .hotel .hotel_detail .show_room > i,
[hotel-list] .hotel .hotel_detail .hide_room > i {
  display: block;
  width: 10px;
  height: 6px;
  margin-top: 8px;
  margin-left: 8px;
  background-image: url("../../../resources/images/icon1.png");
}
[hotel-list] .hotel .hotel_detail .show_room > i {
  background-position: -423px -25px;
}
[hotel-list] .hotel .hotel_detail .hide_room > i {
  background-position: -405px -25px;
}
[hotel-list] .hotel .hotel_detail .title:hover {
  cursor: pointer;
}
[hotel-list] .hotel .hotel_room {
  margin-top: 20px;
}
[hotel-list] .hotel .hotel_room .room_title {
  background: #f5f8f9;
  border: solid 1px #dce6ea;
  line-height: 42px;
  color: #999;
}
[hotel-list] .hotel .hotel_room .room_title > div {
  text-align: center;
  width: 162px;
}
[hotel-list] .hotel .hotel_room .room_title > .room_type {
  width: 476px;
  text-align: left;
  padding-left: 10px;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item {
  line-height: 30px;
  color: #666;
  border-bottom: solid 1px #e5edf0;
  padding: 10px 0 10px 10px;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > div {
  text-align: center;
  width: 162px;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type {
  cursor: pointer;
  text-align: left;
  width: 476px;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type > i {
  display: block;
  float: left;
  width: 7px;
  height: 5px;
  margin-top: 13px;
  margin-left: 4px;
  background-image: url("../../../resources/images/icon1.png");
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type > div {
  max-width: 462px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type.show_img > i {
  background-position: -474px -26px;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type.hide_img > i {
  background-position: -486px -26px;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item .orange {
  color: #fb7530;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .reserve .select_btn {
  width: 70px;
  height: 28px;
  line-height: 28px;
  border: solid 1px #8ace00;
  border-radius: 2px;
  color: #8ace00;
  margin: 0 auto;
  cursor: pointer;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .room_detail {
  background: #f5f8f9;
  border-bottom: solid 1px #e5edf0;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .room_detail .img_list .img {
  width: 127px;
  height: 85px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .room_detail .img_list .img img {
  width: 100%;
  height: 100%;
}
[hotel-list] .hotel .hotel_room .room_list > ul > li .room_detail .room_text {
  padding: 15px;
  color: #999;
  text-align: justify;
}
[hotel-list] .no_get_data {
  text-align: center;
  margin: 45px auto;
  margin-bottom: 90px;
}
.hotel_page {
  padding: 75px 0;
}
@media (max-width: 1200px) {
  [filter-div] {
    font-size: 12px;
  }
  [filter-div] .filter_div .checkbox_list > div {
    width: 40px;
  }
  [hotel-list] {
    font-size: 12px;
  }
  [hotel-list] .hotel .hotel_img {
    width: 123px;
    height: 85px;
  }
  [hotel-list] .hotel .hotel_detail {
    width: 710px;
  }
  [hotel-list] .hotel .hotel_detail .price {
    margin-right: 10px;
  }
  [hotel-list] .hotel .hotel_detail .show_room,
  [hotel-list] .hotel .hotel_detail .hide_room {
    padding-right: 20px;
  }
  [hotel-list] .hotel .hotel_detail hover {
    cursor: pointer;
  }
  [hotel-list] .hotel .hotel_room .room_title > div {
    width: 105px;
  }
  [hotel-list] .hotel .hotel_room .room_title > .room_type {
    width: 360px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > div {
    width: 105px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type {
    width: 360px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type > div {
    max-width: 348px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .room_detail .img_list .img {
    width: 92px;
    height: 62px;
  }
  [hotel-list] .hotel:hover {
    cursor: pointer;
  }
}
@media all and (orientation: portrait) {
  [filter-div] {
    padding-top: 32px;
  }
  [filter-div] .search_div [input-prompt] input {
    width: 500px;
  }
  [filter-div] .filter_div .checkbox_list > div {
    width: 40px;
  }
  [filter-div] .filter_div .checkbox_list > ul > li {
    margin-right: 10px;
  }
  [hotel-list] .hotel .hotel_detail {
    width: 510px;
  }
  [hotel-list] .hotel .hotel_detail .price {
    margin-right: 10px;
  }
  [hotel-list] .hotel .hotel_detail .show_room,
  [hotel-list] .hotel .hotel_detail .hide_room {
    padding-right: 20px;
  }
  [hotel-list] .hotel .hotel_room .room_title > div {
    width: 65px;
  }
  [hotel-list] .hotel .hotel_room .room_title > .room_type {
    width: 280px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > div {
    width: 65px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type {
    width: 280px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .room_type > div {
    max-width: 268px;
  }
  [hotel-list] .hotel .hotel_room .room_list > ul > li .grid_item > .reserve .select_btn {
    width: 50px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #8ace00;
    border-radius: 2px;
    color: #8ace00;
    margin: 0 auto;
    cursor: pointer;
  }
}
