/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
.nav_bread,
.nav_bread a {
  color: #999;
}
.mgb22 {
  margin-bottom: 22px;
}
.lf_word {
  color: #999;
}
[detail_onload] {
  height: 100px;
  text-align: center;
  line-height: 100px;
  display: none;
  padding-top: 88px;
}
[article1] {
  margin: 29px 0 42px 0;
}
[article1] .message {
  width: 530px;
  top: 0;
  right: 0;
}
[article1] .message h3 {
  font-size: 28px;
  line-height: 38px;
  font-weight: normal;
  margin-top: -8px;
}
[article1] .message ul {
  padding-top: 20px;
}
[article1] .message li {
  line-height: 30px;
}
[article1] .lf_word {
  color: #999;
  float: left;
}
[article1] .rg_mes {
  width: 454px;
  float: right;
}
[article1] .rg_mes > ul {
  padding-top: 0;
}
[article1] .price_li {
  padding-top: 20px;
}
[article1] .price_li .lf_word {
  padding-top: 5px;
}
[article1] .price span {
  color: #fb7530;
  font-size: 18px;
}
[article1] .price i {
  color: #fb7530;
  font-size: 32px;
  font-weight: bold;
}
[article1] .price a {
  color: #53b2fe;
  margin-left: 15px;
}
[article1] .btn {
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  display: block;
  margin: 20px 0 0 76px;
}
[article2] {
  border: 1px solid #eaeaea;
  margin-bottom: 31px;
  position: relative;
  min-height: 88px;
}
[choose] {
  height: 88px;
  background: #f5f8f9;
  padding-left: 30px;
  position: absolute;
  z-index: 100;
  width: 1168px;
  min-width: 1168px;
  top: 0;
}
[choose] input.public {
  width: 134px;
  height: 38px;
  line-height: 38px;
  border-radius: 3px;
  padding: 0 10px;
  margin: 24px 20px 0 0;
}
[choose] .people {
  width: 218px;
  line-height: 38px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  margin-top: 24px;
}
[choose] .lf_word {
  padding: 44px 16px 0 0;
}
[choose] .price {
  color: #fb7530;
  padding-top: 24px;
}
[choose] .price span {
  font-size: 18px;
}
[choose] .price i {
  font-size: 32px;
  font-weight: bold;
}
[choose] .btn {
  width: 156px;
  height: 40px;
  line-height: 40px;
  margin: 23px 40px 0 26px;
  visibility: hidden;
}
[public_tit] .public_tit {
  padding: 32px 0;
  line-height: 30px;
}
[public_tit] .tit2 {
  padding: 32px 0 0;
}
[public_tit] .public_tit i {
  width: 32px;
  height: 30px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -189px -437px;
  display: inline-block;
}
[public_tit] .tour_icon i {
  background-position: -233px -437px;
}
[public_tit] .public_tit h3 {
  padding-left: 17px;
  font-weight: normal;
  font-size: 18px;
}
[public_tit] .type {
  font-size: 12px;
  color: #999;
  padding: 0 10px 0 5px;
}
[public_tit] .score {
  color: #666;
  margin-top: -6px;
  padding-right: 5px;
}
[public_tit] .score span {
  color: #fb7530;
  font-size: 28px;
}
[public_tit] .change_hotel {
  color: #53b2fe;
  margin-left: 6px;
}
[public_tit] .lf_word {
  padding-right: 26px;
}
[section1] {
  padding: 88px 30px 30px;
}
[section1] .part_box {
  padding-top: 30px;
}
[section1] .group_img {
  width: 305px;
  height: 207px;
}
[section1] .part_rg {
  margin-left: 330px;
}
[section1] .list_tit {
  background: #f5f8f9;
  border: 1px solid #eaf1f3;
  color: #999;
  padding: 0 25px;
}
[section1] .address {
  padding: 8px 0;
}
[section1] .address p {
  color: #666;
}
[section1] .address i {
  width: 11px;
  height: 14px;
  display: inline-block;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -233px -368px;
  position: relative;
  top: 2px;
  *top: -2px;
  left: 8px;
}
[section1] .lf_word {
  padding-left: 47px;
}
[section1] .list_tit li {
  float: left;
  height: 40px;
  line-height: 40px;
}
[section1] .list_tit .li2 {
  padding: 0 82px 0 144px;
}
[section1] .list_tit .li4 {
  padding: 0 103px 0 66px;
}
[section1] .list_tit .li6 {
  float: right;
}
[section1] .rg_icon i {
  width: 20px;
  height: 16px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  margin-right: 8px;
  float: left;
}
[section1] .rg_icon i.icon1 {
  background-position: -148px -368px;
}
[section1] .rg_icon i.parking {
  background-position: -192px -368px;
}
[section1] .rg_icon i.wifi {
  background-position: -308px -383px;
}
[rooms] .room_tit {
  border-bottom: 1px solid #eaeaea;
}
[rooms] .room_tit li {
  float: left;
  margin: 0 11px;
  height: 54px;
  line-height: 54px;
}
[rooms] .house {
  width: 150px;
  cursor: pointer;
}
[rooms] .house span {
  width: 84%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 54px;
}
[rooms] .house .icon {
  width: 10px;
  height: 6px;
  display: inline-block;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -531px -332px;
  margin-top: 25px;
}
[rooms] .house.cur {
  color: #8ace00;
}
[rooms] .cur .icon {
  background-position: -555px -332px;
}
[rooms] .bed {
  width: 118px;
}
[rooms] .brickfrist {
  width: 86px;
}
[rooms] .is_cancel {
  width: 133px;
}
[rooms] .room_tit li.choose_btn {
  float: right;
}
[rooms] li.choose_btn a {
  width: 68px;
  height: 28px;
  line-height: 28px;
  color: #8ace00;
  border: 1px solid #8ace00;
  text-align: center;
  display: block;
  margin-top: 13px;
}
[rooms] li.choose_btn .cur i {
  width: 22px;
  height: 18px;
  right: 0;
  bottom: 0;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -76px -175px;
}
[rooms] .room_img {
  padding: 14px 15px 10px;
  background: #f5f8f9;
  border: 1px solid #eaf1f3;
  border-top: 0;
  display: none;
}
[rooms] .room_img li {
  float: left;
  margin: 0 15px 10px 0;
}
[rooms] .room_img li,
[rooms] .room_img li img {
  width: 128px;
  height: 85px;
}
[rooms] .room_word {
  color: #999;
}
[rooms] .room_word span {
  padding-right: 4px;
}
[rooms] .more_house {
  padding: 22px 0 0;
}
[rooms] .more_house a {
  color: #53b2fe;
}
[rooms] .more_house i {
  width: 10px;
  height: 7px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -554px -349px;
  margin: 9px 0 0 6px;
}
[section2] {
  padding: 0 30px;
  border-top: 1px solid #eaeaea;
}
[section2] input.public {
  width: 124px;
}
[section2] .group {
  padding-bottom: 32px;
}
[section2] .group_img {
  width: 305px;
  height: 207px;
}
[section2] .group_mes {
  width: 69.3%;
}
[section2] .tour_date li {
  width: 96px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #eaeaea;
  text-align: center;
  float: left;
  position: relative;
  margin: 0 14px 22px 0;
  cursor: pointer;
}
[section2] .tour_date li i {
  width: 21px;
  height: 17px;
  position: absolute;
  right: 0;
  bottom: 0;
}
[section2] .tour_date li.cur {
  border: 1px solid #8ccf32;
}
[section2] .tour_date li.cur i {
  background: url(../../../resources/images/icon1.png) no-repeat -76px -176px;
}
[group] .title {
  color: #666;
  margin-top: -10px;
}
[group] .title h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
}
[group] .title span {
  font-size: 28px;
  color: #fb7530;
  padding: 0 0 0 10px;
}
[group] .lf_word,
[group] .en {
  color: #999;
}
[group] .lf_word {
  padding-top: 5px;
}
[group] .lf_word2 {
  padding-top: 10px;
}
[group] .en {
  padding-top: 5px;
}
[article3] {
  position: relative;
  margin-bottom: 90px;
}
[article3] .fixed_menu {
  width: 1200px;
  min-width: 1200px;
  height: 58px;
  background: #fff;
  position: absolute;
  z-index: 10;
  border-bottom: 1px solid #eaeaea;
}
[article3] .tab_fixed {
  position: fixed;
  top: 0;
}
[article3] .fixed_menu a {
  float: left;
  width: 20.4%;
  border: 1px solid #eaf1f3;
  border-top: 1px solid #eaf1f3;
  border-bottom: 0;
  background: #f5f8f9;
  color: #666;
  text-align: center;
  line-height: 57px;
  font-size: 18px;
}
[article3] .fixed_menu a.cur {
  border-top: 2px solid #8ace00;
  color: #8ace00;
  background: #fff;
}
[article3] .detail_box {
  border: 1px solid #eaeaea;
  border-top: 0;
  border-right: 0;
}
[article3] .detail_content {
  color: #666;
  border-right: 1px solid #eaeaea;
  padding: 0px 38px 50px;
}
[article3] h3.title_h3 {
  padding-top: 100px;
}
[article3] .detail_content li {
  line-height: 30px;
}
@media (max-width: 1200px) {
  .mgb22 {
    margin-bottom: 8px;
  }
  [article1] .message {
    width: 390px;
  }
  [article1] .message h3 {
    font-size: 20px;
    line-height: 30px;
  }
  [article1] .rg_mes {
    width: 315px;
  }
  [article1] .message li {
    line-height: 26px;
  }
  [article1] .btn {
    width: 160px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
  }
  [choose] {
    width: 848px;
    min-width: 848px;
  }
  [choose] input.public {
    width: 80px;
  }
  [choose] .people {
    width: 120px;
  }
  [choose] .btn {
    width: 100px;
  }
  [section1] .group_img {
    width: 230px;
    height: 156px;
  }
  [section1] .part_rg {
    margin-left: 245px;
  }
  [section1] .list_tit .li2 {
    padding: 0 48px 0 126px;
  }
  [section1] .list_tit .li4 {
    padding: 0 36px 0 19px;
  }
  [rooms] .room_img {
    padding: 10px 10px 8px;
  }
  [rooms] .house {
    width: 145px;
  }
  [rooms] .bed {
    width: 75px;
  }
  [rooms] .brickfrist {
    width: 35px;
  }
  [rooms] .is_cancel {
    width: 68px;
  }
  [rooms] .room_img li,
  [rooms] .room_img li img {
    width: 100px;
    height: 66px;
  }
  [rooms] .room_img li {
    margin: 0px 8px 10px 0;
  }
  [section2] .group_img {
    width: 230px;
    height: 156px;
  }
}
@media all and (orientation: portrait) {
  [public_tit] .public_tit h3 {
    padding-left: 14px;
    font-size: 16px;
  }
  [public_tit] .score span {
    font-size: 20px;
  }
  [public_tit] .score {
    margin-top: -3px;
  }
  [article1] .message {
    width: 300px;
  }
  [article1] .message h3 {
    font-size: 16px;
    line-height: 24px;
    margin-top: -5px;
  }
  [article1] .rg_mes {
    width: 240px;
  }
  [article1] .price i {
    font-size: 24px;
  }
  [article1] .message ul,
  [article1] .price_li {
    padding-top: 10px;
  }
  [article1] .message li {
    font-size: 12px;
    line-height: 24px;
  }
  [choose] {
    width: 663px;
    min-width: 663px;
    height: 70px;
    padding-left: 15px;
    font-size: 12px;
  }
  [choose] input.public {
    width: 70px;
    font-size: 12px;
    margin: 14px 10px 0 0;
  }
  [choose] .people {
    width: 100px;
    margin-top: 14px;
  }
  [choose] .lf_word {
    padding: 33px 16px 0 0;
  }
  [choose] .price {
    padding-top: 20px;
  }
  [choose] .price span {
    font-size: 14px;
  }
  [choose] .price i {
    font-size: 24px;
  }
  [choose] .btn {
    width: 84px;
    height: 30px;
    line-height: 30px;
    margin: 19px 20px 0 10px;
  }
  [section1] {
    padding: 0 15px;
  }
  [section1] .group_img {
    width: 160px;
    height: 109px;
  }
  [section1] .part_rg {
    margin-left: 175px;
  }
  [section1] .rooms {
    font-size: 12px;
  }
  [section1] .portrait_nf {
    float: none;
  }
  [section1] .portrait_t {
    padding: 5px 0 0 20px;
  }
  [section1] .list_tit {
    padding: 0 15px;
    font-size: 12px;
  }
  [section1] .list_tit .li2 {
    padding: 0 34px 0 124px;
  }
  [section1] .list_tit .li4 {
    padding: 0 31px 0 16px;
  }
  [rooms] .house {
    width: 120px;
  }
  [rooms] .bed {
    width: 60px;
  }
  [rooms] .brickfrist {
    width: 30px;
  }
  [rooms] .is_cancel {
    width: 54px;
  }
  [rooms] li.choose_btn a {
    width: 45px;
  }
  [rooms] .room_img li,
  [rooms] .room_img li img {
    width: 80px;
    height: 53px;
  }
  [section2] .group_img {
    width: 160px;
    height: 109px;
  }
  [section2] .group_mes {
    width: 71.3%;
    font-size: 12px;
  }
  [group] .title {
    margin-top: -15px;
  }
  [group] .title h3 {
    font-size: 14px;
  }
  [group] .title span {
    font-size: 22px;
  }
  [group] .en {
    padding-top: 0;
  }
  [group] input.public {
    padding: 7px 8px;
    font-size: 12px;
  }
  [group] .lf_word2 {
    padding-top: 5px;
  }
  [group] .tour_date li {
    width: 64px;
    height: 24px;
    line-height: 24px;
  }
}
