@charset "utf-8";
/* CSS Document */
/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
[ticket_centent] .ticket_ploy_center {
  width: 1500px;
  overflow: hidden;
  display: none;
}
[ticket_centent] .ploy_centent {
  width: 284px;
  height: 280px;
  margin-right: 18px;
  border: 1px solid #dce6ea;
  float: left;
  margin-bottom: 40px;
}
[ticket_centent] .ploy_centent_big {
  width: 588px;
  height: 280px;
}
[ticket_centent] .ploy_img_big_note {
  position: absolute;
  bottom: 0px;
  color: #fff;
  width: 100%;
  background-image: url('../../../resources/images/hotel_ticket/shadow_img.png');
}
[ticket_centent] .ploy_img_big_note .note {
  width: 428px;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 18px;
}
[ticket_centent] .ploy_img_big_note .price {
  margin-top: 15px;
  float: right;
}
[ticket_centent] .ploy_centent li {
  float: left;
}
[ticket_centent] .ploy_img {
  width: 100%;
  height: 189px;
  background: #00CC00;
  position: relative;
  z-index: 9;
}
[ticket_centent] .ploy_img_big {
  height: 280px;
}
[ticket_centent] .ploy_img img {
  width: 100%;
  height: 100%;
}
[ticket_centent] .ploy_name_bg {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #000000;
  opacity: 0.2;
}
[ticket_centent] .ploy_name {
  padding-left: 16px;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
}
[ticket_centent] .ploy_center {
  padding: 12px 12px 12px 12px;
  font-size: 14px;
  color: #666;
}
[ticket_centent] .ploy_theme {
  line-height: 20px;
}
[ticket_centent] .ploy_num {
  margin-top: 6px;
}
[ticket_centent] .ploy_price {
  color: #fb7530;
  margin-right: 18px;
}
[ticket_centent] .ploy_price strong {
  font-size: 18px;
}
[ticket_centent] .ploy_gray {
  font-size: 12px;
  color: #ccc;
}
