/*文字色*/
/*特殊位置黑色*/
/*默认文字灰色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*用于辅助说明文字、次要文字信息*/
/*用于次要辅助说明文字*/
/*用于详情提示文字，引导词*/
/*用于价格显示、注意事项提醒文字*/
/* 特殊样式白色字体 */
/*辅助色*/
/*用于搜索按钮*/
/*用于各板块标题背景*/
/*用于支付页详情背景*/
/*公共顶部背景色*/
/*用于背景颜色*/
/*按钮划过颜色*/
/*按钮划过颜色*/
/*支付页首部背景色*/
/*详情title背景色*/
/*边线颜色*/
/*默认主色调 特别用于强调的字、button和icon*/
/*预订底部边框变色*/
/* 灰色边框 */
/*搜索背景色*/
/*列表页标题底部边框颜色*/
/*支付页警告边框线*/
/*input边框线*/
/*提示边框值*/
/*提示边框阴影值*/
/*字号*/
/*用于航班时刻显示*/
/*用于价格显示*/
/*用于板块标题显示*/
/*用于导航栏标题*/
/*next  button按钮*/
/*用于正文标题，重要文字信息*/
/*用于补充说明文字、次要文字*/
#loading-div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 999;
  text-align: center;
}
#loading-div img {
  top: 50%;
  margin-top: -16px;
  position: absolute;
}
[nav_boxs] {
  border-bottom: solid 1px #e5edf0;
}
[step-flow] {
  padding: 30px 0;
}
[checkbox-icon] {
  display: inline-block;
  position: relative;
  top: 2px;
}
[select-div] .select_unit .select_btn {
  line-height: 39px;
}
[select-div] .select_unit i {
  top: 18px;
}
[select-div] .select_ul li {
  line-height: 39px;
}
/*左侧信息的标题*/
.info_title {
  font-size: 14px;
  line-height: 50px;
  background: #f5f8f9;
  font-weight: bold;
  padding-left: 20px;
  border-bottom: solid 1px #dce6ea;
}
.info_title > span {
  color: #999;
  margin-left: 20px;
  font-weight: normal;
}
/*预订信息*/
[reserve-info] h2 {
  font-size: 20px;
  margin: 20px;
  line-height: 45px;
  font-weight: normal;
}
[reserve-info] .info {
  padding: 20px;
  border-top: solid 1px #e5edf0;
  line-height: 26px;
}
[reserve-info] .info > li {
  margin: 10px 0;
}
[reserve-info] .info > li .info_left {
  float: left;
  width: 50px;
  color: #999;
}
[reserve-info] .info > li .info_right {
  float: left;
  width: 720px;
  color: #666;
}
/*出游人信息*/
[person_info] {
  /*常旅*/
  /*添加出游人*/
}
[person_info] .person_card_list {
  padding: 30px 20px;
  border-bottom: solid 1px #dce6ea;
}
[person_info] .person_card_list > p {
  display: block;
  float: left;
  padding-top: 20px;
}
[person_info] .person_card_list .card_ul > li {
  width: 164px;
  height: 51px;
  border: solid 1px #e5edf0;
  padding: 8px 11px 0;
  margin-left: 20px;
  float: left;
  cursor: pointer;
  position: relative;
}
[person_info] .person_card_list .card_ul > li .en_name {
  color: #999;
}
[person_info] .person_card_list .card_ul > li.selected {
  border: solid 1px #8ace00;
}
[person_info] .person_card_list .card_ul > li.selected > i {
  background: url(../../../resources/images/icon1.png) no-repeat -33px -176px;
  width: 30px;
  height: 26px;
  position: absolute;
  right: 0;
  bottom: 0;
}
[person_info] .add_person {
  padding: 30px 20px;
}
[person_info] .add_person .sub_title {
  margin-bottom: 30px;
}
[person_info] .add_person .label {
  padding: 0 18px;
  line-height: 41px;
}
[person_info] .add_person .public {
  width: 136px;
}
[person_info] .add_person .person_list {
  padding-left: 50px;
}
[person_info] .add_person .person_list > li {
  margin-top: 20px;
}
[person_info] .add_person .person_list > li > i {
  color: #8ace00;
  border: solid 1px #8ace00;
  border-radius: 26px;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  margin-top: 6px;
}
[person_info] .add_person .person_list > li .select_unit {
  width: 165px;
}
[person_info] .add_person .person_list > li .select_unit .select_btn span {
  width: 150px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[person_info] .add_person .person_list > li .select_unit .select_ul li {
  line-height: 39px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[person_info] .add_person .person_list > li .clear_input {
  cursor: pointer;
  line-height: 41px;
}
/*联系方式*/
[contact_info] .contact_ul {
  margin: 30px 0 10px 0;
}
[contact_info] .contact_ul > li {
  margin-bottom: 20px;
}
[contact_info] .contact_ul > li .label {
  width: 130px;
  text-align: right;
  margin-right: 20px;
  line-height: 41px;
}
[contact_info] .contact_ul > li .center_label {
  width: 50px;
  text-align: center;
  line-height: 41px;
}
[contact_info] .contact_ul > li input {
  width: 442px;
}
[contact_info] .contact_ul > li .select_unit {
  width: 462px;
}
[contact_info] .contact_ul > li .short_input {
  width: 185px;
}
[contact_info] .contact_ul > li .phone_code {
  width: 80px;
}
[contact_info] .contact_ul > li .phone {
  width: 340px;
}
/*航班接送信息*/
[flight_info] .flight_ul {
  margin: 30px 0 10px 0;
}
[flight_info] .flight_ul > li {
  margin-bottom: 20px;
}
[flight_info] .flight_ul > li .label {
  width: 130px;
  text-align: right;
  margin-right: 20px;
  line-height: 41px;
}
[flight_info] .flight_ul > li > div > input {
  margin-right: 20px;
}
[flight_info] .flight_ul > li .flight_num > input {
  width: 145px;
}
[flight_info] .flight_ul > li .flight_date > input {
  width: 115px;
}
[flight_info] .flight_ul > li .flight_hour .select_ul {
  height: 200px;
}
[flight_info] .flight_ul > li .flight_hour .select_unit {
  width: 90px;
}
[flight_info] .flight_ul > li .flight_minute .select_ul {
  height: 200px;
}
[flight_info] .flight_ul > li .flight_minute .select_unit {
  width: 90px;
}
[flight_info] .flight_ul .read_treaty {
  line-height: 39px;
}
[flight_info] .agree {
  color: #53b2fe;
}
.next_btn {
  margin: 40px 0 100px 270px;
}
/*费用明细*/
[cost_detail] {
  /*航班接送信息*/
}
[cost_detail] .detail_title {
  font-size: 14px;
  line-height: 40px;
  background: #f5f8f9;
  font-weight: bold;
  padding-left: 20px;
}
[cost_detail] .detail_item {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: solid 1px #e5edf0;
}
[cost_detail] .detail_item > i {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin-right: 10px;
}
[cost_detail] .detail_item > .hotel_icon {
  background-image: url("../../../resources/images/icon1.png");
  background-position: -189px -437px;
}
[cost_detail] .detail_item > .spot_icon {
  background-image: url("../../../resources/images/icon1.png");
  background-position: -233px -437px;
}
[cost_detail] .detail_item > div {
  float: left;
  width: 270px;
  margin-top: -3px;
}
[cost_detail] .person_list {
  margin: 20px;
  line-height: 2;
}
[cost_detail] .person_type {
  float: left;
}
[cost_detail] .person_price {
  float: right;
}
[cost_detail] .pay {
  margin: 40px 20px 20px 20px;
}
[cost_detail] .money {
  margin-left: 20px;
  color: #fb7530;
}
[cost_detail] .money > span {
  font-size: 24px;
}
[cost_detail] .pay_btn {
  float: right;
  margin-top: 4px;
}
[cost_detail] [flight_info] .flight_ul > li .label {
  width: 40px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_num > input {
  width: 105px;
  font-size: 12px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_date > input {
  width: 95px;
  font-size: 12px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_hour {
  margin-top: 5px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_hour .select_ul {
  height: 200px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_hour .select_unit {
  width: 121px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_minute {
  margin-top: 5px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_minute .select_ul {
  height: 200px;
}
[cost_detail] [flight_info] .flight_ul > li .flight_minute .select_unit {
  width: 111px;
}
[cost_detail] .next_btn {
  margin: 40px 0 100px 80px;
}
.reg_pop_box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: none;
}
[reg_pop] .reg_pop_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
[reg_pop] .reg_pop {
  width: 1000px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -280px 0 0 -500px;
  background: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
[reg_pop] .reg_tit {
  padding: 13px 23px;
  border-top: 1px solid #edecec;
  border-bottom: 1px solid #edecec;
  background: #f5f8f9;
  position: relative;
}
[reg_pop] .reg_tit i {
  width: 40px;
  height: 40px;
  background: url(../../../resources/images/icon1.png) no-repeat;
  background-position: -481px -317px;
  position: absolute;
  right: 23px;
  top: 6px;
  cursor: pointer;
}
[reg_pop] .reg_content {
  padding: 23px 47px;
}
[reg_pop] .reg_content h3 {
  text-align: center;
}
[reg_pop] .reg_font {
  height: 356px;
  overflow-y: scroll;
  margin-top: 37px;
  font-size: 12px;
}
@media (max-width: 1200px) {
  [reg_pop] .reg_pop {
    width: 700px;
    height: 460px;
    margin: -230px 0 0 -350px;
  }
  [reg_pop] .reg_font {
    height: 305px;
    margin-top: 20px;
  }
  body {
    font-size: 12px;
  }
  /*预订信息*/
  [reserve-info] {
    font-size: 12px;
  }
  [reserve-info] h2 {
    font-size: 18px;
    font-weight: normal;
  }
  [reserve-info] .info .info_left {
    float: left;
    color: #999;
  }
  [reserve-info] .info > li .info_right {
    width: 530px;
  }
  /*出游人信息*/
  [person_info] {
    font-size: 12px;
    /*常旅*/
    /*添加出游人*/
  }
  [person_info] .person_card_list .card_ul > li {
    width: 120px;
    height: 44px;
  }
  [person_info] .add_person .label {
    padding: 0 8px;
  }
  [person_info] .add_person .public {
    width: 95px;
    font-size: 12px;
  }
  [person_info] .add_person .person_list {
    padding-left: 10px;
  }
  [person_info] .add_person .person_list > li .select_unit {
    width: 125px;
    margin-right: 5px;
  }
  [person_info] .add_person .person_list > li .select_unit .select_btn span {
    width: 110px;
  }
  [person_info] .add_person .person_list > li .clear_input {
    line-height: 35px;
  }
  /*联系方式*/
  [contact_info] {
    font-size: 12px;
  }
  [contact_info] .contact_ul > li .label {
    width: 70px;
  }
  [contact_info] .contact_ul > li input {
    font-size: 12px;
  }
  [contact_info] .contact_ul > li .select_unit {
    width: 458px;
  }
  [contact_info] .contact_ul > li .short_input {
    width: 187px;
  }
  [contact_info] .contact_ul > li .phone_code {
    width: 80px;
  }
  [contact_info] .contact_ul > li .phone {
    width: 340px;
  }
  /*航班接送信息*/
  [flight_info] {
    font-size: 12px;
  }
  [flight_info] .flight_ul > li .label {
    width: 70px;
  }
  [flight_info] .flight_ul > li .flight_num > input {
    width: 105px;
    font-size: 12px;
  }
  [flight_info] .flight_ul > li .flight_date > input {
    width: 95px;
    font-size: 12px;
  }
  [flight_info] .flight_ul > li .flight_hour .select_unit {
    width: 70px;
  }
  [flight_info] .flight_ul > li .flight_minute .select_unit {
    width: 70px;
  }
  .next_btn {
    margin: 40px 0 100px 170px;
  }
  /*费用明细*/
  [cost_detail] {
    font-size: 12px;
  }
  [cost_detail] .detail_item > div {
    width: 205px;
  }
  [cost_detail] .money {
    margin-left: 15px;
  }
  [cost_detail] .money > span {
    font-size: 20px;
  }
  [cost_detail] .pay_btn {
    margin-top: 0px;
  }
  [cost_detail] .pay_btn p {
    width: 100px;
  }
  [select-div] .select_unit .select_btn {
    line-height: 35px;
  }
  [select-div] .select_unit i {
    top: 15px;
  }
  [select-div] .select_ul li {
    line-height: 35px;
  }
}
@media all and (orientation: portrait) {
  [reg_pop] .reg_pop {
    width: 570px;
    height: 440px;
    margin: -220px 0 0 -285px;
  }
  [reg_pop] .reg_font {
    height: 285px;
    margin-top: 20px;
  }
  /*预订信息*/
  [reserve-info] h2 {
    font-size: 16px;
  }
  [reserve-info] .info > li .info_right {
    width: 340px;
  }
  /*出游人信息*/
  [person_info] {
    /*常旅*/
    /*添加出游人*/
  }
  [person_info] .person_card_list {
    padding: 10px 20px;
  }
  [person_info] .person_card_list > p {
    width: 200px;
    padding-top: 0px;
  }
  [person_info] .person_card_list .card_ul > li {
    width: 120px;
    height: 44px;
    margin-left: 10px;
    margin-top: 10px;
  }
  [person_info] .add_person .label {
    line-height: 36px;
  }
  [person_info] .add_person .public {
    width: 80px;
  }
  [person_info] .add_person .person_list > li > i {
    display: block;
  }
  [person_info] .add_person .person_list > li .last_name {
    margin-left: 10px;
  }
  [person_info] .add_person .person_list > li .nationality {
    margin-left: 26px;
    margin-top: 5px;
  }
  [person_info] .add_person .person_list > li .select_unit {
    width: 222px;
    margin-top: 2px;
  }
  [person_info] .add_person .person_list > li .select_unit .select_btn span {
    width: 210px;
  }
  [person_info] .add_person .person_list > li .clear_input {
    margin-top: 5px;
    line-height: 35px;
  }
  /*联系方式*/
  [contact_info] .contact_ul > li .label {
    width: 40px;
  }
  [contact_info] .contact_ul > li input {
    width: 268px;
  }
  [contact_info] .contact_ul > li .select_unit {
    width: 284px;
  }
  [contact_info] .contact_ul > li .short_input {
    width: 100px;
  }
  [contact_info] .contact_ul > li .phone_code {
    width: 80px;
  }
  [contact_info] .contact_ul > li .phone {
    width: 166px;
  }
}
