<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
</head>
<body>
	<{include_php file="./include/header.php"}>
	<div class="of_num_box wrapper">
		<span>订单号：69453</span> <span>订单状态：已收款</span> <span>订单总金额：￥1108</span>
	</div>
	<div class="co_de_ct wrapper">
		<table width="100%" border="0">
			<tr>
				<td>出发日期：2014-10-10</td>
				<td>出发城市：香港</td>
				<td>出行人数：2</td>
				<td>出行联系人：王海璐</td>
				<td>联系电话：5646515416511</td>
				<td>特殊需求：申请蜜月</td>
			</tr>
		</table>
	</div>
	<div class="cd_info_hd wrapper">产品信息</div>
	<div class="wrapper cd_table_box">
		<table width="100%" border="0">
			<tr class="cd_table_hd">
				<td align="left">产品名称</td>
				<td align="center">成人数</td>
				<td align="center">成人单价</td>
				<td align="center">儿童数</td>
				<td align="center">儿童单价</td>
				<td align="center">附加产品总金额</td>
				<td align="center">总人数</td>
				<td align="center">总金额</td>
			</tr>
			<tr>
				<td align="left">北京 - 巴厘岛春节自由行</td>
				<td align="center">2</td>
				<td align="center">4999</td>
				<td align="center">0</td>
				<td align="center">4999</td>
				<td align="center">110</td>
				<td align="center">2</td>
				<td align="center">10108</td>
			</tr>
		</table>
	</div>
	<div class="cd_info_hd wrapper">
		交通信息<span>*建议您提前3小时抵达机场候机，此航班为参考航班</span>
	</div>
	<div class="wrapper_bg wrapper">
		<div class="wrapper cd_table_box cd_traffic">
			<table width="100%" border="0">
				<tr class="cd_table_hd">
					<td align="center">天</td>
					<td align="center">出发地</td>
					<td align="center">目的地</td>
					<td align="center">航班号</td>
					<td align="center">起飞时间</td>
					<td align="center">抵达时间</td>
					<td align="center">航空公司</td>
				</tr>
				<tr>
					<td align="center">第一天</td>
					<td align="center">香港</td>
					<td align="center">帕劳</td>
					<td align="center">LV6158</td>
					<td align="center">21:40</td>
					<td align="center">03:00+1</td>
					<td align="center">香港美佳航空公司</td>
				</tr>
				<tr>
					<td align="center">第五天</td>
					<td align="center">帕劳</td>
					<td align="center">香港</td>
					<td align="center">LV6158</td>
					<td align="center">18:30</td>
					<td align="center">21:10</td>
					<td align="center">香港美佳航空公司</td>
				</tr>
			</table>
		</div>
		<div class="cd_info_hd wrapper">
			酒店信息<span>*参考酒店信息</span>
		</div>
		<div class="wrapper cd_table_box">
			<table width="100%" border="0">
				<tr class="cd_table_hd">
					<td align="center">天</td>
					<td align="center">酒店名称</td>
					<td align="center">是否含早餐</td>
					<td align="center">是否含午餐</td>
					<td align="center">是否含晚餐</td>
					<td width="30%"></td>
				</tr>
				<tr>
					<td align="center">第一天</td>
					<td align="center">帛琉大饭店</td>
					<td align="center">否</td>
					<td align="center">否</td>
					<td align="center">是</td>
					<td></td>
				</tr>
				<tr>
					<td align="center">第二天</td>
					<td align="center">帛琉大饭店</td>
					<td align="center">否</td>
					<td align="center">否</td>
					<td align="center">是</td>
					<td></td>
				</tr>
				<tr>
					<td align="center">第三天</td>
					<td align="center">帛琉大饭店</td>
					<td align="center">否</td>
					<td align="center">否</td>
					<td align="center">是</td>
					<td></td>
				</tr>
				<tr>
					<td align="center">第四天</td>
					<td align="center">帛琉大饭店</td>
					<td align="center">否</td>
					<td align="center">否</td>
					<td align="center">是</td>
					<td></td>
				</tr>
				<tr>
					<td align="center">第五天</td>
					<td align="center">帛琉大饭店</td>
					<td align="center">否</td>
					<td align="center">否</td>
					<td align="center">是</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="cd_info_hd wrapper">附加产品</div>
		<div class="wrapper cd_table_box cd_traffic">
			<table width="100%" border="0">
				<tr class="cd_table_hd">
					<td width="10%" align="center">序号</td>
					<td width="45%" align="left">名称</td>
					<td width="15%" align="center">零售价</td>
					<td width="15%" align="center">数量</td>
					<td width="15%" align="center">总额</td>
				</tr>
				<tr>
					<td align="center">1</td>
					<td align="left">美亚“乐悠游”境外旅游保障设计（6天）55元（含航班延误）</td>
					<td align="center">55</td>
					<td align="center">2</td>
					<td align="center">110</td>
				</tr>
			</table>
		</div>
		<div class="cd_info_hd wrapper">联系人信息</div>
		<ul class="cd_cont_info">
			<li>姓名：王海璐</li>
			<li>电话：684321681321</li>
			<li>邮箱：2541221@qq.com</li>
		</ul>
		<div class="cd_info_hd wrapper">出行人信息</div>
		<div class="travel_info">
			<table width="100%">
				<tr class="table_hd">
					<td colspan="4">第1位出行人</td>
				</tr>
				<tr>
					<td width="100"><span>*</span>中文姓名：</td>
					<td><input type="text" /></td>
					<td width="90"></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>英文姓：</td>
					<td><input type="text" /></td>
					<td><span>*</span>英文名：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>国籍：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>出生地：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>证件类型：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td><span>*</span>证件号：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>签发地：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>签发日期：</td>
					<td><input type="text" /></td>
					<td><span>*</span>到期日期：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>性别：</td>
					<td><select name="">
							<option>男</option>
							<option>女</option>
					</select></td>
					<td><span>*</span>生日：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>手机：</td>
					<td><input type="text" /></td>
					<td>&nbsp;&nbsp;邮箱：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>成人/儿童：</td>
					<td><select name="">
							<option>成人</option>
							<option>儿童</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table width="100%">
				<tr class="table_hd">
					<td colspan="4">第2位出行人</td>
				</tr>
				<tr>
					<td width="100"><span>*</span>中文姓名：</td>
					<td><input type="text" /></td>
					<td width="90"></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>英文姓：</td>
					<td><input type="text" /></td>
					<td><span>*</span>英文名：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>国籍：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>出生地：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>证件类型：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td><span>*</span>证件号：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>签发地：</td>
					<td><select name="">
							<option>中国</option>
							<option>外国</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><span>*</span>签发日期：</td>
					<td><input type="text" /></td>
					<td><span>*</span>到期日期：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>性别：</td>
					<td><select name="">
							<option>男</option>
							<option>女</option>
					</select></td>
					<td><span>*</span>生日：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>手机：</td>
					<td><input type="text" /></td>
					<td>&nbsp;&nbsp;邮箱：</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>*</span>成人/儿童：</td>
					<td><select name="">
							<option>成人</option>
							<option>儿童</option>
					</select></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>


	<{include file="./include/footer.html"}>

</body>
</html>

