<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/index.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/page.css" rel="stylesheet" type="text/css">
</head>
<body>
	<{include_php file="./view/common/header.php"}>

	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="/">首页</a>&gt; <{$cnname}>
	</div>
	<!--根据不同列表做变化-->
	<{if $banner neq ''}><div class="wrapper">
		<!--top-img-->
		<{if $action eq 'overseas' or $enname eq 'route'}>
			<{section name=web loop=$banner}>
			<a href="<{$banner[web].mypath}>" class="overseas_top" target="_blank"><img src="<{$banner[web].url}>" width="1200" height="160" /></a>
			<{/section}>
		<{else}>
		<ul class="domestic_top">
			<{section name=web loop=$banner}>
			<li class="dom_t<{$smarty.section.web.index+1}>"><a
				href="<{$banner[web].mypath}>" target="_blank"><img
					src="<{$banner[web].url}>"<{if $smarty.section.web.index+1 eq
					'4'}> width="240" height="330"<{elseif $smarty.section.web.index+1 eq
					'7'}> width="444" height="160" <{else}> width="240"
					height="160"<{/if}> /></a></li>
			<{/section}>
		</ul>
		<{/if}>
	</div>
	<{/if}>
	<div class="wrapper">
		<{if $template neq 'branch'}><!--出发地目的地筛选-->
		<div class="address_select clrfix">
			<ul class="set_out_box clrfix">
				<!--出发地-->
				<li>出发地：</li>
				<li><span<{if $go_start eq ''}> class="sob_on"<{/if}> data-id="">全部</span></li>
				<{foreach from=$chufa key=key item=chufaitem}>
				<li><span<{if $go_start eq $key}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/<{$key}>-<{$go_end}>-<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>"><{$chufaitem}></a></span></li>
				<{/foreach}>
			</ul>
			<ul class="dest_zhou_box clrfix">
				<!--目的地-洲-->
				<div class="dest_hd">所在地：</div>
				<li<{if $go_end eq ''}> class="dest_zhou_on"<{/if}> data-id="">全部</li>
				<{section name=a loop=$stat}>
				<li<{if $go_end eq $smarty.section.a.index+1}> class="dest_zhou_on"<{/if}> data-id="<{$smarty.section.a.index+1}>"><{$stat[a]}></li>
				<{/section}>
			</ul>
			<ul class="dest_guo_box">
				<!--目的地-国家-->
				<li class="clrfix<{if $go_end eq ''}> dest_guo_on<{/if}>">
					<!--全部--><span<{if $go_end2 eq ''}> class="sob_on"<{/if}> data-id="">全部</span>
					<{section name=i loop=$area}>
					<{section name=j loop=$area[i]}>
					<span<{if $go_end2 eq $area[i][j].id}> class="sob_on"<{/if}> data-id="<{$area[i][j].id}>"><{$area[i][j].title}></span>
					<{/section}>
					<{/section}>
				</li><{section name=i loop=$area}>
				<li class="clrfix<{if $go_end eq $smarty.section.i.index+1}> dest_guo_on<{/if}>">
					<{section name=j loop=$area[i]}>
					<span<{if $go_end2 eq $area[i][j].id}> class="sob_on"<{/if}> data-id="<{$area[i][j].id}>">
					<{$area[i][j].title}>
				</span><{/section}>
				</li><{/section}>
			</ul>
			<ul id="number_days" class="sob_box clrfix">
				<!--行程天数-->
				<li>行程天数：</li>
				<li><span<{if $go_days eq ''}> class="sob_on"<{/if}> data-id="">全部</span></li>
				<{section name=i loop=$days}><li>
					<span<{if $go_days eq $days[i].go_day}> class="sob_on"<{/if}> data-id="<{$days[i].go_day}>"><{$days[i].go_day}></span>
				</li><{/section}>
			</ul>
			<ul class="travel_time clrfix">
				<!--出游时间-->
				<li class="tt_hd">出游时间：</li>
				<li class="tt_input"><input type="text" id="j_Date1" placeholder="yyyy-mm-dd" /></li>
				<li class="tt_input"><input type="text" id="j_Date2" placeholder="yyyy-mm-dd" /></li>
			</ul>
			<ul id="go_money" class="sob_box clrfix">
				<!--预算花费-->
				<li>预算花费：</li>
				<li><span<{if $go_money eq ''}> class="sob_on"<{/if}> data-id="">全部</span></li>
				<{foreach from=$huafei key=huafeikey item=huafeiitem}><li>
					<span<{if $go_money eq $huafeikey}> class="sob_on"<{/if}> data-id="<{$huafeikey}>"><{$huafeiitem}></span>
				</li><{/foreach}>
			</ul>
		</div>
		<ul class="recom_select clrfix">
			<!-- complex -->
			<li data-id="id"<{if $order eq 'id'}>class="sob_on"<{/if}>>综合</li>
			<li data-id="recommend"<{if $order eq 'recommend'}>class="sob_on"<{/if}>>推荐</li>
			<li data-id="sale"<{if $order eq 'hots'}>class="sob_on"<{/if}>>销量</li>
			<li data-id="price2" id="orderby"<{if $order eq 'price2'}>class="sob_on"<{/if}>>价格<{if $orderby eq 'asc'}>↑<{elseif $orderby eq 'desc'}>↓<{else}><span class="rs_icon"></span><{/if}></li>
		</ul><{/if}>
		<!--内容区-->
		<div class="dm_box">
			<ul class="domestic_main clrfix">
				<{foreach item=tour name=tour from=$comments}>
				<li>
					<a class="dm_img" href="/tour/<{$tour.id}>" target="_blank"><img src="<{$tour.url}>" width="374" height="230" /></a>
					<div class="dm_bd">
						<a href="/tour/<{$tour.hid}>" target="_blank"><{$tour.title}></a><{$tour.biaoti}>
					</div> <a href="/tour/<{$tour.hid}>" class="dm_more" target="_blank">更多团期</a>
					<!--根据栏目改变样式-->
					<div class="dm_price">
						￥<span><{$tour.price2}></span>
					</div></li>
					<{/foreach}>
			</ul>
		</div>
		<!--内容区-->
	</div>
	<div class="wrapper clrfix">
		<ul id="out"></ul>
		<ul class="page-box clrfix" id="my_page"></ul><{$page}>
	</div>
	<{include file="./view/common/footer.html"}>
	<!--除邮轮、私人定制都需要加上广告-->
	<{include_php file="./view/common/right.php"}>
</body>
</html>
<script src="<{$siteurl}>/resources/js/Calendar.js"></script>
<script src="<{$siteurl}>/resources/js/lib/jquery.pagination.js"></script>
<script src="<{$siteurl}>/resources/js/lib/minrouter.js"></script>
<script>
	$(".dest_zhou_box li").click(function() {//筛选洲/城市
		var dz_num = $(this).index(".dest_zhou_box li");
		$(this).siblings().removeClass("dest_zhou_on");
		$(this).addClass("dest_zhou_on");
		$(".dest_guo_box li").siblings().removeClass("dest_guo_on");
		$(".dest_guo_box li").eq(dz_num).addClass("dest_guo_on");
		$(".dest_guo_box li span").removeClass("sob_on");
	});
	$(".dest_guo_box li span").click(function(){//出发地
		$(this).siblings().removeClass("sob_on");
		$(this).addClass("sob_on");async_select(1);
	});
	$(".sob_box li span").click(function(){//筛选条件
		$(this).parent().siblings().find("span").removeClass("sob_on");
		$(this).addClass("sob_on");async_select(1);
	});
	$(".recom_select li").click(function(){
		$(this).siblings().removeClass("sob_on");
		$(this).addClass("sob_on");async_select(1);
	});
	function async_select(p){
		var request = {
			"cid" : <{$cid}>,"cid2" : <{$cid2}>,
			"go_start" : $(".set_out_box .sob_on").attr("data-id"),
			"go_end" : $(".dest_zhou_box .dest_zhou_on").attr("data-id"),
			"go_end2" : $(".dest_guo_box .sob_on").attr("data-id"),
			"go_days" :$("#number_days .sob_on").attr("data-id"),
			"go_starttime" :$("#j_Date1").val(),
			"go_endtime" : $("#j_Date2").val(),
			"go_money" : $("#go_money .sob_on").attr("data-id"),
			"order" : $(".recom_select .sob_on").attr("data-id"),
			"orderby" : $("#orderby").html().indexOf("span")?'':$("#orderby").html().indexOf("↑")?'asc':'desc',
			"page" : p
		};
		$.ajax({
			type : "POST",
			url : '/getajax.php?action=tours&rnd=' + Math.random(),
			timeout : 1000 * 60 * 5,
			data : JSON.stringify(request),
			dataType: "json",
			contentType : 'html;charset=utf-8',
			success : function(json) {
				var li = '';pageObj.currentPage = parseInt(json.page) - 1;
				$.each(json.res, function(i, val) {
				  var tmpl = ['<li><a class="dm_img" href="/detail/'+val.id+'" target="_blank">',
					'<img src="'+val.url+'" width="374" height="230" /></a>',
					'<div class="dm_bd">',
						'<a href="/detail/'+val.id+'" target="_blank">'+val.title+'</a>',
						val.biaoti==""||val.biaoti=="null"?"":val.biaoti,
					'</div>',
					'<a href="/tour/'+val.hid+'" class="dm_more" target="_blank">更多团期</a>',
					'<div class="dm_price">',
						'￥<span>'+val.price2+'</span>',
					'</div></li>'].join('\n');
					li += tmpl;
				});
				$(".domestic_main").html(li);
				if(pageObj.totalCount != json.num){
					pageObj.totalCount = json.num;
					paginate("my_page", pageObj, {});
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				if (textStatus == 'timeout') {
					alert("网络不给力，刷新重试！");
					// window.location.reload();
				}
			}
		});
	}
	var pageObj = {
		totalCount :<{$totalnum}>,
		perPageCount :6,
		callback:function(par){
			async_select(par.page);
		},
		// PageUrl : '<{$link_to}>__id__',
		currentPage:0
	};
	paginate("my_page", pageObj, {});
	function paginate(containerId, pageObj, searchObj) {
		var totalCount = pageObj.totalCount
		,perPageCount = pageObj.perPageCount ? pageObj.perPageCount : 6
		,callback = pageObj.callback
		,PageUrl = pageObj.PageUrl
		,currentPage = pageObj.currentPage;
		$("#" + containerId).pagination(totalCount, {
			items_per_page : perPageCount,
			num_display_entries : 6,
			current_page : currentPage,
			num_edge_entries : 1,
			link_to : PageUrl,
			callback : pageselectCallback
		});
		function pageselectCallback(page_id, jq) {
			$.extend(searchObj, {
				"page" : page_id + 1,
				"rows" : perPageCount
			});
			callback(searchObj, false);
		}
	}
	// usage
	var router = new MinRouter({
		links: document.querySelectorAll('a[href]'),//.getElementById('my_page'),//
		routes: {
			'/scenic': 'page',
			'/tour/<{$action}>/*path/:page': 'page',
			'/go': 'go'
		},
		page: function(path,num) {
			document.getElementById('out').innerHTML = 'You click identifier, Page is <span style="color:red;">' + path + ',' + num + '</span>';
		},
		go: function() {
			router.go('/start/654321');
		}
	});
	router.start();
</script>
