<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/OrderForm.css" rel="stylesheet" type="text/css">

</head>
<body>
	<{include_php file="./view/common/header.php"}>
	<div class="wrapper">
		<!--订单进程-->
		<ul class="fill_top of_top">
			<li class="ft1"><span>填写信息</span></li>
			<li class="fta"></li>
			<li class="ft2"><span>核对订单</span></li>
			<li class="ftb"></li>
			<li class="ft3"><span>订单支付</span></li>
			<li class="ftc"></li>
			<li class="ft4"><span>支付完成</span></li>
		</ul>
	</div>
	<div class="wrapper clrfix">
		<!--订单内容-->
		<div class="fill_left fl">
			<div class="of_info">
				<div class="info_title">
					<span>订单信息</span>
				</div>
				<ul class="info_bd">
					<li>产品名称：<span><{$info.title}></span></li>
					<li>出发城市：<span><{$info.departure}></span>出行时间：<span><{$info.go_time}></span>行程天数：<span><{$info.go_day}>天</span>出行人数：<span><{$info.go_num}></span></li>
				</ul>
			</div>
			<div class="of_info traffic_info">
				<div class="info_title">
					<span>交通信息</span>
				</div>
			</div>
			<div class="of_info hotel_info">
				<div class="info_title">
					<span>酒店信息</span>
				</div>
			</div>
			<div class="of_info add_info">
				<div class="info_title">
					<span>可附加商品</span>
				</div>
				<table width="100%">
					<tr class="table_hd">
						<td align="left">类别</td>
						<td align="center">商品名称</td>
						<td align="center">价格</td>
						<td align="right">数量</td>
					</tr>
					<tr class="table_bd">
						<td align="left">签证</td>
						<td align="center">巴厘岛签证</td>
						<td align="center">￥200.00</td>
						<td align="right">2</td>
					</tr>
				</table>
			</div>
			<div class="of_info contact_info">
				<div class="info_title">
					<span>联系人信息</span>
				</div>
				<table width="100%">
					<tr>
						<td width="100"><span>*</span>联系人：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>手机：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>邮箱：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;特殊需求：</td>
						<td><input type="text" class="w450" /></td>
					</tr>
				</table>
			</div>
			<div class="choose_box">
				选择已有出行人：<label><input type="checkbox" name="CheckboxGroup1"
					value="复选框" id="CheckboxGroup1_0">王海璐</label> <label><input
					type="checkbox" name="CheckboxGroup1_" value="复选框"
					id="CheckboxGroup1_1">刘晶晶</label>
			</div>
			<div class="of_info travel_info">
				<div class="info_title">
					<span>出行人信息</span>
				</div>
				<table width="100%">
					<tr class="table_hd">
						<td colspan="4">第一位出行人<span>清空</span></td>
					</tr>
					<tr>
						<td width="100"><span>*</span>中文姓名：</td>
						<td><input type="text" /></td>
						<td width="90"></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>英文姓：</td>
						<td><input type="text" /></td>
						<td><span>*</span>英文名：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>国籍：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>出生地：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>证件类型：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td><span>*</span>证件号：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>签发地：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>签发日期：</td>
						<td><input type="text" /></td>
						<td><span>*</span>到期日期：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>性别：</td>
						<td><select name="">
								<option>男</option>
								<option>女</option>
						</select></td>
						<td><span>*</span>生日：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>手机：</td>
						<td><input type="text" /></td>
						<td>&nbsp;&nbsp;邮箱：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>成人/儿童：</td>
						<td><select name="">
								<option>成人</option>
								<option>儿童</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
				</table>
				<table width="100%">
					<tr class="table_hd">
						<td colspan="4">第二位出行人<span>清空</span></td>
					</tr>
					<tr>
						<td width="100"><span>*</span>中文姓名：</td>
						<td><input type="text" /></td>
						<td width="90"></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>英文姓：</td>
						<td><input type="text" /></td>
						<td><span>*</span>英文名：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>国籍：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>出生地：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>证件类型：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td><span>*</span>证件号：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>签发地：</td>
						<td><select name="">
								<option>中国</option>
								<option>外国</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><span>*</span>签发日期：</td>
						<td><input type="text" /></td>
						<td><span>*</span>到期日期：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>性别：</td>
						<td><select name="">
								<option>男</option>
								<option>女</option>
						</select></td>
						<td><span>*</span>生日：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>手机：</td>
						<td><input type="text" /></td>
						<td>&nbsp;&nbsp;邮箱：</td>
						<td><input type="text" /></td>
					</tr>
					<tr>
						<td><span>*</span>成人/儿童：</td>
						<td><select name="">
								<option>成人</option>
								<option>儿童</option>
						</select></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="fill_agree">
				<input name="" type="checkbox" value="">我已认真<a href="#">阅读本合同</a>内容，并同意严格遵守。
			</div>
			<div class="fill_step">
				<a href="OrderForm_verify.html" class="fill_next">下一步</a> <a
					href="commodity_details.html" class="fill_back">返回上一步</a>
			</div>
		</div>
		<div class="fill_right fr">
			<ul class="pay_info">
				<li>支付信息</li>
				<li><span class="pi_left">1成人</span><span class="pi_right">￥3349</span></li>
				<li><span class="pi_left">1儿童</span><span class="pi_right">￥3049</span></li>
				<li><span class="pi_left">附加费</span><span class="pi_right">￥110</span></li>
				<li><span class="pi_left">房差费</span><span class="pi_right">￥0</span></li>
				<li class="pay_line"></li>
				<li class="total_price">计算总价：<em>￥6508</em></li>
			</ul>
		</div>
	</div>

	<{include file="./view/common/footer.html"}>

</body>
</html>
