<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet"
	type="text/css">
<link href="<{$siteurl}>/resources/css/OrderForm.css" rel="stylesheet"
	type="text/css">
<script type="text/javascript" src="<{$siteurl}>/resources/js/jquery-1.9.1.min.js"></script>
</head>
<body>
	<{include_php file="./view/common/header.php"}>
	<!--<div class="wrapper">
		订单进程
		<ul class="fill_top of_top">
			<li class="ft1"><span>填写信息</span></li>
			<li class="fta"></li>
			<li class="ft2"><span>核对订单</span></li>
			<li class="ftb"></li>
			<li class="ft3"><span>订单支付</span></li>
			<li class="ftc"></li>
			<li class="ft4"><span>支付完成</span></li>
		</ul>
	</div>-->
	<div class="wrapper clrfix">
		<!--订单内容-->
		<form action="/orderdetailfill?aa" method="post" name="formnew">
			<input name="action" type="hidden" value="add" /> <input name="id"
				type="hidden" value="<{$info.id}>" /> <input name="peoplenum"
				type="hidden" value="<{$peoplenum}>" /> <input name="price"
				type="hidden" value="<{$price}>" />
			<div class="fill_left fl">
				<div class="of_info">
					<div class="info_title">
						<span>订单信息</span>
					</div>
					<ul class="info_bd">
						<li>景点：<span><{$info.title}></span></li>
						<!-- <li>出发城市：<span><{$info.departure}></span>出行时间：<span><{$info.go_time}></span>行程天数：<span><{$info.go_day}>天</span>出行人数：<span><{$info.go_num}></span></li> -->
					</ul>
				</div>
				<div class="of_info contact_info">
					<div class="info_title">
						<span>联系人信息</span>
					</div>
					<table width="100%">
						<tr>
							<td width="100"><span>*</span>联系人：</td>
							<td><input type="text" name="name" /></td>
						</tr>
						<tr>
							<td width="100"><span>*</span>预约时间：</td>
							<td><input type="text" name="ordertime" /></td>
						</tr>
						<tr>
							<td><span>*</span>手机：</td>
							<td><input type="text" name="tel" /></td>
						</tr>
						<tr>
							<td><span>*</span>邮箱：</td>
							<td><input type="text" name="email" /></td>
						</tr>
						<tr>
							<td>&nbsp;&nbsp;特殊需求：</td>
							<td><input type="text" class="w450" name="info" /></td>
						</tr>
					</table>
				</div>
				<!-- 	<div class="choose_box">
					选择已有出行人：<label><input type="checkbox" name="CheckboxGroup1"
						value="复选框" id="CheckboxGroup1_0">王海璐</label> <label><input
						type="checkbox" name="CheckboxGroup1_" value="复选框"
						id="CheckboxGroup1_1">刘晶晶</label>
				</div> 
				<div class="fill_agree">
					<input name="" type="checkbox" value="">我已认真<a href="#">阅读本合同</a>内容，并同意严格遵守。
				</div>-->
				<div class="fill_step">
					<a href="javascript:tijiao();" class="fill_next">下一步</a>
				</div>
			</div>
			<div class="fill_right fr">
				<ul class="pay_info">
					<li>支付信息</li>
					<li><span class="pi_left"><{$peoplenum}>成人</span><span
						class="pi_right">￥<{$info.price1}></span></li>
					<li class="pay_line"></li>
					<li class="total_price">计算总价：<em>￥<{$price}></em></li>
				</ul>
			</div>
		</form>
	</div>

	<{include file="./view/common/footer.html"}>
	<script type="text/javascript">
		function tijiao() {
			var name = $("input[name='name']").val();
			var ordertime = $("input[name='ordertime']").val();
			var tel = $("input[name='tel']").val();
			var email = $("input[name='email']").val();
			var info = $("input[name='info']").val();
			if (name == "") {
				alert("请输入联系人");
			} else if (ordertime == "") {
				alert("请输入预约时间");
			} else if (tel == "") {
				alert("请输入手机号");
			} else if (email == "") {
				alert("请输入email");
			} else {
				$("form[name='formnew']").submit();
			}
		}
	</script>
</body>
</html>
