<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>线路_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet"
	type="text/css">
<link href="<{$siteurl}>/resources/css/index.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="<{$siteurl}>/resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="<{$siteurl}>/resources/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="<{$siteurl}>/resources/js/index.js"></script>
</head>
<body>
	<{include_php file="./view/common/header.php"}>

	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="/">首页</a>&gt;<a href="/route/">线路</a>
	</div>
	<!--根据不同列表做变化-->
	<{if $enname eq 'cruises'}>
	<div class="cruises_banner">
		<!--top-img-->
		<{section name=web loop=$banner}> <a href="<{$banner[web].mypath}>"
			class="cruises_top" target="_blank"><img
			src="<{$banner[web].url}>" width="1920" height="330" /></a> <{/section}>
	</div>
	<{else}>


	<div class="wrapper">
		<!--top-img-->
		<{if $enname eq 'overseas'}> <{section name=web loop=$banner}> <a
			href="<{$banner[web].mypath}>" class="overseas_top" target="_blank"><img
			src="<{$banner[web].url}>" width="1200" height="160" /></a> <{/section}>
		<{else}>
		<ul class="domestic_top">
			<{section name=web loop=$banner}>
			<li class="dom_t<{$smarty.section.web.index+1}>"><a
				href="<{$banner[web].mypath}>" target="_blank"><img
					src="<{$banner[web].url}>"<{if $smarty.section.web.index+1 eq
					'4'}> width="240" height="330"<{elseif $smarty.section.web.index+1
					eq '7'}> width="444" height="160" <{else}> width="240"
					height="160"<{/if}> /></a></li> <{/section}>
		</ul>
		<{/if}>
	</div>
	<{/if}>
	<div class="wrapper">

		<!--内容区-->
		<div class="dm_box">
			<ul class="domestic_main clrfix">
				<{foreach item=tour name=tour from=$comments}>
				<li><a class="dm_img" href="/tour/<{$tour.hid}>"
					target="_blank"><img src="<{$tour.url}>" width="374"
						height="230" /></a>
					<div class="dm_bd">
						<a href="/tour/<{$tour.hid}>" target="_blank"><{$tour.name}></a><{$tour.title}>
					</div> <a href="/tour/<{$tour.hid}>" class="dm_more" target="_blank">更多团期</a>
					<!--根据栏目改变样式-->
					<div class="dm_price">
						￥<span><{$tour.price_2}></span>
					</div></li><{/foreach}>
			</ul>
		</div>
		<!--内容区-->
	</div>
	<div class="wrapper clrfix">
		<!--页码-->
		<ul class="page_box clrfix"><{$multipage}>
		</ul>
	</div>

	<{include file="./view/common/footer.html"}>
	<!--除邮轮、私人定制都需要加上广告-->
	<{include_php file="./view/common/right.php"}>
</body>
</html>
<script type="text/javascript" src="<{$siteurl}>/resources/js/Calendar.js"></script>
<script type="text/javascript">
	
</script>
