<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/index.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/page.css" rel="stylesheet" type="text/css">
</head>
<body>
	<{include_php file="./view/common/header.php"}>
	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="./">首页</a>&gt;<a href="./<{$enname}>/"><{$cnname}></a>
	</div>
	<{if $banner neq ''}><div class="wrapper">
		<!--top-img-->
		<ul class="domestic_top">
			<{section name=web loop=$banner}>
			<li class="dom_t<{$smarty.section.web.index+1}>"><a
				href="<{$banner[web].mypath}>" target="_blank"><img
					src="<{$banner[web].url}>"<{if $smarty.section.web.index+1 eq
					'4'}> width="240" height="330"<{elseif $smarty.section.web.index+1
					eq '7'}> width="444" height="160" <{else}> width="240"
					height="160"<{/if}> /></a></li> <{/section}>
		</ul>
	</div><{/if}>
	<div class="wrapper">
		<{if $jingwai neq '1'}><!--条件筛选-->
		<div class="address_select clrfix">
			<ul class="dest_zhou_box clrfix">
				<!--目的地-洲-->
				<div class="dest_hd">所在地：</div>
				<li<{if $go_end eq ''}> class="dest_zhou_on"<{/if}> data-id="">全部</li>
				<{section name=a loop=$stat}>
				<li<{if $go_end eq $smarty.section.a.index+1}> class="dest_zhou_on"<{/if}> data-id="<{$smarty.section.a.index+1}>"><{$stat[a]}></li>
				<{/section}>
			</ul>
			<ul class="dest_guo_box">
				<!--目的地-国家-->
				<li class="clrfix<{if $go_end eq ''}> dest_guo_on<{/if}>">
					<!--全部--> <span<{if $go_end2 eq ''}> class="sob_on"<{/if}> data-id="">全部</span>
					<{section name=i loop=$area}><{section name=j loop=$area[i]}><span<{if
						$go_end2 eq $area[i][j].id}> class="sob_on"<{/if}> data-id="<{$area[i][j].id}>"><{$area[i][j].title}>
				</span><{/section}><{/section}>
				</li><{section name=i loop=$area}>
				<li class="clrfix<{if $go_end eq $smarty.section.i.index+1}> dest_guo_on<{/if}>">
					<{section name=j loop=$area[i]}>
					<span<{if $go_end2 eq $area[i][j].id}> class="sob_on"<{/if}> data-id="<{$area[i][j].id}>">
					<{$area[i][j].title}>
				</span><{/section}>
				</li><{/section}>
			</ul>
			<ul id="v_modle" class="sob_box clrfix">
				<li>主题类型：</li>
				<li><span<{if $go_type eq ''}> class="sob_on"<{/if}> data-id="">全部</span></li>
				<{foreach name=gotype item=types from=$go_types}><li>
					<span<{if $go_type eq $types.id}> class="sob_on"<{/if}> data-id="<{$types.id}>"><{$types.title}></span>
				</li><{/foreach}>
			</ul>
			<ul id="v_type" class="sob_box clrfix">
				<li>景点级别：</li>
				<li><span<{if $go_item eq ''}> class="sob_on"<{/if}> data-id="">全部</span></li>
				<{foreach name=vtype item=item from=$vtype}><li>
					<span<{if $go_item eq $item.id}> class="sob_on"<{/if}> data-id="<{$item.id}>"><{$item.title}></span>
				</li><{/foreach}>
			</ul>
			<ul id="v_price" class="sob_box clrfix">
				<li>价格区间：</li>
				<li><span<{if $go_money eq ''}> class="sob_on"<{/if}> data-id="">全部</span></li>
				<li><span<{if $go_money eq '0，50'}> class="sob_on"<{/if}> data-id="0，50">50以内</span></li>
				<li><span<{if $go_money eq '50，100'}> class="sob_on"<{/if}> data-id="50，100">50-100</span></li>
				<li><span<{if $go_money eq '100'}> class="sob_on"<{/if}> data-id="100">100以上</span></li>
			</ul>
		</div>
		<ul class="recom_select clrfix">
			<li data-id=""<{if $order eq ''}>class="sob_on"<{/if}>>综合</li>
			<li data-id="recommend"<{if $order eq 'hits'}>class="sob_on"<{/if}>>点击</li>
			<li data-id="sale"<{if $order eq 'hots'}>class="sob_on"<{/if}>>销量</li>
			<li data-id="price" id="orderby"<{if $order eq 'price'}>class="sob_on"<{/if}>>价格<{if $orderby eq 'asc'}>↑<{elseif $orderby eq 'desc'}>↓<{else}><span class="rs_icon"></span><{/if}></li>
		</ul><{/if}>
		<div class="dm_box">
			<ul class="domestic_main clrfix">
				<!--内容区-->
				<{foreach item=data name=data from=$comments}>
				<li><a class="dm_img" href="/detail/<{$data.id}>" target="_blank">
					<img src="<{$data.url}>" width="374" height="230" /></a>
					<div class="dm_bd">
						<a href="/detail/<{$data.id}>" target="_blank"><{$data.title}></a><{$data.word}>
					</div>
					<{if $jingwai neq '1'}><!--条件筛选--><div class="dm_price">
						<{if $data.cid eq 57 or $data.cid eq 65}>￥<{else}>$<{/if}><span><{$data.price2}></span>
					</div><{/if}></li><{/foreach}>
			</ul>
		</div>
	</div>
	<div class="wrapper clrfix">
		<ul class="page-box clrfix" id="my_page"></ul>
	</div>
	<{include file="./view/common/footer.html"}>
	<{include_php file="./view/common/right.php"}>
	<script src="/resources/js/lib/jquery.pagination.js"></script>
	<script>
		$(".dest_zhou_box li").click(function() {//筛选洲/城市
			var dz_num = $(this).index(".dest_zhou_box li");
			$(this).siblings().removeClass("dest_zhou_on");
			$(this).addClass("dest_zhou_on");
			$(".dest_guo_box li").siblings().removeClass("dest_guo_on");
			$(".dest_guo_box li").eq(dz_num).addClass("dest_guo_on");
			$(".dest_guo_box li span").removeClass("dga_on");
		});
		$(".dest_guo_box li span").click(function(){//出发地
			$(this).siblings().removeClass("sob_on");
			$(this).addClass("sob_on");async_select(1);
		});
		$(".sob_box li span").click(function(){//筛选条件
			$(this).parent().siblings().find("span").removeClass("sob_on");
			$(this).addClass("sob_on");async_select(1);
		});
		$(".recom_select li").click(function(){
			$(this).siblings().removeClass("sob_on");
			$(this).addClass("sob_on");async_select(1);
		});
		function async_select(p){
			var request = {
				"go_end" : $(".dest_zhou_on").attr("data-id"),
				"go_end2" : $(".dest_guo_box .sob_on").attr("data-id"),
				"go_modle" :$("#v_modle .sob_on").attr("data-id"),
				"go_type" : $("#v_type .sob_on").attr("data-id"),
				"go_price" : $("#v_price .sob_on").attr("data-id"),
				"order" : $(".recom_select .sel_on").attr("data-id"),
				"orderby" : $("#orderby").html().indexOf("span")?'':$("#orderby").html().indexOf("↑")?'asc':'desc',
				"page" : p
			};
			$.ajax({
				type : "POST",
				url : '/getajax.php?action=scenic&rnd=' + Math.random(),
				timeout : 1000 * 60 * 5,
				data : JSON.stringify(request),
				dataType: "json",
				contentType : 'html;charset=utf-8',
				success : function(json) {
					var li = '';pageObj.currentPage = parseInt(json.page) - 1;
					$.each(json.res, function(i, val) {
					  var tmpl = ['<li><a class="dm_img" href="/detail/'+val.id+'" target="_blank">',
						'<img src="'+val.url+'" width="374" height="230" /></a>',
						'<div class="dm_bd">',
							'<a href="/detail/'+val.id+'" target="_blank">'+val.title+'</a>'+val.word+'',
						'</div>',
						'<div class="dm_price">',
							val.material==""?"￥":val.material,
							'<span>'+val.price2+'</span>',
						'</div></li>'].join('\n');
						li += tmpl;
					});
					$(".domestic_main").html(li);
					if(pageObj.totalCount != json.num){
						pageObj.totalCount = json.num;
						paginate("my_page", pageObj, {});
					}
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					if (textStatus == 'timeout') {
						alert("网络不给力，刷新重试！");
						// window.location.reload();
					}
				}
			});
		}
		var pageObj = {
			totalCount :<{$totalnum}>,
			perPageCount :6,
			callback:function(par){
				async_select(par.page);
			},
			currentPage:0
		};
		paginate("my_page", pageObj, {});
		function paginate(containerId, pageObj, searchObj) {
				var totalCount = pageObj.totalCount;
				var perPageCount = pageObj.perPageCount ? pageObj.perPageCount : 6;
				var callback = pageObj.callback;
				var currentPage = pageObj.currentPage;
				$("#" + containerId).pagination(totalCount, {
					items_per_page : perPageCount,
					num_display_entries : 6,
					current_page : currentPage,
					num_edge_entries : 1,
					callback : pageselectCallback
				});
				function pageselectCallback(page_id, jq) {
					$.extend(searchObj, {
						"page" : page_id + 1,
						"rows" : perPageCount
					});
					callback(searchObj, false);
				}
			}
	</script>
</body>
</html>
