<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$arrviedhtml}>_<{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<{include_php file="./view/common/header.php"}>
	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="/">首页</a>&gt;搜索
	</div>
	<!--根据不同列表做变化-->
	<div class="wrapper">
		<!--top-img-->
		<a href="#" class="overseas_top"><img src="<{$siteurl}>/resources/images/domestic_top.jpg" width="1200" height="160" /></a>
	</div>
	<div class="wrapper">
		<!--说明搜索-->
		<div class="address_select clrfix">
			<ul class="set_out_box"><li><{if $totalnum eq 0}>没有<{/if}>与“<span style="font-weight:bold;color:green"><{$cnname}></span>” 相关的<{$arrviedhtml}></li></ul>
		</div>
		<!--内容区-->
		<div class="dm_box">
			<ul class="domestic_main clrfix">
				<{if $arrvied eq 'tour'}>
				<{foreach item=tour name=tour from=$comments}><li>
					<a class="dm_img" href="<{$links}>/<{$tour.hid}>"><img src="<{$tour.url}>" width="374" height="230" /></a>
					<div class="dm_bd">
						<a href="<{$links}>/<{$tour.hid}>"><{$tour.name}><{$tour.title}></a><{$tour.feature}>
					</div>
					<a href="<{$links}>/<{$tour.hid}>" class="dm_more">更多团期</a>
					<div class="dm_price">￥<span><{$tour.price2}></span></div>
				</li><{/foreach}>
				<{else}>
				<{foreach item=tour name=tour from=$comments}><li>
					<a class="dm_img" href="<{$links}>/<{$tour.hid}>"><img src="<{$tour.url}>" width="374" height="230" /></a>
					<div class="dm_bd">
						<a href="<{$links}>/<{$tour.hid}>">[<{$tour.title}>]<{$tour.keyword}></a><{$tour.word}>
					</div>
					<{if $tour.types neq 3}><a href="<{$links}>/<{$tour.hid}>" class="dm_more"><{$tour.addtime}></a><{/if}>
					<div class="dm_price"><!--$tour.material--><{if $tour.types neq '5'}>￥<span><{$tour.price2}></span><{else}><span></span><{/if}></div>
				</li><{/foreach}>
				<{/if}>
			</ul>
		</div>
		<!--内容区-->
	</div>
	<div class="wrapper clrfix">
		<!--页码-->
		<ul class="page_box clrfix"><{$multipage}></ul>
	</div>
	<{include file="./view/common/footer.html"}>
	<{include_php file="./view/common/right.php"}>
</body>
</html>
