<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><{$cnname}>_旅行社_<{$ktitle}>_金桥</title>
<link href="<{$siteurl}>/resources/css/global.css" rel="stylesheet" type="text/css">
<link href="<{$siteurl}>/resources/css/index.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="<{$siteurl}>/resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="<{$siteurl}>/resources/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="<{$siteurl}>/resources/js/index.js"></script>
</head>
<body>
	<{include_php file="./view/common/header.php"}>

	<div class="wrapper now_position">
		<!--当前位置-->
		<a href="/">首页</a>&gt;<a href="/<{$enname}>/"><{$cnname}></a>
	</div>
	<!--根据不同列表做变化-->
	<div class="wrapper">
		<!--top-img-->
		<a href="#" class="overseas_top"><img src="images/domestic_top.jpg" width="1200" height="160" /></a>
	</div>

	<div class="wrapper">
		<!--出发地目的地筛选-->
		<div class="address_select clrfix">
			<ul class="set_out_box clrfix">
				<!--出发地-->
				<li>出发地：</li>
				<li><span<{if $go_start eq ''}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/-<{$go_end}>-<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>">全部</a></span></li>

				<{foreach from=$chufa key=key item=chufaitem}>
				<li><span<{if $go_start eq $key}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/<{$key}>-<{$go_end}>-<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>"><{$chufaitem}></a></span></li>
				<{/foreach}>
			</ul>
			<ul class="dest_zhou_box clrfix">
				<!--目的地-洲-->
				<div class="dest_hd">目的地：</div>
				<li<{if $go_end eq ''}> class="dest_zhou_on"<{/if}>><a
					href="/<{$enname}>/<{$go_start}>--<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>">全部</a></li>
				<{foreach from=$mudi key=mudikey item=mudiitem}>
				<li<{if $go_end eq $mudikey}> class="dest_zhou_on"<{/if}>><a
					href="/<{$enname}>/<{$go_start}>-<{$mudikey}>-<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>"><{$mudiitem}></a></li>
				<{/foreach}>
			</ul>
			<ul class="dest_guo_box">
				<!--目的地-国家-->
				<li class="clrfix dest_guo_on" id="dest_guo_on"></li>
				<script language=javascript>
					loadcontent('<{$enname}>', '<{$go_end}>', '<{$go_end2}>');
					function loadcontent(_enname, _end, _end2) {
						var url = '/index/getajax.php?action=getend&end='
								+ _end
								+ '&end2='
								+ _end2
								+ '&enname='
								+ _enname
								+ "&go_start=<{$go_start}>&go_days=<{$go_days}>&go_starttime=<{$go_starttime}>&go_endtime=<{$go_endtime}>&go_money=<{$go_money}>&go_tuijian=<{$go_tuijian}>&go_sall=<{$go_sall}>&go_hot=<{$go_hot}>";
						$("#dest_guo_on").load(url)
					}
				</script>
			</ul>
			<ul class="number_days clrfix">
				<!--行程天数-->
				<li>行程天数：</li>
				<li><span<{if $go_days eq ''}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/<{$go_start}>-<{$go_end}>-<{$go_end2}>--<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>">全部</a></span></li>
				<{foreach from=$xingcheng key=xingchengkey item=xingchengitem}>
				<li><span<{if $go_days eq $xingchengkey}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/<{$go_start}>-<{$go_end}>-<{$go_end2}>-<{$xingchengkey}>-<{$go_starttime}>-<{$go_endtime}>-<{$go_money}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>"><{$xingchengitem}></a></span></li>
				<{/foreach}>
		
			</ul>
			<ul class="travel_time clrfix">
				<!--出游时间-->
				<li class="tt_hd">出游时间：</li>
				<li class="tt_input"><input type="text" id="j_Date1"
					placeholder="yyyy-mm-dd" /></li>
				<li class="tt_input"><input type="text" id="j_Date2"
					placeholder="yyyy-mm-dd" /></li>
			</ul>
			<ul class="sob_box clrfix">
				<!--预算花费-->
				<li>预算花费：</li>
					<li><span<{if $go_money eq ''}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/<{$go_start}>-<{$go_end}>-<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>--<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>">全部</a></span></li>
				<{foreach from=$huafei key=huafeikey item=huafeiitem}>
				<li><span<{if $go_money eq $huafeikey}> class="sob_on"<{/if}>><a
						href="/<{$enname}>/<{$go_start}>-<{$go_end}>-<{$go_end2}>-<{$go_days}>-<{$go_starttime}>-<{$go_endtime}>-<{$huafeikey}>-<{$go_tuijian}>-<{$go_sall}>-<{$go_hot}>"><{$huafeiitem}></a></span></li>
				<{/foreach}>
			</ul>
		</div>
		<ul class="recom_select clrfix">
			<!--强力推荐-->
			<li><a href="/<{$enname}>/<{$match}>/hits/<{if $orderby eq 'asc'}>desc<{else}>asc<{/if}>">强力推荐<{if $order eq 'hits'}>&nbsp;<{if $orderby eq 'asc'}>↑<{else}>↓<{/if}><{else}><span class="rs_icon"></span><{/if}></a></li>
			<li><a href="/<{$enname}>/<{$match}>/hots/<{if $orderby eq 'asc'}>desc<{else}>asc<{/if}>">销量<{if $order eq 'hots'}>&nbsp;<{if $orderby eq 'asc'}>↑<{else}>↓<{/if}><{else}><span class="rs_icon"></span><{/if}></a></li>
			<li><a href="/<{$enname}>/<{$match}>/price2/<{if $orderby eq 'asc'}>desc<{else}>asc<{/if}>">价格<{if $order eq 'price2'}>&nbsp;<{if $orderby eq 'asc'}>↑<{else}>↓<{/if}><{else}><span class="rs_icon"></span><{/if}></a></li>
		</ul>

		<!--内容区-->
		<div class="dm_box">
			<ul class="domestic_main clrfix">
				<{foreach item=tour name=tour from=$comments}>
				<li><a class="dm_img" href="/<{$enname}>/<{$tour.hid}>"><img
						src="<{$tour.url}>" width="374" height="230" /></a>
					<div class="dm_bd">
						<a href="/<{$enname}>/<{$tour.hid}>"><{$tour.name}></a><{$tour.title}>
					</div> <a href="/<{$enname}>/<{$tour.hid}>" class="dm_more">更多团期</a> <!--根据栏目改变样式-->
					<div class="dm_price">
						￥<span><{$tour.price_2}></span>
					</div></li><{/foreach}>
			</ul>
		</div>
		<!--内容区-->
	</div>
	<div class="wrapper clrfix">
		<!--页码-->
		<ul class="page_box clrfix"><{$multipage}>
		</ul>
	</div>

	<{include file="./view/common/footer.html"}>
	<!--除邮轮、私人定制都需要加上广告-->
	<{include_php file="./view/common/right.php"}>
</body>
</html>
<script type="text/javascript" src="<{$siteurl}>/resources/js/Calendar.js"></script>
<script type="text/javascript">

</script>
