@charset "utf-8";
body {
	margin: 8px 4px 2px 4px;
	background-color: #fff;
}
body,td,th {
	font-size: 12px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:link {color:#787878;text-decoration: none;}
a:visited {color:#787878;text-decoration: none;}
a:hover {color:#009286;text-decoration:underline;}
a:active {color:#787878;text-decoration: none;}

.checkbox{border:0;}
.border{border: 1px solid #0096CE;}
.tdbg{background:#DEF0FA;line-height: 120%;}
.tdbg1{background:#ABDEEF;}
.topbg{background:#0096CE;color: #FFFFFF;}
.Input {
	font-family:font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	border:1px;
	color:#333333;
}
.Select {
	font-family:font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	border:1px;
	color:#333333;
}
.textarea {
	font-family:font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	border:1px;
	color:#333333;
}
.radio{border:0;}

.table_1{
	/*border:#183789 solid 1px;*/
	border: 1px solid #0096CE;
	margin-bottom:22px;
}
.table_1 th{
	background:#0096CE;
	color:#fff;
	text-align:center;
	height:28px;
}
.table_1 td{
	min-height:25px;height:25px;
	background:#def0fa;
}
.table_1 .bg0{
	min-height:25px;height:25px;
	background:#def0fa;
}
.table_2 td{
	height:25px;
	background:#abdeef;
}
.title{background:#0096CE;}
.title1 {
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing:3PX;
}
.title2 {
	color: #FFFFFF;
	font-weight: bold;
	letter-spacing:3PX;
}
.title3 {
	color: #ff6600;
}
.style100 {color:#0066FF}
.style101 {
	color: #993300;
	font-weight: bold;
}
.bt {
font-size:12px;
height:22px;
PADDING-TOP: 2px;
background-color:#DEF0FA;
border-width:1px;}
.red{color:#FF3300}
/*calendar.js*/
#calendar a:link {color:#464646;text-decoration:none;}
#calendar a:visited {color:#464646;text-decoration:none;}
#calendar a:hover{color:#ed145b;text-decoration:underline;}
#calendar a:active{color:#ed145b;text-decoration:underline;}
#calendar td{font-size:12px}
/*/*/
/*DateCSS样式*/
.header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
.header td {padding-left: 10px;}
.header a {color: #154BA0;}
.header input {background:none;vertical-align: middle;height: 16px;}
.category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
.category td {border-bottom: 1px solid #DEDEB8;}
.expire, .expire a:link, .expire a:visited {color: #999999;}
.default, .default a:link, .default a:visited {color: #000000;}
.checked, .checked a:link, .checked a:visited {color: #FF0000;}
.today, .today a:link, .today a:visited {color: #00BB00;}
#calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
#calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
#calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
.tableborder {background: white;border: 1px solid #86B9D6;}
#year,#month{padding-right:10px;}